In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
List of function in the Python Notebook:
1) print()
2) len()
3) type() [ list, str, dict, tuple, set, int, float, complex]
4) pwd (present working directory)
5) %ls or ls (list of files in the directory)
6) String, immutability
7) String slicing

Whart is Variable?
Kind of entities that hold the data in your main memory(RAM), data could be excel, movie, image etc..

In [2]:
print("this is my first prog")

this is my first prog

In [3]:
len("string")

6

In [4]:
len(str(12)) # "12"

2

In [5]:
1+2

3

In [6]:
3/5

0.6

In [7]:
# To process a file, store data locally
# end result of 1 + 2 = 3, this 3 cannot use anywhere unless stored in RAM as entity
a = 10 # in RAM(volite memory, temporary), value 10 is stored and the reference variable is 'a'
moh = 5645641

In [8]:
a

10

In [9]:
moh

5645641

In [10]:
type(moh) #type is inbuilt func

int

In [11]:
b=23.45
c="stri"

In [12]:
type(b)

float

In [13]:
type(c)

str

In [14]:
#complex number x+yj (j is imaginary part)
d= 4+2j

In [15]:
type(d)

complex

In [16]:
e = True

In [17]:
type(e)

bool

In [18]:
a =123
b='str'
c=12.45
d=True
e=5+2j

In [19]:
a

123

In [20]:
#instead of write in 5 lines, can try in single line
a,b,c,d,e = 123, "stri", 23.45, True, 3+2j

In [21]:
a

123

In [22]:
e

(3+2j)

In [23]:
type(e)

complex

In [24]:
#how to extract the imag part from complex no
e.imag

2.0

In [25]:
e.real

3.0

In [26]:
#to see the inbuilt function associated with the variable
#variable.tab(key)
b.center

In [27]:
True + True # True is 1

2

In [28]:
2 + True

3

In [1]:
#Get input from user for a variable
input() #wat ever the data gets from input function is in "String", we need type cast to desirable type.

10

'10'

In [2]:
a = input()

mohan

In [5]:
a
# print(type(a))

'mohan'

In [32]:
type(a)

str

In [40]:
#take note if any value given in input function and it will be taken as String
b = 34
a+str(b)

'mohan34'

In [41]:
# So here, the input fun takes anything as string in order to add a+b, we need to die cast the function for "a"
int(a)+b

ValueError: invalid literal for int() with base 10: 'mohan'

In [42]:
int("2134")

2134

In [43]:
type(int("2134"))

int

In [44]:
type(str(1234))

str

In [45]:
pwd #python working directory

'C:\\Users\\mral\\Mohana Kalaiyarasan_Data Scientist\\FSDS_iNeuron'

In [46]:
ls #list of file

 Volume in drive C has no label.
 Volume Serial Number is CE08-50A1

 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron


 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron


 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron

File Not Found

# String , immutable entity

In [47]:
a="mohan"

In [48]:
a[2]

'h'

In [49]:
a[-1]

'n'

In [50]:
len(a)

5

In [51]:
a[5]

IndexError: string index out of range

# len of "a" gives us 5 but the index starts at 0 and stop at Index 4.
# Stop is excluded

In [52]:
a[1:4] #default step size is 1

'oha'

In [53]:
a[1:4:2]

'oa'

In [54]:
a[-1:-4]#waht is the reason there is no output? 
#reason is conflict of direction: default step is +1 and our direction to go is reverse order and jump is in forward direction

''

In [55]:
a[-1:-4:-1]

'nah'

In [56]:
a[1:4:-1] #same reason conflict of direction, going direction is forward whereas step jump is in reverse direction

''

In [57]:
a[0:-10:-1]

'm'

In [58]:
a[0:-10:1] # Reason conflict of direction, Index 0 is nothing but Index -5,
#so in this case it start from Index -5 ie m, for step -5+(-1) =>-6
#Index -6 to Index -9 is empty. and the result came out is m only.

''

In [59]:
a[::] #by default start isIndex 0 and step 1

'mohan'

In [60]:
a[:8]

'mohan'

In [61]:
a[-2:] #starting index is -2 ie a and default end of upto last(if not defined)
#so -2, -1 is display as o/p

'an'

In [62]:
a[-2:-1] #here end is defined ie is excluded so remained only index -2

'a'

In [63]:
a[::-1] # here no start and end given and it start to move on step direction

'nahom'

In [64]:
a[-1::-1]

'nahom'

In [65]:
a = " i am a data scientist"

In [66]:
#to reverse the string
a[::-1]

'tsitneics atad a ma i '

In [67]:
#to reverse the string
a[-1::-1]

'tsitneics atad a ma i '

In [6]:
a[-1:1] #conflict of direction

''

In [13]:
a = "mohan"

In [14]:
a[0:-10:-1] # 0 = index -5 ie m, step -1, next index will be -6 (which is empty)

'm'

In [9]:
a = "mohana Ka"
len(a)
a[0:-10:-1]

'm'

In [15]:
a[0:-5:-1] #0 is -5 (m), end is -5 (exclude)

''

In [10]:
a[1:-5:-1]

''

In [11]:
a[-5:5]

'n'

In [19]:
a[1:1] #end 1 is excluded

''

In [20]:
a[-5:4]

'moha'

In [21]:
a[0:-3:-1]

''

In [22]:
a[1:1]

''

In [23]:
a[-1-5:-1]

'moha'

In [24]:
a[-1-5:-1:-1]

''

In [25]:
a[0:-10:1]

''

In [26]:
 "mohan"*3

'mohanmohanmohan'

In [33]:
s = "mohan" + " " + "Kalaiyarasan" # string concatenation

In [29]:
s

'mohan Kalaiyarasan'

In [30]:
len(s)

18

In [32]:
"mohan" * "mohan" #reason: str x str is not possible.

TypeError: can't multiply sequence by non-int of type 'str'

In [35]:
#to find the index, char a is at the 2nd location
s.find("a")

3

In [36]:
s.find("i")

10

In [37]:
s.find("an")

3

In [39]:
#to count
s.count("a")

6

In [41]:
s.count("x") #there is no "x" in the s

0

In [42]:
s.split()

['mohan', 'Kalaiyarasan']

In [45]:
l = s.split("a")

In [46]:
type(s.split("a"))

list

In [47]:
l

['moh', 'n K', 'l', 'iy', 'r', 's', 'n']

In [48]:
len(l)

7

In [49]:
l[0]

'moh'

In [50]:
l[0:5]

['moh', 'n K', 'l', 'iy', 'r']

In [51]:
l[::-1]

['n', 's', 'r', 'iy', 'l', 'n K', 'moh']

In [54]:
s.upper()

'MOHAN KALAIYARASAN'

In [55]:
s.lower()

'mohan kalaiyarasan'

In [56]:
s.capitalize()

'Mohan kalaiyarasan'

In [57]:
s.title()

'Mohan Kalaiyarasan'

In [58]:
s.update("mohan", "mohana")

AttributeError: 'str' object has no attribute 'update'

In [59]:
s.replace("mohan", "mohana")

'mohana Kalaiyarasan'

In [60]:
s

'mohan Kalaiyarasan'

In [61]:
s=s.replace("mohan", "mohana")

In [62]:
s

'mohana Kalaiyarasan'

In [63]:
s.swapcase()

'MOHANA kALAIYARASAN'

In [64]:
s.title()

'Mohana Kalaiyarasan'

In [65]:
a= "mohana"
b= "kalaiyarasan"

In [66]:
a + " " + b

'mohana kalaiyarasan'

In [67]:
a.join(b)

'kmohanaamohanalmohanaamohanaimohanaymohanaamohanarmohanaamohanasmohanaamohanan'

In [68]:
" ".join(a)

'm o h a n a'

In [72]:
"mohana\tkalaiyarasan".expandtabs()

'mohana  kalaiyarasan'

In [74]:
s.center(40, "$")

'$$$$$$$$$$mohana Kalaiyarasan$$$$$$$$$$$'

In [77]:
s = "     mohana  "

In [78]:
s.lstrip()

'mohana  '

In [79]:
s.rstrip()

'     mohana'

In [80]:
s.strip()

'mohana'

In [81]:
s= "mohan"

In [82]:
s.isupper()

False

In [83]:
s.islower()

True

In [84]:
s.isspace()

False

In [85]:
s.isdigit()

False

In [86]:
s="1234"

In [87]:
s.isdigit()

True

In [88]:
s = "mohan"

In [89]:
s.endswith("n")

True

In [90]:
s.startswith("t")

False

In [91]:
s.istitle()

False

In [93]:
s = s.capitalize()

In [94]:
s

'Mohan'

In [95]:
s.istitle()

True

In [97]:
s.encode() #utf8 is a english representating coding, output with b'Mohan' is a notation to represent utf8

b'Mohan'

In [98]:
#shift jis coding to represent Japanese form

In [100]:
s.encode('JIS x 0208') #error is Japanese encoding is installed in the system

LookupError: unknown encoding: JIS x 0208

# List

In [101]:
#list is a collection of hetrogenious or homogenious data set

In [108]:
l = ['mohan', "Surya", 42, 4+5j, True, 234.56]

In [109]:
l

['mohan', 'Surya', 42, (4+5j), True, 234.56]

In [110]:
type(l)

list

In [111]:
l[::-1]

[234.56, True, (4+5j), 42, 'Surya', 'mohan']

In [112]:
l[5]

234.56

In [113]:
type(l[5])

float

In [114]:
l[-1:56]

[234.56]

In [115]:
#extract "han-" from the list "l"
l[0][2:]

'han'

In [116]:
l[0][-3:]

'han'

In [119]:
#extract a real no from complex no
l[3].real

4.0

In [121]:
l[4].real

1

In [122]:
l[4].imag

0

In [123]:
l[2].real

42

In [124]:
l[2].imag

0

In [16]:
l1=["mohan", 43, "Kalai"]
l2=["Surya", 38, 'raghav']

In [201]:
#joining
l1 + l2

['mohan', 43, 'Kalai', 'Surya', 38, 'raghav']

In [141]:
l1 + "string"

TypeError: can only concatenate list (not "str") to list

In [202]:
l1 + ["string"] #list + list > just an update

['mohan', 43, 'Kalai', 'string']

In [145]:
l1*4

['mohan',
 43,
 'Kalai',
 'mohan',
 43,
 'Kalai',
 'mohan',
 43,
 'Kalai',
 'mohan',
 43,
 'Kalai']

In [12]:
m = [1,2,3,4] #repeat the whole list
m*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [14]:
[1,2,3,4]*[1,2,3,4]

TypeError: can't multiply sequence by non-int of type 'list'

In [146]:
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [17]:
#replace list item to another ex: mohan change to arasan using assign operator
l1[0] = "arasan"

In [18]:
l1

['arasan', 43, 'Kalai']

In [19]:
l1[0] = l1[0].replace("arasan", "mohan")

In [151]:
l1

['mohan', 43, 'Kalai']

In [20]:
type(l1)

list

In [21]:
#access kalai and change k to s
l1[2][0] = 's'

TypeError: 'str' object does not support item assignment

In [22]:
l1[2][0].replace('K', 's')

's'

In [160]:
#immutable(string), cannot change and mutable(list) can changeable

In [23]:
l1

['mohan', 43, 'Kalai']

In [186]:
s="mohan"

In [173]:
s.replace('m', 'M') #string is immutable but here it looks likes mutable, 
# actually it didnt change actual index instead created at different location(different new index)
# memory management

'Mohan'

In [166]:
s #here at last step replace with capital letter but it is not taken the value
#what happens it creates at new places

'mohan'

In [205]:
s[0] = 'M'

TypeError: 'str' object does not support item assignment

In [206]:
len(l2)

3

In [188]:
l1

['mohan', 43, 'Kalai']

In [207]:
'arasan' in l1

False

In [208]:
l2.append("mohan") #append is to add on to the last element in the list

In [209]:
l2

['Surya', 38, 'raghav', 'mohan']

In [210]:
l2.pop() # pop() is to remove the last element in the list, default index is -1

'mohan'

In [211]:
l2

['Surya', 38, 'raghav']

In [212]:
l2.pop(1) #remove the defined index no by assigning

38

In [213]:
l2

['Surya', 'raghav']

In [218]:
#insert function is to insert the at specified index
l2.insert(1, 38)

In [215]:
l2

['Surya', 38, 'raghav']

In [216]:
l2.insert(3, "mohan")

In [217]:
l2

['Surya', 38, 'raghav', 'mohan']

In [221]:
l2.insert(3, ["q1", "mohan", "0.24", "surya"])

In [222]:
l2

['Surya', 38, 38, ['q1', 'mohan', '0.24', 'surya'], 'raghav', 'mohan']

In [223]:
l2[::-1]

['mohan', 'raghav', ['q1', 'mohan', '0.24', 'surya'], 38, 38, 'Surya']

In [224]:
l2.reverse()

In [225]:
l2

['mohan', 'raghav', ['q1', 'mohan', '0.24', 'surya'], 38, 38, 'Surya']

In [226]:
l1

['mohan', 43, 'Kalai']

In [230]:
l1.extend([2,34, 5.34, 56]) #extend need an iterable elements as list, and it will not create as defined format of list

In [231]:
l1

['mohan', 43, 'Kalai', 2, 34, 5.34, 56, 2, 34, 5.34, 56]

In [232]:
list("mohana")

['m', 'o', 'h', 'a', 'n', 'a']

In [233]:
l1 + list("kalai")

['mohan',
 43,
 'Kalai',
 2,
 34,
 5.34,
 56,
 2,
 34,
 5.34,
 56,
 'k',
 'a',
 'l',
 'a',
 'i']

In [234]:
l =['med', 12, True, 3+4j]

In [235]:
l

['med', 12, True, (3+4j)]

In [236]:
l[0]

'med'

In [237]:
l[0] = l[0].replace("e", "E")

In [238]:
l

['mEd', 12, True, (3+4j)]

In [239]:
s= "mohan"

In [240]:
s

'mohan'

In [241]:
s.replace("o", "k")

'mkhan'