SQL lite:  database (sql, mongodb)
sql - need to create schema before storing the data, whereas mongodb just dump as a document/json
structured (SQL), Unstructured (Mongodb)
mobile app, need to store in a file system (html, json, xml datastore)

sql lite - in memory database, store in a form of table (in device itself)
create a table and dump inside, by default sql lite is available in mobile itself
store in .db format (tabular format)
whatsapp (store data inside a mobile and does the backup)

no need to install any drivers

1) import sqlite3 (it is avaialble already)
2) create ineuron.db
3) connect to ineuron.db

In [2]:
import sqlite3 as sq

In [3]:
db = sq.connect("ineuron.db")

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE08-50A1

 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron

18/09/2022  01:40 PM    <DIR>          .
18/09/2022  01:40 PM    <DIR>          ..
17/09/2022  05:50 PM    <DIR>          .ipynb_checkpoints
21/08/2022  04:27 PM    <DIR>          __pycache__
10/08/2022  09:56 PM            69,297 1) Python basic_String_list_Indexing.ipynb
16/09/2022  07:25 AM            71,909 10) MongoDB.ipynb
17/09/2022  05:49 PM            19,322 10.1) Mongodb exercise.ipynb
18/09/2022  01:40 PM             1,618 11) SQL Lite, Map, Reduce, filter, zip.ipynb
10/08/2022  10:02 PM            50,566 2) Tuple, Set Dict.ipynb
10/08/2022  10:43 PM           226,340 3) 19Dec_Python Prog Discussion.ipynb
10/08/2022  10:58 PM            28,649 4) Function_23Dec21.ipynb
10/08/2022  11:34 PM            53,772 5) Function_Part2_8Jan22.ipynb
10/08/2022  11:55 PM            97,813 6) 9th Jan - Iterator, Generator File System.ipynb
14/08/2022  08:32 PM         1,397,957 6.1) Function_Assignment_10Aug2022.ipynb
16/08/2022  05:23 PM            28,483 7) Exception Handling.ipynb
22/08/2022  02:07 PM             8,701 7.1) Logging.ipynb
21/08/2022  04:41 PM            20,334 8) Module and Import.ipynb
22/08/2022  02:11 PM            25,214 8.1) OOPS concept.ipynb
02/09/2022  09:26 PM            53,704 8.2) OOPS with Module_Packages.ipynb
08/09/2022  08:41 PM            44,042 8.3) OOPs with Polymorphism.ipynb
06/09/2022  05:32 PM            99,929 9) SQL.ipynb
09/09/2022  03:15 PM           448,402 9.1) SQL Day2.ipynb
06/09/2022  08:42 PM            51,867 car.data
07/09/2022  10:10 AM             3,097 car.names
16/09/2022  08:35 PM           628,633 carbon_nanotubes.csv
12/07/2021  09:41 AM           147,652 file1.pdf
06/09/2022  02:41 PM            11,903 glass.data
10/08/2022  06:16 AM             2,332 google.txt
27/11/2021  10:00 AM       239,419,577 IMG_7526.MOV
18/09/2022  01:39 PM                 0 ineuron.db
21/08/2022  07:28 PM                62 list.log
17/08/2022  05:48 PM               230 my_module.py
21/08/2022  04:27 PM             3,146 mydict.py
13/08/2022  10:45 AM            26,187 mywordfile.docx
13/08/2022  02:24 PM             3,649 mywordfile.pdf
13/08/2022  02:28 PM                 0 new.pdf
13/08/2022  02:29 PM           146,057 newPDF.pdf
17/08/2022  05:05 PM             1,519 test
16/08/2022  07:51 PM             1,193 test.log
17/08/2022  05:08 PM                 0 test1.py
21/08/2022  07:34 PM                22 test1.txt
16/08/2022  08:13 PM             4,042 test2.log
17/08/2022  05:25 PM               262 test2.py
22/08/2022  02:08 PM             4,512 test3.log
14/08/2022  11:21 PM                 6 text1.txt
15/02/2018  08:15 PM           161,227 WIN_20180215_20_15_41_Pro.jpg
              42 File(s)    243,363,227 bytes
               4 Dir(s)  201,960,206,336 bytes free

In [5]:
c = db.cursor() #pointer

In [6]:
c.execute('create table fsds(name text, batchid int, marks real)')

In [11]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE08-50A1

 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron

18/09/2022  01:48 PM    <DIR>          .
18/09/2022  01:48 PM    <DIR>          ..
17/09/2022  05:50 PM    <DIR>          .ipynb_checkpoints
21/08/2022  04:27 PM    <DIR>          __pycache__
10/08/2022  09:56 PM            69,297 1) Python basic_String_list_Indexing.ipynb
16/09/2022  07:25 AM            71,909 10) MongoDB.ipynb
17/09/2022  05:49 PM            19,322 10.1) Mongodb exercise.ipynb
18/09/2022  01:48 PM             9,992 11) SQL Lite, Map, Reduce, filter, zip.ipynb
10/08/2022  10:02 PM            50,566 2) Tuple, Set Dict.ipynb
10/08/2022  10:43 PM           226,340 3) 19Dec_Python Prog Discussion.ipynb
10/08/2022  10:58 PM            28,649 4) Function_23Dec21.ipynb
10/08/2022  11:34 PM            53,772 5) Function_Part2_8Jan22.ipynb
10/08/2022  11:55 PM            97,813 6) 9th Jan - Iterator, Generator File System.ipynb
14/08/2022  08:32 PM         1,397,957 6.1) Function_Assignment_10Aug2022.ipynb
16/08/2022  05:23 PM            28,483 7) Exception Handling.ipynb
22/08/2022  02:07 PM             8,701 7.1) Logging.ipynb
21/08/2022  04:41 PM            20,334 8) Module and Import.ipynb
22/08/2022  02:11 PM            25,214 8.1) OOPS concept.ipynb
02/09/2022  09:26 PM            53,704 8.2) OOPS with Module_Packages.ipynb
08/09/2022  08:41 PM            44,042 8.3) OOPs with Polymorphism.ipynb
06/09/2022  05:32 PM            99,929 9) SQL.ipynb
09/09/2022  03:15 PM           448,402 9.1) SQL Day2.ipynb
06/09/2022  08:42 PM            51,867 car.data
07/09/2022  10:10 AM             3,097 car.names
16/09/2022  08:35 PM           628,633 carbon_nanotubes.csv
12/07/2021  09:41 AM           147,652 file1.pdf
06/09/2022  02:41 PM            11,903 glass.data
10/08/2022  06:16 AM             2,332 google.txt
27/11/2021  10:00 AM       239,419,577 IMG_7526.MOV
18/09/2022  01:44 PM             8,192 ineuron.db
18/09/2022  01:47 PM             4,616 ineuron.db-journal
21/08/2022  07:28 PM                62 list.log
17/08/2022  05:48 PM               230 my_module.py
21/08/2022  04:27 PM             3,146 mydict.py
13/08/2022  10:45 AM            26,187 mywordfile.docx
13/08/2022  02:24 PM             3,649 mywordfile.pdf
13/08/2022  02:28 PM                 0 new.pdf
13/08/2022  02:29 PM           146,057 newPDF.pdf
17/08/2022  05:05 PM             1,519 test
16/08/2022  07:51 PM             1,193 test.log
17/08/2022  05:08 PM                 0 test1.py
21/08/2022  07:34 PM                22 test1.txt
16/08/2022  08:13 PM             4,042 test2.log
17/08/2022  05:25 PM               262 test2.py
22/08/2022  02:08 PM             4,512 test3.log
14/08/2022  11:21 PM                 6 text1.txt
15/02/2018  08:15 PM           161,227 WIN_20180215_20_15_41_Pro.jpg
              43 File(s)    243,384,409 bytes
               4 Dir(s)  201,820,950,528 bytes free

In [8]:
c.execute('insert into fsds values("mohan", 3456, 4.56)')

In [10]:
#insert data into db, will create a ineuron.db-journal file (which is a catch file and store the data)
c.execute('insert into fsds values("mohan", 3456, 4.56)')
c.execute('insert into fsds values("mohan", 3456, 4.56)')
c.execute('insert into fsds values("mohan", 3456, 4.56)')
c.execute('insert into fsds values("mohan", 3456, 4.56)')
c.execute('insert into fsds values("mohan", 3456, 4.56)')
c.execute('insert into fsds values("mohan", 3456, 4.56)')
c.execute('insert into fsds values("mohan", 3456, 4.56)')
c.execute('insert into fsds values("mohan", 3456, 4.56)')

In [12]:
data = c.execute("select * from fsds")

In [13]:
for i in data:
    print(i)

('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)

In [14]:
#store data
db.commit()

In [15]:
#close the database, upon closed the journal file also closed.
db.close()

In [16]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE08-50A1

 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron

18/09/2022  01:52 PM    <DIR>          .
18/09/2022  01:52 PM    <DIR>          ..
17/09/2022  05:50 PM    <DIR>          .ipynb_checkpoints
21/08/2022  04:27 PM    <DIR>          __pycache__
10/08/2022  09:56 PM            69,297 1) Python basic_String_list_Indexing.ipynb
16/09/2022  07:25 AM            71,909 10) MongoDB.ipynb
17/09/2022  05:49 PM            19,322 10.1) Mongodb exercise.ipynb
18/09/2022  01:52 PM            11,901 11) SQL Lite, Map, Reduce, filter, zip.ipynb
10/08/2022  10:02 PM            50,566 2) Tuple, Set Dict.ipynb
10/08/2022  10:43 PM           226,340 3) 19Dec_Python Prog Discussion.ipynb
10/08/2022  10:58 PM            28,649 4) Function_23Dec21.ipynb
10/08/2022  11:34 PM            53,772 5) Function_Part2_8Jan22.ipynb
10/08/2022  11:55 PM            97,813 6) 9th Jan - Iterator, Generator File System.ipynb
14/08/2022  08:32 PM         1,397,957 6.1) Function_Assignment_10Aug2022.ipynb
16/08/2022  05:23 PM            28,483 7) Exception Handling.ipynb
22/08/2022  02:07 PM             8,701 7.1) Logging.ipynb
21/08/2022  04:41 PM            20,334 8) Module and Import.ipynb
22/08/2022  02:11 PM            25,214 8.1) OOPS concept.ipynb
02/09/2022  09:26 PM            53,704 8.2) OOPS with Module_Packages.ipynb
08/09/2022  08:41 PM            44,042 8.3) OOPs with Polymorphism.ipynb
06/09/2022  05:32 PM            99,929 9) SQL.ipynb
09/09/2022  03:15 PM           448,402 9.1) SQL Day2.ipynb
06/09/2022  08:42 PM            51,867 car.data
07/09/2022  10:10 AM             3,097 car.names
16/09/2022  08:35 PM           628,633 carbon_nanotubes.csv
12/07/2021  09:41 AM           147,652 file1.pdf
06/09/2022  02:41 PM            11,903 glass.data
10/08/2022  06:16 AM             2,332 google.txt
27/11/2021  10:00 AM       239,419,577 IMG_7526.MOV
18/09/2022  01:51 PM             8,192 ineuron.db
21/08/2022  07:28 PM                62 list.log
17/08/2022  05:48 PM               230 my_module.py
21/08/2022  04:27 PM             3,146 mydict.py
13/08/2022  10:45 AM            26,187 mywordfile.docx
13/08/2022  02:24 PM             3,649 mywordfile.pdf
13/08/2022  02:28 PM                 0 new.pdf
13/08/2022  02:29 PM           146,057 newPDF.pdf
17/08/2022  05:05 PM             1,519 test
16/08/2022  07:51 PM             1,193 test.log
17/08/2022  05:08 PM                 0 test1.py
21/08/2022  07:34 PM                22 test1.txt
16/08/2022  08:13 PM             4,042 test2.log
17/08/2022  05:25 PM               262 test2.py
22/08/2022  02:08 PM             4,512 test3.log
14/08/2022  11:21 PM                 6 text1.txt
15/02/2018  08:15 PM           161,227 WIN_20180215_20_15_41_Pro.jpg
              42 File(s)    243,381,702 bytes
               4 Dir(s)  201,824,047,104 bytes free

In [17]:
#again connected to the database
db = sq.connect("ineuron.db")

In [18]:
c = db.cursor()

In [19]:
data = c.execute("select * from fsds where marks >4")

In [20]:
for i in data:
    print(i)

('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)

In [22]:
data = c.execute("select * from fsds where name ='mohan'")

In [23]:
for i in data:
    print(i)

('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)
('mohan', 3456, 4.56)

In [24]:
data = c. execute('select name, marks from fsds')
for i in data:
    print(i)

('mohan', 4.56)
('mohan', 4.56)
('mohan', 4.56)
('mohan', 4.56)
('mohan', 4.56)
('mohan', 4.56)
('mohan', 4.56)
('mohan', 4.56)
('mohan', 4.56)

In [25]:
db.close()

In [26]:
db = sq.connect("person.db")

In [27]:
c = db.cursor()

In [28]:
c.execute("create table person_table (name text, emailid text, age int, salary real)")

In [31]:
c.execute("insert into person_table values('mohan', 'asdd@gmail.com', 23, 23455)")
c.execute("insert into person_table values ('prasad', 'pras@gmail.com', 25, 243423)")
c.execute("insert into person_table values ('krish', 'krishgmail.com', 32, 2345340)")
c.execute("insert into person_table values('sunny', 'sunny@gmail.com', 27, 4235235)")

In [34]:
data = c.execute("select * from person_table")
for i in data:
    print(i)

('mohan', 'asdd@gmail.com', 23, 23455.0)
('prasad', 'pras@gmail.com', 25, 243423.0)
('krish', 'krishgmail.com', 32, 2345340.0)
('mohan', 'asdd@gmail.com', 23, 23455.0)
('prasad', 'pras@gmail.com', 25, 243423.0)
('krish', 'krishgmail.com', 32, 2345340.0)
('sunny', 'sunny@gmail.com', 27, 4235235.0)

In [35]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE08-50A1

 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron

18/09/2022  02:10 PM    <DIR>          .
18/09/2022  02:10 PM    <DIR>          ..
17/09/2022  05:50 PM    <DIR>          .ipynb_checkpoints
21/08/2022  04:27 PM    <DIR>          __pycache__
10/08/2022  09:56 PM            69,297 1) Python basic_String_list_Indexing.ipynb
16/09/2022  07:25 AM            71,909 10) MongoDB.ipynb
17/09/2022  05:49 PM            19,322 10.1) Mongodb exercise.ipynb
18/09/2022  02:10 PM            20,372 11) SQL Lite, Map, Reduce, filter, zip.ipynb
10/08/2022  10:02 PM            50,566 2) Tuple, Set Dict.ipynb
10/08/2022  10:43 PM           226,340 3) 19Dec_Python Prog Discussion.ipynb
10/08/2022  10:58 PM            28,649 4) Function_23Dec21.ipynb
10/08/2022  11:34 PM            53,772 5) Function_Part2_8Jan22.ipynb
10/08/2022  11:55 PM            97,813 6) 9th Jan - Iterator, Generator File System.ipynb
14/08/2022  08:32 PM         1,397,957 6.1) Function_Assignment_10Aug2022.ipynb
16/08/2022  05:23 PM            28,483 7) Exception Handling.ipynb
22/08/2022  02:07 PM             8,701 7.1) Logging.ipynb
21/08/2022  04:41 PM            20,334 8) Module and Import.ipynb
22/08/2022  02:11 PM            25,214 8.1) OOPS concept.ipynb
02/09/2022  09:26 PM            53,704 8.2) OOPS with Module_Packages.ipynb
08/09/2022  08:41 PM            44,042 8.3) OOPs with Polymorphism.ipynb
06/09/2022  05:32 PM            99,929 9) SQL.ipynb
09/09/2022  03:15 PM           448,402 9.1) SQL Day2.ipynb
06/09/2022  08:42 PM            51,867 car.data
07/09/2022  10:10 AM             3,097 car.names
16/09/2022  08:35 PM           628,633 carbon_nanotubes.csv
12/07/2021  09:41 AM           147,652 file1.pdf
06/09/2022  02:41 PM            11,903 glass.data
10/08/2022  06:16 AM             2,332 google.txt
27/11/2021  10:00 AM       239,419,577 IMG_7526.MOV
18/09/2022  01:51 PM             8,192 ineuron.db
21/08/2022  07:28 PM                62 list.log
17/08/2022  05:48 PM               230 my_module.py
21/08/2022  04:27 PM             3,146 mydict.py
13/08/2022  10:45 AM            26,187 mywordfile.docx
13/08/2022  02:24 PM             3,649 mywordfile.pdf
13/08/2022  02:28 PM                 0 new.pdf
13/08/2022  02:29 PM           146,057 newPDF.pdf
18/09/2022  02:02 PM             8,192 person.db
18/09/2022  02:07 PM             4,616 person.db-journal
17/08/2022  05:05 PM             1,519 test
16/08/2022  07:51 PM             1,193 test.log
17/08/2022  05:08 PM                 0 test1.py
21/08/2022  07:34 PM                22 test1.txt
16/08/2022  08:13 PM             4,042 test2.log
17/08/2022  05:25 PM               262 test2.py
22/08/2022  02:08 PM             4,512 test3.log
14/08/2022  11:21 PM                 6 text1.txt
15/02/2018  08:15 PM           161,227 WIN_20180215_20_15_41_Pro.jpg
              44 File(s)    243,402,981 bytes
               4 Dir(s)  201,821,962,240 bytes free

In [36]:
db.commit()

In [37]:
db.close()

In [38]:
#connect again i=on db
db = sq.connect('ineuron.db')

In [39]:
c = db.cursor()

In [40]:
#drop the table
c.execute('drop table fsds')

In [41]:
c.execute("select * from fsds")

OperationalError: no such table: fsds

In [42]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE08-50A1

 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron

18/09/2022  02:12 PM    <DIR>          .
18/09/2022  02:12 PM    <DIR>          ..
17/09/2022  05:50 PM    <DIR>          .ipynb_checkpoints
21/08/2022  04:27 PM    <DIR>          __pycache__
10/08/2022  09:56 PM            69,297 1) Python basic_String_list_Indexing.ipynb
16/09/2022  07:25 AM            71,909 10) MongoDB.ipynb
17/09/2022  05:49 PM            19,322 10.1) Mongodb exercise.ipynb
18/09/2022  02:12 PM            24,776 11) SQL Lite, Map, Reduce, filter, zip.ipynb
10/08/2022  10:02 PM            50,566 2) Tuple, Set Dict.ipynb
10/08/2022  10:43 PM           226,340 3) 19Dec_Python Prog Discussion.ipynb
10/08/2022  10:58 PM            28,649 4) Function_23Dec21.ipynb
10/08/2022  11:34 PM            53,772 5) Function_Part2_8Jan22.ipynb
10/08/2022  11:55 PM            97,813 6) 9th Jan - Iterator, Generator File System.ipynb
14/08/2022  08:32 PM         1,397,957 6.1) Function_Assignment_10Aug2022.ipynb
16/08/2022  05:23 PM            28,483 7) Exception Handling.ipynb
22/08/2022  02:07 PM             8,701 7.1) Logging.ipynb
21/08/2022  04:41 PM            20,334 8) Module and Import.ipynb
22/08/2022  02:11 PM            25,214 8.1) OOPS concept.ipynb
02/09/2022  09:26 PM            53,704 8.2) OOPS with Module_Packages.ipynb
08/09/2022  08:41 PM            44,042 8.3) OOPs with Polymorphism.ipynb
06/09/2022  05:32 PM            99,929 9) SQL.ipynb
09/09/2022  03:15 PM           448,402 9.1) SQL Day2.ipynb
06/09/2022  08:42 PM            51,867 car.data
07/09/2022  10:10 AM             3,097 car.names
16/09/2022  08:35 PM           628,633 carbon_nanotubes.csv
12/07/2021  09:41 AM           147,652 file1.pdf
06/09/2022  02:41 PM            11,903 glass.data
10/08/2022  06:16 AM             2,332 google.txt
27/11/2021  10:00 AM       239,419,577 IMG_7526.MOV
18/09/2022  02:12 PM             8,192 ineuron.db
21/08/2022  07:28 PM                62 list.log
17/08/2022  05:48 PM               230 my_module.py
21/08/2022  04:27 PM             3,146 mydict.py
13/08/2022  10:45 AM            26,187 mywordfile.docx
13/08/2022  02:24 PM             3,649 mywordfile.pdf
13/08/2022  02:28 PM                 0 new.pdf
13/08/2022  02:29 PM           146,057 newPDF.pdf
18/09/2022  02:11 PM             8,192 person.db
17/08/2022  05:05 PM             1,519 test
16/08/2022  07:51 PM             1,193 test.log
17/08/2022  05:08 PM                 0 test1.py
21/08/2022  07:34 PM                22 test1.txt
16/08/2022  08:13 PM             4,042 test2.log
17/08/2022  05:25 PM               262 test2.py
22/08/2022  02:08 PM             4,512 test3.log
14/08/2022  11:21 PM                 6 text1.txt
15/02/2018  08:15 PM           161,227 WIN_20180215_20_15_41_Pro.jpg
              43 File(s)    243,402,769 bytes
               4 Dir(s)  201,821,093,888 bytes free

In [43]:
db.close()

In [44]:
db = sq.connect('person.db')

In [45]:
c = db.cursor()

In [46]:
data = c.execute("select * from person_table limit 2")
for i in data:
    print(i)

('mohan', 'asdd@gmail.com', 23, 23455.0)
('prasad', 'pras@gmail.com', 25, 243423.0)

In [48]:
#SQL joint operation, venn diagram requires 2 tables
db.close()

In [49]:
db = sq.connect('joindb.db')

In [50]:
c = db.cursor()

In [51]:
c.execute('create table student(student_id int, student_name text, student_mailid text, marks int)')

In [52]:
c.execute('create table address(student_id int, pincode int, location text, nearby text, phone_no int)')

In [68]:
c.execute('insert into student values(234, "mohan", "moan@gmail.com", 85)')
c.execute('insert into student values(235, "mohan", "moan@gmail.com", 85)')
c.execute('insert into student values(236, "mohan", "moan@gmail.com", 85)')
c.execute('insert into student values(237, "mohan", "moan@gmail.com", 85)')
c.execute('insert into student values(238, "mohan", "moan@gmail.com", 85)')
c.execute('insert into student values(239, "mohan", "moan@gmail.com", 85)')
c.execute('insert into student values(23440, "mohan", "moan@gmail.com", 85)')
c.execute('insert into student values(24132, "mohan", "moan@gmail.com", 85)')
c.execute('insert into student values(23223, "mohan", "moan@gmail.com", 85)')

In [69]:
c.execute("insert into address values(234, 730223, 'singaproe', 'school', 85858282)")
c.execute("insert into address values(235, 730223, 'singaproe', 'school', 85858282)")
c.execute("insert into address values(236, 730223, 'singaproe', 'school', 85858282)")
c.execute("insert into address values(2327, 730223, 'singaproe', 'school', 85858282)")
c.execute("insert into address values(2383, 730223, 'singaproe', 'school', 85858282)")
c.execute("insert into address values(2393, 730223, 'singaproe', 'school', 85858282)")
c.execute("insert into address values(240, 730223, 'singaproe', 'school', 85858282)")
c.execute("insert into address values(241, 730223, 'singaproe', 'school', 85858282)")
c.execute("insert into address values(232, 730223, 'singaproe', 'school', 85858282)")

In [70]:
for i in c.execute("select * from student"):
    print(i)

(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(235, 'mohan', 'moan@gmail.com', 85)
(236, 'mohan', 'moan@gmail.com', 85)
(237, 'mohan', 'moan@gmail.com', 85)
(238, 'mohan', 'moan@gmail.com', 85)
(239, 'mohan', 'moan@gmail.com', 85)
(240, 'mohan', 'moan@gmail.com', 85)
(241, 'mohan', 'moan@gmail.com', 85)
(232, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(235, 'mohan', 'moan@gmail.com', 85)
(236, 'mohan', 'moan@gmail.com', 85)
(237, 'mohan', 'moan@gmail.com', 85)
(238, 'mohan', 'moan@gmail.com', 85)
(239, 'mohan', 'moan@gmail.com', 85)
(23440, 'mohan', 'moan@gmail.com', 85)
(24132, 'mohan', 'moan@gmail.com', 85)
(23223, 'mohan', 'moan@gmail.com', 85)

In [71]:
for i in c.execute("select * from address"):
    print(i)

(234, 730223, 'singaproe', 'school', 85858282)
(235, 730223, 'singaproe', 'school', 85858282)
(236, 730223, 'singaproe', 'school', 85858282)
(237, 730223, 'singaproe', 'school', 85858282)
(238, 730223, 'singaproe', 'school', 85858282)
(239, 730223, 'singaproe', 'school', 85858282)
(240, 730223, 'singaproe', 'school', 85858282)
(241, 730223, 'singaproe', 'school', 85858282)
(232, 730223, 'singaproe', 'school', 85858282)
(234, 730223, 'singaproe', 'school', 85858282)
(235, 730223, 'singaproe', 'school', 85858282)
(236, 730223, 'singaproe', 'school', 85858282)
(2327, 730223, 'singaproe', 'school', 85858282)
(2383, 730223, 'singaproe', 'school', 85858282)
(2393, 730223, 'singaproe', 'school', 85858282)
(240, 730223, 'singaproe', 'school', 85858282)
(241, 730223, 'singaproe', 'school', 85858282)
(232, 730223, 'singaproe', 'school', 85858282)
(234, 730223, 'singaproe', 'school', 85858282)
(235, 730223, 'singaproe', 'school', 85858282)
(236, 730223, 'singaproe', 'school', 85858282)
(2327, 730223, 'singaproe', 'school', 85858282)
(2383, 730223, 'singaproe', 'school', 85858282)
(2393, 730223, 'singaproe', 'school', 85858282)
(240, 730223, 'singaproe', 'school', 85858282)
(241, 730223, 'singaproe', 'school', 85858282)
(232, 730223, 'singaproe', 'school', 85858282)

In [74]:
#left joins, give all the record from student table and corresponding in address table
data = c.execute("select *from student s left join address a on s.student_id = a.student_id where a.student_id is not null")

data = c.execute("select *from student s (aliases s) left join address a (aliases s) on s.student_id = a.student_id where a.student_id is not null")

In [75]:
for i in data:
    print(i)

(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(235, 'mohan', 'moan@gmail.com', 85, 235, 730223, 'singaproe', 'school', 85858282)
(235, 'mohan', 'moan@gmail.com', 85, 235, 730223, 'singaproe', 'school', 85858282)
(236, 'mohan', 'moan@gmail.com', 85, 236, 730223, 'singaproe', 'school', 85858282)
(236, 'mohan', 'moan@gmail.com', 85, 236, 730223, 'singaproe', 'school', 85858282)
(237, 'mohan', 'moan@gmail.com', 85, 237, 730223, 'singaproe', 'school', 85858282)
(237, 'mohan', 'moan@gmail.com', 85, 237, 730223, 'singaproe', 'school', 85858282)
(238, 'mohan', 'moan@gmail.com', 85, 238, 730223, 'singaproe', 'school', 85858282)
(238, 'mohan', 'moan@gmail.com', 85, 238, 730223, 'singaproe', 'school', 85858282)
(239, 'mohan', 'moan@gmail.com', 85, 239, 730223, 'singaproe', 'school', 85858282)
(239, 'mohan', 'moan@gmail.com', 85, 239, 730223, 'singaproe', 'school', 85858282)
(240, 'mohan', 'moan@gmail.com', 85, 240, 730223, 'singaproe', 'school', 85858282)
(241, 'mohan', 'moan@gmail.com', 85, 241, 730223, 'singaproe', 'school', 85858282)
(232, 'mohan', 'moan@gmail.com', 85, 232, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(235, 'mohan', 'moan@gmail.com', 85, 235, 730223, 'singaproe', 'school', 85858282)
(235, 'mohan', 'moan@gmail.com', 85, 235, 730223, 'singaproe', 'school', 85858282)
(236, 'mohan', 'moan@gmail.com', 85, 236, 730223, 'singaproe', 'school', 85858282)
(236, 'mohan', 'moan@gmail.com', 85, 236, 730223, 'singaproe', 'school', 85858282)
(240, 'mohan', 'moan@gmail.com', 85, 240, 730223, 'singaproe', 'school', 85858282)
(241, 'mohan', 'moan@gmail.com', 85, 241, 730223, 'singaproe', 'school', 85858282)
(232, 'mohan', 'moan@gmail.com', 85, 232, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(234, 'mohan', 'moan@gmail.com', 85, 234, 730223, 'singaproe', 'school', 85858282)
(235, 'mohan', 'moan@gmail.com', 85, 235, 730223, 'singaproe', 'school', 85858282)
(235, 'mohan', 'moan@gmail.com', 85, 235, 730223, 'singaproe', 'school', 85858282)
(236, 'mohan', 'moan@gmail.com', 85, 236, 730223, 'singaproe', 'school', 85858282)
(236, 'mohan', 'moan@gmail.com', 85, 236, 730223, 'singaproe', 'school', 85858282)
(240, 'mohan', 'moan@gmail.com', 85, 240, 730223, 'singaproe', 'school', 85858282)
(241, 'mohan', 'moan@gmail.com', 85, 241, 730223, 'singaproe', 'school', 85858282)
(232, 'mohan', 'moan@gmail.com', 85, 232, 730223, 'singaproe', 'school', 85858282)

In [76]:
data = c.execute("select *from student s right join address a on s.student_id = a.student_id where a.student_id is not null")

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [79]:
data = c.execute("select *from address a left join student s on s.student_id = a.student_id where s.student_id is not null")

In [80]:
for i in data:
    print(i)

(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(235, 730223, 'singaproe', 'school', 85858282, 235, 'mohan', 'moan@gmail.com', 85)
(235, 730223, 'singaproe', 'school', 85858282, 235, 'mohan', 'moan@gmail.com', 85)
(235, 730223, 'singaproe', 'school', 85858282, 235, 'mohan', 'moan@gmail.com', 85)
(236, 730223, 'singaproe', 'school', 85858282, 236, 'mohan', 'moan@gmail.com', 85)
(236, 730223, 'singaproe', 'school', 85858282, 236, 'mohan', 'moan@gmail.com', 85)
(236, 730223, 'singaproe', 'school', 85858282, 236, 'mohan', 'moan@gmail.com', 85)
(237, 730223, 'singaproe', 'school', 85858282, 237, 'mohan', 'moan@gmail.com', 85)
(238, 730223, 'singaproe', 'school', 85858282, 238, 'mohan', 'moan@gmail.com', 85)
(239, 730223, 'singaproe', 'school', 85858282, 239, 'mohan', 'moan@gmail.com', 85)
(240, 730223, 'singaproe', 'school', 85858282, 240, 'mohan', 'moan@gmail.com', 85)
(240, 730223, 'singaproe', 'school', 85858282, 240, 'mohan', 'moan@gmail.com', 85)
(240, 730223, 'singaproe', 'school', 85858282, 240, 'mohan', 'moan@gmail.com', 85)
(241, 730223, 'singaproe', 'school', 85858282, 241, 'mohan', 'moan@gmail.com', 85)
(241, 730223, 'singaproe', 'school', 85858282, 241, 'mohan', 'moan@gmail.com', 85)
(241, 730223, 'singaproe', 'school', 85858282, 241, 'mohan', 'moan@gmail.com', 85)
(232, 730223, 'singaproe', 'school', 85858282, 232, 'mohan', 'moan@gmail.com', 85)
(232, 730223, 'singaproe', 'school', 85858282, 232, 'mohan', 'moan@gmail.com', 85)
(232, 730223, 'singaproe', 'school', 85858282, 232, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(234, 730223, 'singaproe', 'school', 85858282, 234, 'mohan', 'moan@gmail.com', 85)
(235, 730223, 'singaproe', 'school', 85858282, 235, 'mohan', 'moan@gmail.com', 85)
(235, 730223, 'singaproe', 'school', 85858282, 235, 'mohan', 'moan@gmail.com', 85)
(235, 730223, 'singaproe', 'school', 85858282, 235, 'mohan', 'moan@gmail.com', 85)
(236, 730223, 'singaproe', 'school', 85858282, 236, 'mohan', 'moan@gmail.com', 85)
(236, 730223, 'singaproe', 'school', 85858282, 236, 'mohan', 'moan@gmail.com', 85)
(236, 730223, 'singaproe', 'school', 85858282, 236, 'mohan', 'moan@gmail.com', 85)
(237, 730223, 'singaproe', 'school', 85858282, 237, 'mohan', 'moan@gmail.com', 85)
(238, 730223, 'singaproe', 'school', 85858282, 238, 'mohan', 'moan@gmail.com', 85)
(239, 730223, 'singaproe', 'school', 85858282, 239, 'mohan', 'moan@gmail.com', 85)

In [81]:
for i in c.execute("select * from student"):
    print(i)

(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(235, 'mohan', 'moan@gmail.com', 85)
(236, 'mohan', 'moan@gmail.com', 85)
(237, 'mohan', 'moan@gmail.com', 85)
(238, 'mohan', 'moan@gmail.com', 85)
(239, 'mohan', 'moan@gmail.com', 85)
(240, 'mohan', 'moan@gmail.com', 85)
(241, 'mohan', 'moan@gmail.com', 85)
(232, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(235, 'mohan', 'moan@gmail.com', 85)
(236, 'mohan', 'moan@gmail.com', 85)
(237, 'mohan', 'moan@gmail.com', 85)
(238, 'mohan', 'moan@gmail.com', 85)
(239, 'mohan', 'moan@gmail.com', 85)
(23440, 'mohan', 'moan@gmail.com', 85)
(24132, 'mohan', 'moan@gmail.com', 85)
(23223, 'mohan', 'moan@gmail.com', 85)

In [84]:
#delete those student id > 2000
c.execute('delete from student where student_id >2000')

In [85]:
for i in c.execute("select * from student"):
    print(i)

(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(235, 'mohan', 'moan@gmail.com', 85)
(236, 'mohan', 'moan@gmail.com', 85)
(237, 'mohan', 'moan@gmail.com', 85)
(238, 'mohan', 'moan@gmail.com', 85)
(239, 'mohan', 'moan@gmail.com', 85)
(240, 'mohan', 'moan@gmail.com', 85)
(241, 'mohan', 'moan@gmail.com', 85)
(232, 'mohan', 'moan@gmail.com', 85)
(234, 'mohan', 'moan@gmail.com', 85)
(235, 'mohan', 'moan@gmail.com', 85)
(236, 'mohan', 'moan@gmail.com', 85)
(237, 'mohan', 'moan@gmail.com', 85)
(238, 'mohan', 'moan@gmail.com', 85)
(239, 'mohan', 'moan@gmail.com', 85)

In [86]:
#how to fetch all data instead of for loop
data = c.execute("select *from student")

In [87]:
data.fetchall()

[(234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (235, 'mohan', 'moan@gmail.com', 85),
 (236, 'mohan', 'moan@gmail.com', 85),
 (237, 'mohan', 'moan@gmail.com', 85),
 (238, 'mohan', 'moan@gmail.com', 85),
 (239, 'mohan', 'moan@gmail.com', 85),
 (240, 'mohan', 'moan@gmail.com', 85),
 (241, 'mohan', 'moan@gmail.com', 85),
 (232, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (235, 'mohan', 'moan@gmail.com', 85),
 (236, 'mohan', 'moan@gmail.com', 85),
 (237, 'mohan', 'moan@gmail.com', 85),
 (238, 'mohan', 'moan@gmail.com', 85),
 (239, 'mohan', 'moan@gmail.com', 85)]

In [88]:
#update the student ID 236 to 2000
c.execute("update student set student_id = 2000 where student_id = 236")

In [89]:
data =c.execute("select * from student")

In [90]:
data.fetchall()

[(234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (235, 'mohan', 'moan@gmail.com', 85),
 (2000, 'mohan', 'moan@gmail.com', 85),
 (237, 'mohan', 'moan@gmail.com', 85),
 (238, 'mohan', 'moan@gmail.com', 85),
 (239, 'mohan', 'moan@gmail.com', 85),
 (240, 'mohan', 'moan@gmail.com', 85),
 (241, 'mohan', 'moan@gmail.com', 85),
 (232, 'mohan', 'moan@gmail.com', 85),
 (234, 'mohan', 'moan@gmail.com', 85),
 (235, 'mohan', 'moan@gmail.com', 85),
 (2000, 'mohan', 'moan@gmail.com', 85),
 (237, 'mohan', 'moan@gmail.com', 85),
 (238, 'mohan', 'moan@gmail.com', 85),
 (239, 'mohan', 'moan@gmail.com', 85)]

In [91]:
db.close()

Map: perform operation for every element and return all
increase all no by 6 for a list
l = [1,2,3,4,5,6]
without doing the FOR loop and List comprehension, can do the similar operation is by MAP
for MAP function, need 2 argument 1) function and 2) iterable object

In [92]:
l = [1,2,3,4,5,6]

In [94]:
l1 =[]
for i in l:
    l1.append (i+6)

In [95]:
l1

[7, 8, 9, 10, 11, 12]

In [96]:
#list comprehension
[i+6 for i in l]

[7, 8, 9, 10, 11, 12]

In [101]:
def test(a):
    return a+6

In [102]:
test(5)

11

In [99]:
#here given test function and iterable object list / tuple
map(test, l)

In [103]:
#to see the record enclose in list
list(map(test, l))

[7, 8, 9, 10, 11, 12]

In [104]:
def test(a):
    return a*54654

In [105]:
list(map(test, l))

[54654, 109308, 163962, 218616, 273270, 327924]

In [106]:
l1 = ['234', '233', '224', '4356', '23456']

In [107]:
#convert L1 into int format
def test2(a):
    return int(a)

In [108]:
list(map(test2, l1))

[234, 233, 224, 4356, 23456]

In [109]:
#lambda function
list(map(lambda x:int(x), l1))

[234, 233, 224, 4356, 23456]

In [110]:
list(map(lambda x:x+6, l))

[7, 8, 9, 10, 11, 12]

Filter function: perform the operation only to the condition in the functionand return only those are true.
try to filter out only the even integer from the list given
filter function takes 2 argument, 1 is func and 2 is iterable object

In [129]:
l = [4,5,6,7,8,9,12,16]

In [128]:
def test3(a):
    l1 = []
    for i in a:
        if i%2 == 0:
            l1.append(i)
    return l1

In [117]:
#list comprehension
[i for i in l if i%2==0]

[4, 6, 8, 12, 16]

In [118]:
l1 =[]
for i in l:
    if i%2==0:
        l1.append(i)

In [119]:
l1

[4, 6, 8, 12, 16]

In [130]:
test3(l)

[4, 6, 8, 12, 16]

In [131]:
def test4(a):
    if a%2==0:
        return a

In [133]:
filter(test4,l)

In [134]:
#to see the filter, encapsulate in list format
list(filter(test4,l))

[4, 6, 8, 12, 16]

In [137]:
#here it is having a condition
list(filter(lambda x: x%2==0, l ))

[4, 6, 8, 12, 16]

In [138]:
#there is no condition
list(filter(lambda x:x+5, l))

[4, 5, 6, 7, 8, 9, 12, 16]

In [139]:
list(filter(lambda x:x%3==0, l))

[6, 9, 12]

Reduce function:
must import from functools

reduce will have 2 argument, 1 is function and 2 is iterable object
l = [a,b,c,d,e,f]
l = [3,4,5,6,7,8,8,3]
everytime it takes 2 argument from the list, 
a+b = a, then 3+4 = 7
a+c = a, then 7+5 = 12
a+d = a, then 12+6 = 18
a+e = a, then 18+7 = 25
a+f = a, then 25+8 = 33, 33+8 = 41, 41+3 = 44
a .. only 44

In [3]:
from functools import reduce

In [8]:
l = [3,4,5,6,7,8,8,3]

In [142]:
#sum of all in the list
sum(l)

44

In [6]:
def test5(a,b):
    return a+b

In [146]:
reduce(test5, l)

44

for example test5(a,b,c) then return add a+b+c
in this case it wont work

In [10]:
# there is some exception case when there is 1 argument, here it auto takes the 2nd input as 0
l =[3]

In [11]:
reduce(test5, l)

3

In [13]:
l = [3,4,5,6,7,8,8,3]

In [14]:
reduce(lambda x, y: x+y, l)

44

ZIP Function: takes 2 argument as iterable
it zipping the values and return as tuple of the elements

In [19]:
l =[1,2,3,5,7]
l1=[2,4,5,7,8]
l2=['mohn', 'kalai', 'raks', 'papa', 'thambi']

In [17]:
zip(l,l1)

In [21]:
list(zip(l,l1,l2))

[(1, 2, 'mohn'),
 (2, 4, 'kalai'),
 (3, 5, 'raks'),
 (5, 7, 'papa'),
 (7, 8, 'thambi')]

In [22]:
l =[2,3,5,7]
l1=[2,4,5,7,8]
l2=['mohn', 'kalai', 'raks', 'papa', 'thambi']

In [23]:
list(zip(l,l1,l2))

[(2, 2, 'mohn'), (3, 4, 'kalai'), (5, 5, 'raks'), (7, 7, 'papa')]

"""Task for today :
  dataset -   https://archive.ics.uci.edu/ml/datasets/Bag+of+Words
    
    q1 = try to find out a count of each and every word in a respective file return a list of tuple with word and its respective count 
       sample example -  [('sudh', 6 ) , ('kumar',3)]
    q2 = try to perform a reduce operation to get a count of all the word starting with same alphabet
        sample examle = [(a,56) , (b,34),...........]
    q3 = Try to filter out all the words from dataset . 
    
    .001.abstract = abstract
    =.002 = delete
    q4 = create a tuple set of all the records avaialble in all the five file and then store it in sqllite DB . 
    (aah,>=,354,fdsf,wer)
    
    Top 10 will be able to get kids neuron """
    
Coding requirement: convention
1. modular coding
2. logging
3. exception handling try and except

Code share link:
X8PY8Y.codeshare.iu/x8py8y