Cassandra - Not only SQL (NOSQL)
SQL : structured data( table, schema need, difficult to edit later)
DB designed to designed fast search(indexing)
cassandra - designed by facebook
1) scalability, 2) high availability (reason)
3) decentralize
4) durable

what is scalability? 100gb then tomorrow 500gb growing more and more everymonth
we need kind of system to configure as we progress in space (horizontally scalable with hardware and software)
today(100gb) >> next year need (500gb) >> following year 1600gb.. still possible. In case of cassandra, existing h/w and s/w is tied with new h/w and s/w - gfs file system and hadoop system

ex: old laptop + New laptop + latest laptop.... (share the computational power and RAM)
All apps are using the cassandra system (facebook, uber, spotify, github..)

SQL (vertical scalable system, scrap the existing h/w and s/w and do new system)
ex: old laptop (not enough computational power) > replaced with new laptop (with good configuration)

What is high availability?
For example:
test.txt file, write inside in a local system and this system is going to crash. when it does all the data is erased.

whatever happen the system must be available for use, cloud system is nothing but multiple computer is interconnected.
if we design a system such a way multiple datacenter in the different location is interconnected but you have registered/stored the data in nearby datacenter. in any case the nearby datacenter is down, what if the data you had in the datacenter is replicated the same data in other multiple location, ny having this kind of configuration the user/data stored person will not have any problem in accessing the data in datacenter/cloud which automatically link the access to other location when your intended datacenter down.
this kind of system design is hogh availability

ex: your datacenter(SG) <<--->> mumbai datacenter<<--->>virginia datacenter
            ^
            |
            > User data(inueron.ai)
            
       SG data center down, then i get the data from mumbai or virginia

High availability is achieved by fault tolerant
decentralized - blockchain, ft3.0
replication factor is 3, 2, 4.. Location system / cluster

3. decentralized system: no single point of failure system / no network bottleneck system
data is stored in multiple datacenters.

4) durable system: even the complete datacenter is going down and we are not worried about it. it still gets the data available from other datacenter
elastic kind of property, both increases linearity on both vertical and horizontally, latency is decreased and read/write speed increased.

commodity vs dedicated hardware
commodity is cheaper, common system.

google:
datastax.com
with gmail login

database created:
database: mohana
keyspace: ineurontest

In [1]:
pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.25.0-cp37-cp37m-win_amd64.whl (2.7 MB)
Collecting geomet<0.3,>=0.1
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: six>=1.9 in c:\users\mral\anaconda3\lib\site-packages (from cassandra-driver) (1.14.0)
Requirement already satisfied: click in c:\users\mral\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.0)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1
Note: you may need to restart the kernel to use updated packages.

# Pandas

In [1]:
import pandas as pd

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE08-50A1

 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron

23/09/2022  11:35 AM    <DIR>          .
23/09/2022  11:35 AM    <DIR>          ..
22/09/2022  09:30 PM    <DIR>          .ipynb_checkpoints
21/08/2022  04:27 PM    <DIR>          __pycache__
10/08/2022  09:56 PM            69,297 1) Python basic_String_list_Indexing.ipynb
16/09/2022  07:25 AM            71,909 10) MongoDB.ipynb
17/09/2022  05:49 PM            19,322 10.1) Mongodb exercise.ipynb
21/09/2022  08:51 PM            74,018 11) SQL Lite, Map, Reduce, filter, zip.ipynb
23/09/2022  11:35 AM             5,172 12) Pandas.ipynb
10/08/2022  10:02 PM            50,566 2) Tuple, Set Dict.ipynb
10/08/2022  10:43 PM           226,340 3) 19Dec_Python Prog Discussion.ipynb
10/08/2022  10:58 PM            28,649 4) Function_23Dec21.ipynb
10/08/2022  11:34 PM            53,772 5) Function_Part2_8Jan22.ipynb
10/08/2022  11:55 PM            97,813 6) 9th Jan - Iterator, Generator File System.ipynb
14/08/2022  08:32 PM         1,397,957 6.1) Function_Assignment_10Aug2022.ipynb
16/08/2022  05:23 PM            28,483 7) Exception Handling.ipynb
22/08/2022  02:07 PM             8,701 7.1) Logging.ipynb
21/08/2022  04:41 PM            20,334 8) Module and Import.ipynb
22/08/2022  02:11 PM            25,214 8.1) OOPS concept.ipynb
02/09/2022  09:26 PM            53,704 8.2) OOPS with Module_Packages.ipynb
08/09/2022  08:41 PM            44,042 8.3) OOPs with Polymorphism.ipynb
06/09/2022  05:32 PM            99,929 9) SQL.ipynb
09/09/2022  03:15 PM           448,402 9.1) SQL Day2.ipynb
06/09/2022  08:42 PM            51,867 car.data
07/09/2022  10:10 AM             3,097 car.names
16/09/2022  08:35 PM           628,633 carbon_nanotubes.csv
12/07/2021  09:41 AM           147,652 file1.pdf
06/09/2022  02:41 PM            11,903 glass.data
10/08/2022  06:16 AM             2,332 google.txt
27/11/2021  10:00 AM       239,419,577 IMG_7526.MOV
18/09/2022  02:12 PM             8,192 ineuron.db
20/09/2022  07:19 PM            12,288 joindb.db
21/08/2022  07:28 PM                62 list.log
17/08/2022  05:48 PM               230 my_module.py
21/08/2022  04:27 PM             3,146 mydict.py
13/08/2022  10:45 AM            26,187 mywordfile.docx
13/08/2022  02:24 PM             3,649 mywordfile.pdf
13/08/2022  02:28 PM                 0 new.pdf
13/08/2022  02:29 PM           146,057 newPDF.pdf
18/09/2022  02:11 PM             8,192 person.db
17/08/2022  05:05 PM             1,519 test
16/08/2022  07:51 PM             1,193 test.log
17/08/2022  05:08 PM                 0 test1.py
21/08/2022  07:34 PM                22 test1.txt
16/08/2022  08:13 PM             4,042 test2.log
17/08/2022  05:25 PM               262 test2.py
22/08/2022  02:08 PM             4,512 test3.log
14/08/2022  11:21 PM                 6 text1.txt
15/02/2018  08:15 PM           161,227 WIN_20180215_20_15_41_Pro.jpg
              45 File(s)    243,469,471 bytes
               4 Dir(s)  203,260,010,496 bytes free

In [3]:
pd.read_csv('carbon_nanotubes.csv')

                                                     Chiral indice n;Chiral indice m;Initial atomic coordinate u;Initial atomic coordinate v;Initial atomic coordinate w;Calculated atomic coordinates u';Calculated atomic coordinates v';Calculated atomic coordinates w'
2;1;0  679005;0 701318;0 017033;0 721039;0 730232;0                                            17014.0
       717298;0 642129;0 231319;0 738414;0 65675;0                                            232369.0
       489336;0 303751;0 088462;0 477676;0 263221;0                                            88712.0
       413957;0 632996;0 040843;0 408823;0 657897;0                                            39796.0
       334292;0 543401;0 15989;0  303349;0 558807;0                                           157373.0
...                                                                                                ...
12;6;0 834201;0 399891;0 89127;0  841858;0 405882;0                                           891356.0
       698374;0 24471;0  962699;0 706555;0 248416;0                                           962833.0
       923823;0 568913;0 819842;0 929403;0 576284;0                                           819879.0
       934978;0 602319;0 938889;0 941844;0 610608;0                                           938755.0
       953664;0 698374;0 962699;0 961243;0 707812;0                                           962605.0

[10721 rows x 1 columns]

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE08-50A1

 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron

23/09/2022  01:42 PM    <DIR>          .
23/09/2022  01:42 PM    <DIR>          ..
22/09/2022  09:30 PM    <DIR>          .ipynb_checkpoints
21/08/2022  04:27 PM    <DIR>          __pycache__
10/08/2022  09:56 PM            69,297 1) Python basic_String_list_Indexing.ipynb
16/09/2022  07:25 AM            71,909 10) MongoDB.ipynb
17/09/2022  05:49 PM            19,322 10.1) Mongodb exercise.ipynb
21/09/2022  08:51 PM            74,018 11) SQL Lite, Map, Reduce, filter, zip.ipynb
23/09/2022  11:41 AM            16,871 12) Pandas.ipynb
10/08/2022  10:02 PM            50,566 2) Tuple, Set Dict.ipynb
10/08/2022  10:43 PM           226,340 3) 19Dec_Python Prog Discussion.ipynb
10/08/2022  10:58 PM            28,649 4) Function_23Dec21.ipynb
10/08/2022  11:34 PM            53,772 5) Function_Part2_8Jan22.ipynb
10/08/2022  11:55 PM            97,813 6) 9th Jan - Iterator, Generator File System.ipynb
14/08/2022  08:32 PM         1,397,957 6.1) Function_Assignment_10Aug2022.ipynb
16/08/2022  05:23 PM            28,483 7) Exception Handling.ipynb
22/08/2022  02:07 PM             8,701 7.1) Logging.ipynb
21/08/2022  04:41 PM            20,334 8) Module and Import.ipynb
22/08/2022  02:11 PM            25,214 8.1) OOPS concept.ipynb
02/09/2022  09:26 PM            53,704 8.2) OOPS with Module_Packages.ipynb
08/09/2022  08:41 PM            44,042 8.3) OOPs with Polymorphism.ipynb
06/09/2022  05:32 PM            99,929 9) SQL.ipynb
09/09/2022  03:15 PM           448,402 9.1) SQL Day2.ipynb
06/09/2022  08:42 PM            51,867 car.data
07/09/2022  10:10 AM             3,097 car.names
16/09/2022  08:35 PM           628,633 carbon_nanotubes.csv
12/07/2021  09:41 AM           147,652 file1.pdf
06/09/2022  02:41 PM            11,903 glass.data
10/08/2022  06:16 AM             2,332 google.txt
27/11/2021  10:00 AM       239,419,577 IMG_7526.MOV
18/09/2022  02:12 PM             8,192 ineuron.db
20/09/2022  07:19 PM            12,288 joindb.db
21/08/2022  07:28 PM                62 list.log
17/08/2022  05:48 PM               230 my_module.py
21/08/2022  04:27 PM             3,146 mydict.py
13/08/2022  10:45 AM            26,187 mywordfile.docx
13/08/2022  02:24 PM             3,649 mywordfile.pdf
13/08/2022  02:28 PM                 0 new.pdf
13/08/2022  02:29 PM           146,057 newPDF.pdf
18/09/2022  02:11 PM             8,192 person.db
23/09/2022  01:42 PM    <DIR>          sample csv files
17/08/2022  05:05 PM             1,519 test
16/08/2022  07:51 PM             1,193 test.log
17/08/2022  05:08 PM                 0 test1.py
21/08/2022  07:34 PM                22 test1.txt
16/08/2022  08:13 PM             4,042 test2.log
17/08/2022  05:25 PM               262 test2.py
22/08/2022  02:08 PM             4,512 test3.log
14/08/2022  11:21 PM                 6 text1.txt
15/02/2018  08:15 PM           161,227 WIN_20180215_20_15_41_Pro.jpg
              45 File(s)    243,481,170 bytes
               5 Dir(s)  203,255,504,896 bytes free

In [5]:
pd.read_csv('C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\locations.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-5-460f0cc46c05>, line 1)

In [7]:
#with the above error, we observed unicode error can be solved by having the r in front
pd.read_csv(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\locations.csv')

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False
5,6,2,"disabled_parking, wheelchair",NaN,NaN,A multipurpose center offering a wide variety ...,NaN,"Tagalog, Spanish",37.448020,-122.180591,Little House,A multipurpose senior citizens' center.,"SAMTRANS stops within 3 blocks, RediWheels and...",NaN,False
6,7,2,"ramp, restroom, disabled_parking, wheelchair",NaN,NaN,Rosener House is a day center for older adults...,NaN,"Spanish, Tagalog, Vietnamese",37.444178,-122.183093,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,False
7,8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.448020,-122.180591,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,False
8,9,3,"ramp, restroom, wheelchair",NaN,NaN,"Provides general reading material, including b...",NaN,Spanish,37.478502,-122.214143,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,False
9,10,3,"elevator, tape_braille, ramp, restroom, disabl...",NaN,NaN,"Provides general reading and media materials, ...",NaN,Spanish,37.483842,-122.227395,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,False
10,11,3,ramp,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.466553,-122.243090,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,False
11,12,3,"disabled_parking, elevator, ramp, restroom",ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.483842,-122.227395,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,False
12,13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.530423,-122.258643,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,False
13,14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.491386,-122.231568,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,False
14,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.748899,-122.420367,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,False
15,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.356900,-122.060002,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,False
16,17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.644590,-122.422491,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,False
17,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

In [8]:
pd.read_csv(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\services.csv')

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [10]:
df = pd.read_csv(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\taxonomy.csv')

In [11]:
df

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [12]:
type(df)

pandas.core.frame.DataFrame

In [14]:
#instead of treating the 1st row as column header, we can do offset that
pd.read_csv(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\taxonomy.csv', header=None)

,0,1,2,3
0,taxonomy_id,name,parent_id,parent_name
1,101,Emergency,NaN,NaN
2,101-01,Disaster Response,101,Emergency
3,101-02,Emergency Cash,101,Emergency
4,101-02-01,Help Pay for Food,101-02,Emergency Cash
...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
287,111-02,Mediation,111,Legal
288,111-03,Notary,111,Legal
289,111-04,Representation,111,Legal
290,111-05,Translation & Interpretation,111,Legal

In [15]:
#Created own column names

pd.read_csv(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\taxonomy.csv', names=['a', 'b', 'c', 'd'])

,a,b,c,d
0,taxonomy_id,name,parent_id,parent_name
1,101,Emergency,NaN,NaN
2,101-01,Disaster Response,101,Emergency
3,101-02,Emergency Cash,101,Emergency
4,101-02-01,Help Pay for Food,101-02,Emergency Cash
...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
287,111-02,Mediation,111,Legal
288,111-03,Notary,111,Legal
289,111-04,Representation,111,Legal
290,111-05,Translation & Interpretation,111,Legal

In [16]:
#for example if given 3 column names for 4 column, then 1st column treated as Row Indexes
#look the 1st column as row indexes
pd.read_csv(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\taxonomy.csv', names = ['a', 'b', 'c'])

                                        a          b                     c
taxonomy_id                          name  parent_id           parent_name
101                             Emergency        NaN                   NaN
101-01                  Disaster Response        101             Emergency
101-02                     Emergency Cash        101             Emergency
101-02-01               Help Pay for Food     101-02        Emergency Cash
...                                   ...        ...                   ...
111-01-07                Workplace Rights     111-01  Advocacy & Legal Aid
111-02                          Mediation        111                 Legal
111-03                             Notary        111                 Legal
111-04                     Representation        111                 Legal
111-05       Translation & Interpretation        111                 Legal

[291 rows x 3 columns]

In [17]:
#what if i give only 2 column names for 4 columns
#1st 2 column has treated as row indexex
pd.read_csv(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\taxonomy.csv', names = ['a', 'b'])

                                                  a                     b
taxonomy_id name                          parent_id           parent_name
101         Emergency                           NaN                   NaN
101-01      Disaster Response                   101             Emergency
101-02      Emergency Cash                      101             Emergency
101-02-01   Help Pay for Food                101-02        Emergency Cash
...                                             ...                   ...
111-01-07   Workplace Rights                 111-01  Advocacy & Legal Aid
111-02      Mediation                           111                 Legal
111-03      Notary                              111                 Legal
111-04      Representation                      111                 Legal
111-05      Translation & Interpretation        111                 Legal

[291 rows x 2 columns]

In [18]:
#i have replaced ',' to '@'
pd.read_csv(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\taxonomy.csv')

                taxonomy_id@name@parent_id@parent_name
0                                      101@Emergency@@
1               101-01@Disaster Response@101@Emergency
2                  101-02@Emergency Cash@101@Emergency
3    101-02-01@Help Pay for Food@101-02@Emergency Cash
4    101-02-02@Help Pay for Healthcare@101-02@Emerg...
..                                                 ...
285  111-01-07@Workplace Rights@111-01@Advocacy & L...
286                         111-02@Mediation@111@Legal
287                            111-03@Notary@111@Legal
288                    111-04@Representation@111@Legal
289      111-05@Translation & Interpretation@111@Legal

[290 rows x 1 columns]

In [19]:
#to separate the @ and read use the sep function
pd.read_csv(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\taxonomy.csv', sep='@')

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [20]:
df = pd.read_csv(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\taxonomy.csv', sep='@', skiprows=[1,3,5])

In [22]:
#we skipped 3 rows then the the total row is 287
df

    taxonomy_id                          name parent_id           parent_name
0        101-01             Disaster Response       101             Emergency
1     101-02-01             Help Pay for Food    101-02        Emergency Cash
2     101-02-03          Help Pay for Housing    101-02        Emergency Cash
3     101-02-04              Help Pay for Gas    101-02        Emergency Cash
4     101-02-05           Help Pay for School    101-02        Emergency Cash
..          ...                           ...       ...                   ...
282   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
283      111-02                     Mediation       111                 Legal
284      111-03                        Notary       111                 Legal
285      111-04                Representation       111                 Legal
286      111-05  Translation & Interpretation       111                 Legal

[287 rows x 4 columns]

In [23]:
#type of each columns
df.dtypes

taxonomy_id    object
name           object
parent_id      object
parent_name    object
dtype: object

In [24]:
df = pd.read_csv(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\services.csv')

In [25]:
df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [26]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [27]:
#top 5 rows
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [28]:
#tail 5 rows(bottom)
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [29]:
#to see all the columns
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [34]:
#to see only interested columns
a = df['keywords']

In [35]:
type(a)

pandas.core.series.Series

series is nothing but a list, it could be single row or column in the dataframe
if multiple series is joined together it is called dataframe

In [37]:
 df1= df[['name','keywords']]

In [38]:
type(df1)

pandas.core.frame.DataFrame

In [39]:
 df2= df[['name']]

In [40]:
type(df2)
#why is it dataframe? reason we have given 1 items inside the list and it return as dataframe

pandas.core.frame.DataFrame

In [41]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE08-50A1

 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron

23/09/2022  04:31 PM    <DIR>          .
23/09/2022  04:31 PM    <DIR>          ..
22/09/2022  09:30 PM    <DIR>          .ipynb_checkpoints
21/08/2022  04:27 PM    <DIR>          __pycache__
10/08/2022  09:56 PM            69,297 1) Python basic_String_list_Indexing.ipynb
16/09/2022  07:25 AM            71,909 10) MongoDB.ipynb
17/09/2022  05:49 PM            19,322 10.1) Mongodb exercise.ipynb
21/09/2022  08:51 PM            74,018 11) SQL Lite, Map, Reduce, filter, zip.ipynb
23/09/2022  04:31 PM           207,569 12) Pandas.ipynb
10/08/2022  10:02 PM            50,566 2) Tuple, Set Dict.ipynb
10/08/2022  10:43 PM           226,340 3) 19Dec_Python Prog Discussion.ipynb
10/08/2022  10:58 PM            28,649 4) Function_23Dec21.ipynb
10/08/2022  11:34 PM            53,772 5) Function_Part2_8Jan22.ipynb
10/08/2022  11:55 PM            97,813 6) 9th Jan - Iterator, Generator File System.ipynb
14/08/2022  08:32 PM         1,397,957 6.1) Function_Assignment_10Aug2022.ipynb
16/08/2022  05:23 PM            28,483 7) Exception Handling.ipynb
22/08/2022  02:07 PM             8,701 7.1) Logging.ipynb
21/08/2022  04:41 PM            20,334 8) Module and Import.ipynb
22/08/2022  02:11 PM            25,214 8.1) OOPS concept.ipynb
02/09/2022  09:26 PM            53,704 8.2) OOPS with Module_Packages.ipynb
08/09/2022  08:41 PM            44,042 8.3) OOPs with Polymorphism.ipynb
06/09/2022  05:32 PM            99,929 9) SQL.ipynb
09/09/2022  03:15 PM           448,402 9.1) SQL Day2.ipynb
06/09/2022  08:42 PM            51,867 car.data
07/09/2022  10:10 AM             3,097 car.names
16/09/2022  08:35 PM           628,633 carbon_nanotubes.csv
12/07/2021  09:41 AM           147,652 file1.pdf
06/09/2022  02:41 PM            11,903 glass.data
10/08/2022  06:16 AM             2,332 google.txt
27/11/2021  10:00 AM       239,419,577 IMG_7526.MOV
18/09/2022  02:12 PM             8,192 ineuron.db
20/09/2022  07:19 PM            12,288 joindb.db
21/08/2022  07:28 PM                62 list.log
17/08/2022  05:48 PM               230 my_module.py
21/08/2022  04:27 PM             3,146 mydict.py
13/08/2022  10:45 AM            26,187 mywordfile.docx
13/08/2022  02:24 PM             3,649 mywordfile.pdf
13/08/2022  02:28 PM                 0 new.pdf
13/08/2022  02:29 PM           146,057 newPDF.pdf
18/09/2022  02:11 PM             8,192 person.db
23/09/2022  04:37 PM    <DIR>          sample csv files
17/08/2022  05:05 PM             1,519 test
16/08/2022  07:51 PM             1,193 test.log
17/08/2022  05:08 PM                 0 test1.py
21/08/2022  07:34 PM                22 test1.txt
16/08/2022  08:13 PM             4,042 test2.log
17/08/2022  05:25 PM               262 test2.py
22/08/2022  02:08 PM             4,512 test3.log
14/08/2022  11:21 PM                 6 text1.txt
15/02/2018  08:15 PM           161,227 WIN_20180215_20_15_41_Pro.jpg
              45 File(s)    243,671,868 bytes
               5 Dir(s)  203,316,318,208 bytes free

In [47]:
df = pd.read_excel(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\LUSID Excel - Manage Orders.xlsx',sheet_name="Allocations")

In [48]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,This sheet allows you to manage Allocations:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetAllocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,MyAllocation001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,MyAllocation002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#to know about the list of sheets in the excel file
#because the data saved in the excel file is key:value format
#where key is the sheet names and values are the data in the sheet.

df = pd.ExcelFile(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\LUSID Excel - Manage Orders.xlsx')

In [4]:
df.sheet_names

['Executions', 'Orders', 'Allocations', 'Placements', 'Blocks']

In [6]:
for i in df.sheet_names:
    gf = pd.read_excel(r'C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\LUSID Excel - Manage Orders.xlsx', sheet_name = i)
    print(gf, end='\n')

    Unnamed: 0                                   Unnamed: 1  \
0          NaN  This sheet allows you to manage executions:
1          NaN                           1. List executions
2          NaN                             2. Get execution
3          NaN                         3. Upsert executions
4          NaN                                          NaN
..         ...                                          ...
65         NaN                                          NaN
66         NaN                                          NaN
67         NaN                                          NaN
68         NaN                                          NaN
69         NaN                                          NaN

           Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0                 NaN        NaN        NaN        NaN        NaN        NaN
1                 NaN        NaN        NaN        NaN        NaN        NaN
2                 NaN        NaN        NaN        NaN        NaN        NaN
3                 NaN        NaN        NaN        NaN        NaN        NaN
4                 NaN        NaN        NaN        NaN        NaN        NaN
..                ...        ...        ...        ...        ...        ...
65                NaN        NaN        NaN        NaN        NaN        NaN
66                NaN        NaN        NaN        NaN        NaN        NaN
67                NaN        NaN        NaN        NaN        NaN        NaN
68               Code        NaN        NaN        NaN        NaN        NaN
69  MyExecutionCode01        NaN        NaN        NaN        NaN        NaN

   Unnamed: 8 Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  \
0         NaN        NaN  ...         NaN         NaN         NaN         NaN
1         NaN        NaN  ...         NaN         NaN         NaN         NaN
2         NaN        NaN  ...         NaN         NaN         NaN         NaN
3         NaN        NaN  ...         NaN         NaN         NaN         NaN
4         NaN        NaN  ...         NaN         NaN         NaN         NaN
..        ...        ...  ...         ...         ...         ...         ...
65        NaN        NaN  ...         NaN         NaN         NaN         NaN
66        NaN        NaN  ...         NaN         NaN         NaN         NaN
67        NaN        NaN  ...         NaN         NaN         NaN         NaN
68        NaN        NaN  ...         NaN         NaN         NaN         NaN
69        NaN        NaN  ...         NaN         NaN         NaN         NaN

   Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23  Unnamed: 24
0          NaN         NaN         NaN         NaN         NaN          NaN
1          NaN         NaN         NaN         NaN         NaN          NaN
2          NaN         NaN         NaN         NaN         NaN          NaN
3          NaN         NaN         NaN         NaN         NaN          NaN
4          NaN         NaN         NaN         NaN         NaN          NaN
..         ...         ...         ...         ...         ...          ...
65         NaN         NaN         NaN         NaN         NaN          NaN
66         NaN         NaN         NaN         NaN         NaN          NaN
67         NaN         NaN         NaN         NaN         NaN          NaN
68         NaN         NaN         NaN         NaN         NaN          NaN
69         NaN         NaN         NaN         NaN         NaN          NaN

[70 rows x 25 columns]
    Unnamed: 0                               Unnamed: 1     Unnamed: 2  \
0          NaN  This sheet allows you to manage Orders:            NaN
1          NaN                            1. ListOrders            NaN
2          NaN                              2. Getorder            NaN
3          NaN                          3. UpsertOrders            NaN
4          NaN                                      NaN            NaN
..         ...                                      ...            ...
66         NaN                                      NaN            NaN
67         NaN                                      NaN            NaN
68         NaN                                      NaN           Code
69         NaN                                      NaN  MyOrderCode02
70         NaN                                      NaN  MyOrderCode01

   Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN        NaN
..        ...        ...        ...        ...        ...        ...
66        NaN        NaN        NaN        NaN        NaN        NaN
67        NaN        NaN        NaN        NaN        NaN        NaN
68        NaN        NaN        NaN        NaN        NaN        NaN
69        NaN        NaN        NaN        NaN        NaN        NaN
70        NaN        NaN        NaN        NaN        NaN        NaN

   Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  \
0         NaN  ...         NaN         NaN         NaN         NaN
1         NaN  ...         NaN         NaN         NaN         NaN
2         NaN  ...         NaN         NaN         NaN         NaN
3         NaN  ...         NaN         NaN         NaN         NaN
4         NaN  ...         NaN         NaN         NaN         NaN
..        ...  ...         ...         ...         ...         ...
66        NaN  ...         NaN         NaN         NaN         NaN
67        NaN  ...         NaN         NaN         NaN         NaN
68        NaN  ...         NaN         NaN         NaN         NaN
69        NaN  ...         NaN         NaN         NaN         NaN
70        NaN  ...         NaN         NaN         NaN         NaN

   Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
..         ...         ...         ...         ...         ...         ...
66         NaN         NaN         NaN         NaN         NaN         NaN
67         NaN         NaN         NaN         NaN         NaN         NaN
68         NaN         NaN         NaN         NaN         NaN         NaN
69         NaN         NaN         NaN         NaN         NaN         NaN
70         NaN         NaN         NaN         NaN         NaN         NaN

[71 rows x 25 columns]
    Unnamed: 0                                    Unnamed: 1       Unnamed: 2  \
0          NaN  This sheet allows you to manage Allocations:              NaN
1          NaN                            1. ListAllocations              NaN
2          NaN                              2. GetAllocation              NaN
3          NaN                          3. UpsertAllocations              NaN
4          NaN                                           NaN              NaN
..         ...                                           ...              ...
60         NaN                                           NaN              NaN
61         NaN                                           NaN              NaN
62         NaN                                           NaN             Code
63         NaN                                           NaN  MyAllocation001
64         NaN                                           NaN  MyAllocation002

   Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN        NaN
..        ...        ...        ...        ...        ...        ...
60        NaN        NaN        NaN        NaN        NaN        NaN
61        NaN        NaN        NaN        NaN        NaN        NaN
62        NaN        NaN        NaN        NaN        NaN        NaN
63        NaN        NaN        NaN        NaN        NaN        NaN
64        NaN        NaN        NaN        NaN        NaN        NaN

   Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  \
0         NaN  ...         NaN         NaN         NaN         NaN
1         NaN  ...         NaN         NaN         NaN         NaN
2         NaN  ...         NaN         NaN         NaN         NaN
3         NaN  ...         NaN         NaN         NaN         NaN
4         NaN  ...         NaN         NaN         NaN         NaN
..        ...  ...         ...         ...         ...         ...
60        NaN  ...         NaN         NaN         NaN         NaN
61        NaN  ...         NaN         NaN         NaN         NaN
62        NaN  ...         NaN         NaN         NaN         NaN
63        NaN  ...         NaN         NaN         NaN         NaN
64        NaN  ...         NaN         NaN         NaN         NaN

   Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
..         ...         ...         ...         ...         ...         ...
60         NaN         NaN         NaN         NaN         NaN         NaN
61         NaN         NaN         NaN         NaN         NaN         NaN
62         NaN         NaN         NaN         NaN         NaN         NaN
63         NaN         NaN         NaN         NaN         NaN         NaN
64         NaN         NaN         NaN         NaN         NaN         NaN

[65 rows x 25 columns]
    Unnamed: 0                                   Unnamed: 1    Unnamed: 2  \
0          NaN  This sheet allows you to manage Placements:           NaN
1          NaN                            1. ListPlacements           NaN
2          NaN                              2. GetPlacement           NaN
3          NaN                          3. UpsertPlacements           NaN
4          NaN                                          NaN           NaN
..         ...                                          ...           ...
58         NaN                                          NaN           NaN
59         NaN                                          NaN           NaN
60         NaN                                          NaN           NaN
61         NaN                                          NaN          Code
62         NaN                                          NaN  Placement001

   Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN        NaN
..        ...        ...        ...        ...        ...        ...
58        NaN        NaN        NaN        NaN        NaN        NaN
59        NaN        NaN        NaN        NaN        NaN        NaN
60        NaN        NaN        NaN        NaN        NaN        NaN
61        NaN        NaN        NaN        NaN        NaN        NaN
62        NaN        NaN        NaN        NaN        NaN        NaN

   Unnamed: 9  ... Unnamed: 14 Unnamed: 15 Unnamed: 16 Unnamed: 17  \
0         NaN  ...         NaN         NaN         NaN         NaN
1         NaN  ...         NaN         NaN         NaN         NaN
2         NaN  ...         NaN         NaN         NaN         NaN
3         NaN  ...         NaN         NaN         NaN         NaN
4         NaN  ...         NaN         NaN         NaN         NaN
..        ...  ...         ...         ...         ...         ...
58        NaN  ...         NaN         NaN         NaN         NaN
59        NaN  ...         NaN         NaN         NaN         NaN
60        NaN  ...         NaN         NaN         NaN         NaN
61        NaN  ...         NaN         NaN         NaN         NaN
62        NaN  ...         NaN         NaN         NaN         NaN

   Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22  Unnamed: 23
0          NaN         NaN         NaN         NaN         NaN          NaN
1          NaN         NaN         NaN         NaN         NaN          NaN
2          NaN         NaN         NaN         NaN         NaN          NaN
3          NaN         NaN         NaN         NaN         NaN          NaN
4          NaN         NaN         NaN         NaN         NaN          NaN
..         ...         ...         ...         ...         ...          ...
58         NaN         NaN         NaN         NaN         NaN          NaN
59         NaN         NaN         NaN         NaN         NaN          NaN
60         NaN         NaN         NaN         NaN         NaN          NaN
61         NaN         NaN         NaN         NaN         NaN          NaN
62         NaN         NaN         NaN         NaN         NaN          NaN

[63 rows x 24 columns]

    Unnamed: 0                               Unnamed: 1  \
0          NaN  This sheet allows you to manage Blocks:
1          NaN                            1. ListBlocks
2          NaN                              2. GetBlock
3          NaN                          3. UpsertBlocks
4          NaN                                      NaN
5          NaN                                      NaN
6          NaN                                      NaN
7          NaN                                      NaN
8          NaN                  1. Get a list of blocks
9          NaN                                      NaN
10         NaN                                    asAt:
11         NaN                                      NaN
12         NaN                                  filter:
13         NaN                                      NaN
14         NaN                            propertyKeys:
15         NaN                                      NaN
16         NaN                                      NaN
17         NaN                                      NaN
18         NaN                                      NaN
19         NaN                                      NaN
20         NaN                                      NaN
21         NaN                                      NaN
22         NaN                                      NaN
23         NaN                                      NaN
24         NaN                                      NaN
25         NaN                                      NaN
26         NaN                                      NaN
27         NaN                                      NaN
28         NaN                                      NaN
29         NaN                                      NaN
30         NaN                                      NaN
31         NaN                  2. Get a specific block
32         NaN                                      NaN
33         NaN                                   scope:
34         NaN                                      NaN
35         NaN                                    code:
36         NaN                                      NaN
37         NaN                                    asAt:
38         NaN                                      NaN
39         NaN                            propertyKeys:
40         NaN                                      NaN
41         NaN                                      NaN
42         NaN                                      NaN
43         NaN                                      NaN
44         NaN                                      NaN
45         NaN                         3. Upsert blocks
46         NaN                                      NaN
47         NaN    Add blocks using the following table:
48         NaN                                      NaN
49         NaN                                      NaN
50         NaN                                      NaN
51         NaN                                      NaN
52         NaN                                      NaN
53         NaN                                      NaN
54         NaN                                      NaN
55         NaN                                      NaN
56         NaN                                      NaN
57         NaN                                      NaN
58         NaN                                      NaN

                               Unnamed: 2        Unnamed: 3  \
0                                     NaN               NaN
1                                     NaN               NaN
2                                     NaN               NaN
3                                     NaN               NaN
4                                     NaN               NaN
5                                     NaN               NaN
6                                     NaN               NaN
7                                     NaN               NaN
8                                     NaN               NaN
9                                     NaN               NaN
10                                    NaN               NaN
11                                    NaN               NaN
12                         quantity gt 50               NaN
13                                    NaN               NaN
14  Block/MyScope/SomeOrderEntityProperty               NaN
15                                    NaN               NaN
16                               Id Scope           Id Code
17                             TestScope2  orderEntityCode2
18                              TestScope      OrderEntity6
19                              TestScope      OrderEntity1
20                              TestScope      OrderEntity5
21                              TestScope      OrderEntity2
22                              TestScope      OrderEntity4
23                              TestScope      OrderEntity3
24                              TestScope  orderEntityCode1
25                              TestScope   BLOC_1310500833
26                              TestScope    BLOC_949780324
27                    TestScopeOrderGraph   BLOC_1842506452
28                              [More...]         [More...]
29                                    NaN               NaN
30                                    NaN               NaN
31                                    NaN               NaN
32                                    NaN               NaN
33                              TestScope               NaN
34                                    NaN               NaN
35                           OrderEntity1               NaN
36                                    NaN               NaN
37                                    NaN               NaN
38                                    NaN               NaN
39  Block/MyScope/SomeOrderEntityProperty               NaN
40                                    NaN               NaN
41                               Id Scope           Id Code
42                              TestScope      OrderEntity1
43                                    NaN               NaN
44                                    NaN               NaN
45                                    NaN               NaN
46                                    NaN               NaN
47                                    NaN               NaN
48                                    NaN               NaN
49                               Id Scope           Id Code
50                              TestScope        MyOrder001
51                                    NaN               NaN
52                                    NaN               NaN
53                                    NaN               NaN
54                                    NaN               NaN
55                                    NaN               NaN
56                                    NaN               NaN
57                                   Code               NaN
58                             MyOrder001               NaN

                           Unnamed: 4  \
0                                 NaN
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
5                                 NaN
6                                 NaN
7                                 NaN
8                                 NaN
9                                 NaN
10                                NaN
11                                NaN
12                                NaN
13                                NaN
14                                NaN
15                                NaN
16                           OrderIds
17               TestScope2:testOrder
18                TestScope:testOrder
19                TestScope:testOrder
20                TestScope:testOrder
21                TestScope:testOrder
22                TestScope:testOrder
23                TestScope:testOrder
24                TestScope:testOrder
25            TestScope:ORD_805415329
26             TestScope:ORD_98041040
27  TestScopeOrderGraph:ORD_265037669
28                          [More...]
29                                NaN
30                                NaN
31                                NaN
32                                NaN
33                                NaN
34                                NaN
35                                NaN
36                                NaN
37                                NaN
38                                NaN
39                                NaN
40                                NaN
41                           OrderIds
42                TestScope:testOrder
43                                NaN
44                                NaN
45                                NaN
46                                NaN
47                                NaN
48                                NaN
49                           OrderIds
50                TestScope:testOrder
51                                NaN
52                                NaN
53                                NaN
54                                NaN
55                                NaN
56                                NaN
57                                NaN
58                                NaN

                                           Unnamed: 5         Unnamed: 6  \
0                                                 NaN                NaN
1                                                 NaN                NaN
2                                                 NaN                NaN
3                                                 NaN                NaN
4                                                 NaN                NaN
5                                                 NaN                NaN
6                                                 NaN                NaN
7                                                 NaN                NaN
8                                                 NaN                NaN
9                                                 NaN                NaN
10                                                NaN                NaN
11                                                NaN                NaN
12                                                NaN                NaN
13                                                NaN                NaN
14                                                NaN                NaN
15                                                NaN                NaN
16                              InstrumentIdentifiers  LusidInstrumentId
17                     Instrument/default/Name:ABC123      LUID_ZZZZZZZZ
18                     Instrument/default/Figi:INSTR1      LUID_ZZZZZZZZ
19                     Instrument/default/Figi:INSTR1      LUID_ZZZZZZZZ
20                     Instrument/default/Figi:INSTR1      LUID_ZZZZZZZZ
21                     Instrument/default/Figi:INSTR1      LUID_ZZZZZZZZ
22                     Instrument/default/Figi:INSTR1      LUID_ZZZZZZZZ
23                     Instrument/default/Figi:INSTR1      LUID_ZZZZZZZZ
24                     Instrument/default/Name:ABC123      LUID_ZZZZZZZZ
25  Instrument/default/Ticker:AMZN,Instrument/defa...      LUID_3QJOY75Q
26  Instrument/default/Ticker:VOD,Instrument/defau...      LUID_LP8MS5OS
27  Instrument/default/Ticker:AAPL,Instrument/defa...      LUID_JUE15W3W
28                                          [More...]          [More...]
29                                                NaN                NaN
30                                                NaN                NaN
31                                                NaN                NaN
32                                                NaN                NaN
33                                                NaN                NaN
34                                                NaN                NaN
35                                                NaN                NaN
36                                                NaN                NaN
37                                                NaN                NaN
38                                                NaN                NaN
39                                                NaN                NaN
40                                                NaN                NaN
41                              InstrumentIdentifiers  LusidInstrumentId
42                     Instrument/default/Figi:INSTR1      LUID_ZZZZZZZZ
43                                                NaN                NaN
44                                                NaN                NaN
45                                                NaN                NaN
46                                                NaN                NaN
47                                                NaN                NaN
48                                                NaN                NaN
49                                Instrument Id Types     Instrument Ids
50                            Instrument/default/Figi             INSTR1
51                                                NaN                NaN
52                                                NaN                NaN
53                                                NaN                NaN
54                                                NaN                NaN
55                                                NaN                NaN
56                                                NaN                NaN
57                                                NaN                NaN
58                                                NaN                NaN

   Unnamed: 7 Unnamed: 8         Unnamed: 9  ...       Unnamed: 14  \
0         NaN        NaN                NaN  ...               NaN
1         NaN        NaN                NaN  ...               NaN
2         NaN        NaN                NaN  ...               NaN
3         NaN        NaN                NaN  ...               NaN
4         NaN        NaN                NaN  ...               NaN
5         NaN        NaN                NaN  ...               NaN
6         NaN        NaN                NaN  ...               NaN
7         NaN        NaN                NaN  ...               NaN
8         NaN        NaN                NaN  ...               NaN
9         NaN        NaN                NaN  ...               NaN
10        NaN        NaN                NaN  ...               NaN
11        NaN        NaN                NaN  ...               NaN
12        NaN        NaN                NaN  ...               NaN
13        NaN        NaN                NaN  ...               NaN
14        NaN        NaN                NaN  ...               NaN
15        NaN        NaN                NaN  ...               NaN
16   Quantity       Side               Type  ...  StopPrice Amount
17        100        Buy                GTC  ...              1357
18        100        Buy                GTC  ...              1357
19        100        Buy                GTC  ...              1357
20        100        Buy                GTC  ...              1357
21        100        Buy                GTC  ...              1357
22        100        Buy                GTC  ...              1357
23        100        Buy                GTC  ...              1357
24        100        Buy                GTC  ...              1357
25       2342        Buy  Good Til Canceled  ...             34.81
26       2189        Buy  Good Til Canceled  ...             34.81
27       2190        Buy  Good Til Canceled  ...             34.81
28  [More...]  [More...]          [More...]  ...         [More...]
29        NaN        NaN                NaN  ...               NaN
30        NaN        NaN                NaN  ...               NaN
31        NaN        NaN                NaN  ...               NaN
32        NaN        NaN                NaN  ...               NaN
33        NaN        NaN                NaN  ...               NaN
34        NaN        NaN                NaN  ...               NaN
35        NaN        NaN                NaN  ...               NaN
36        NaN        NaN                NaN  ...               NaN
37        NaN        NaN                NaN  ...               NaN
38        NaN        NaN                NaN  ...               NaN
39        NaN        NaN                NaN  ...               NaN
40        NaN        NaN                NaN  ...               NaN
41   Quantity       Side               Type  ...  StopPrice Amount
42        100        Buy                GTC  ...              1357
43        NaN        NaN                NaN  ...               NaN
44        NaN        NaN                NaN  ...               NaN
45        NaN        NaN                NaN  ...               NaN
46        NaN        NaN                NaN  ...               NaN
47        NaN        NaN                NaN  ...               NaN
48        NaN        NaN                NaN  ...               NaN
49   Quantity       Side               Type  ...  StopPrice Amount
50        150        Buy             Market  ...                10
51        NaN        NaN                NaN  ...               NaN
52        NaN        NaN                NaN  ...               NaN
53        NaN        NaN                NaN  ...               NaN
54        NaN        NaN                NaN  ...               NaN
55        NaN        NaN                NaN  ...               NaN
56        NaN        NaN                NaN  ...               NaN
57        NaN        NaN                NaN  ...               NaN
58        NaN        NaN                NaN  ...               NaN

           Unnamed: 15                Unnamed: 16 Unnamed: 17 Unnamed: 18  \
0                  NaN                        NaN         NaN         NaN
1                  NaN                        NaN         NaN         NaN
2                  NaN                        NaN         NaN         NaN
3                  NaN                        NaN         NaN         NaN
4                  NaN                        NaN         NaN         NaN
5                  NaN                        NaN         NaN         NaN
6                  NaN                        NaN         NaN         NaN
7                  NaN                        NaN         NaN         NaN
8                  NaN                        NaN         NaN         NaN
9                  NaN                        NaN         NaN         NaN
10                 NaN                        NaN         NaN         NaN
11                 NaN                        NaN         NaN         NaN
12                 NaN                        NaN         NaN         NaN
13                 NaN                        NaN         NaN         NaN
14                 NaN                        NaN         NaN         NaN
15                 NaN                        NaN         NaN         NaN
16  StopPrice Currency  Test Property for MyScope         NaN         NaN
17                 GBP                          0         NaN         NaN
18                 GBP                 testValue1         NaN         NaN
19                 GBP                 testValue1         NaN         NaN
20                 GBP                 testValue1         NaN         NaN
21                 GBP                 testValue1         NaN         NaN
22                 GBP                 testValue1         NaN         NaN
23                 GBP                 testValue1         NaN         NaN
24                 GBP                          0         NaN         NaN
25                 USD                          0         NaN         NaN
26                 USD                          0         NaN         NaN
27                 USD                          0         NaN         NaN
28           [More...]                  [More...]         NaN         NaN
29                 NaN                        NaN         NaN         NaN

In [7]:
pd.read_csv('https://github.com/datasciencedojo/datasets/blob/master/titanic.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 28, saw 436

In [8]:
#parser error on top is avoided by using the raw data address to access

pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [15]:
a =r"C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files"
b = '\services.csv'
c = a+b
print(c)
pd.read_csv(c)

C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron\sample csv files\services.csv

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [18]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE08-50A1

 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron

26/09/2022  10:16 PM    <DIR>          .
26/09/2022  10:16 PM    <DIR>          ..
22/09/2022  09:30 PM    <DIR>          .ipynb_checkpoints
21/08/2022  04:27 PM    <DIR>          __pycache__
10/08/2022  09:56 PM            69,297 1) Python basic_String_list_Indexing.ipynb
16/09/2022  07:25 AM            71,909 10) MongoDB.ipynb
17/09/2022  05:49 PM            19,322 10.1) Mongodb exercise.ipynb
21/09/2022  08:51 PM            74,018 11) SQL Lite, Map, Reduce, filter, zip.ipynb
26/09/2022  10:16 PM           337,973 12) Pandas.ipynb
10/08/2022  10:02 PM            50,566 2) Tuple, Set Dict.ipynb
10/08/2022  10:43 PM           226,340 3) 19Dec_Python Prog Discussion.ipynb
10/08/2022  10:58 PM            28,649 4) Function_23Dec21.ipynb
10/08/2022  11:34 PM            53,772 5) Function_Part2_8Jan22.ipynb
10/08/2022  11:55 PM            97,813 6) 9th Jan - Iterator, Generator File System.ipynb
14/08/2022  08:32 PM         1,397,957 6.1) Function_Assignment_10Aug2022.ipynb
16/08/2022  05:23 PM            28,483 7) Exception Handling.ipynb
23/09/2022  06:31 PM             8,701 7.1) Logging.ipynb
21/08/2022  04:41 PM            20,334 8) Module and Import.ipynb
22/08/2022  02:11 PM            25,214 8.1) OOPS concept.ipynb
02/09/2022  09:26 PM            53,704 8.2) OOPS with Module_Packages.ipynb
08/09/2022  08:41 PM            44,042 8.3) OOPs with Polymorphism.ipynb
06/09/2022  05:32 PM            99,929 9) SQL.ipynb
09/09/2022  03:15 PM           448,402 9.1) SQL Day2.ipynb
06/09/2022  08:42 PM            51,867 car.data
07/09/2022  10:10 AM             3,097 car.names
16/09/2022  08:35 PM           628,633 carbon_nanotubes.csv
12/07/2021  09:41 AM           147,652 file1.pdf
06/09/2022  02:41 PM            11,903 glass.data
10/08/2022  06:16 AM             2,332 google.txt
27/11/2021  10:00 AM       239,419,577 IMG_7526.MOV
18/09/2022  02:12 PM             8,192 ineuron.db
20/09/2022  07:19 PM            12,288 joindb.db
21/08/2022  07:28 PM                62 list.log
17/08/2022  05:48 PM               230 my_module.py
21/08/2022  04:27 PM             3,146 mydict.py
13/08/2022  10:45 AM            26,187 mywordfile.docx
13/08/2022  02:24 PM             3,649 mywordfile.pdf
13/08/2022  02:28 PM                 0 new.pdf
13/08/2022  02:29 PM           146,057 newPDF.pdf
18/09/2022  02:11 PM             8,192 person.db
23/09/2022  05:45 PM    <DIR>          sample csv files
17/08/2022  05:05 PM             1,519 test
16/08/2022  07:51 PM             1,193 test.log
17/08/2022  05:08 PM                 0 test1.py
21/08/2022  07:34 PM                22 test1.txt
16/08/2022  08:13 PM             4,042 test2.log
17/08/2022  05:25 PM               262 test2.py
22/08/2022  02:08 PM             4,512 test3.log
14/08/2022  11:21 PM                 6 text1.txt
15/02/2018  08:15 PM           161,227 WIN_20180215_20_15_41_Pro.jpg
              45 File(s)    243,802,272 bytes
               5 Dir(s)  197,592,363,008 bytes free

DATA Manipulation:

Extract tabular data info from the internet page/Webpage

HTML: read html only extract the webpage tabular format /table tag(tr) data other than it excludes
scraping is important and data is stored in webpageas table or images

In [21]:
df= pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [22]:
type(df)

list

In [23]:
df
#below df is not readable forma

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [26]:
df[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [27]:
type(df[0])

pandas.core.frame.DataFrame

In [28]:
df1 = df[0]

In [29]:
df1.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [31]:
df1.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [33]:
df1.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [34]:
df1.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      675 non-null    object
 1   Player  675 non-null    object
 2   Pos     675 non-null    object
 3   Age     675 non-null    object
 4   Tm      675 non-null    object
 5   G       675 non-null    object
 6   GS      675 non-null    object
 7   MP      675 non-null    object
 8   FG      675 non-null    object
 9   FGA     675 non-null    object
 10  FG%     673 non-null    object
 11  3P      675 non-null    object
 12  3PA     675 non-null    object
 13  3P%     594 non-null    object
 14  2P      675 non-null    object
 15  2PA     675 non-null    object
 16  2P%     671 non-null    object
 17  eFG%    673 non-null    object
 18  FT      675 non-null    object
 19  FTA     675 non-null    object
 20  FT%     650 non-null    object
 21  ORB     675 non-null    object
 22  DRB     675 non-null    object
 23  TRB     675 non-null    object
 24  AST     675 non-null    object
 25  STL     675 non-null    object
 26  BLK     675 non-null    object
 27  TOV     675 non-null    object
 28  PF      675 non-null    object
 29  PTS     675 non-null    object
dtypes: object(30)
memory usage: 158.3+ KB

In [38]:
df1[['Age', "GS"]]

    Age  GS
0    24  22
1    20   0
2    21  67
3    28   0
4    29  72
..   ..  ..
670  26  68
671  26  48
672  26  20
673  22  45
674  25  59

[675 rows x 2 columns]

In [42]:
#store the data in csv format
df1.to_csv("NBA.csv",index=False )

In [40]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE08-50A1

 Directory of C:\Users\mral\Mohana Kalaiyarasan_Data Scientist\FSDS_iNeuron

26/09/2022  10:58 PM    <DIR>          .
26/09/2022  10:58 PM    <DIR>          ..
22/09/2022  09:30 PM    <DIR>          .ipynb_checkpoints
21/08/2022  04:27 PM    <DIR>          __pycache__
10/08/2022  09:56 PM            69,297 1) Python basic_String_list_Indexing.ipynb
16/09/2022  07:25 AM            71,909 10) MongoDB.ipynb
17/09/2022  05:49 PM            19,322 10.1) Mongodb exercise.ipynb
21/09/2022  08:51 PM            74,018 11) SQL Lite, Map, Reduce, filter, zip.ipynb
26/09/2022  10:58 PM           376,105 12) Pandas.ipynb
10/08/2022  10:02 PM            50,566 2) Tuple, Set Dict.ipynb
10/08/2022  10:43 PM           226,340 3) 19Dec_Python Prog Discussion.ipynb
10/08/2022  10:58 PM            28,649 4) Function_23Dec21.ipynb
10/08/2022  11:34 PM            53,772 5) Function_Part2_8Jan22.ipynb
10/08/2022  11:55 PM            97,813 6) 9th Jan - Iterator, Generator File System.ipynb
14/08/2022  08:32 PM         1,397,957 6.1) Function_Assignment_10Aug2022.ipynb
16/08/2022  05:23 PM            28,483 7) Exception Handling.ipynb
23/09/2022  06:31 PM             8,701 7.1) Logging.ipynb
21/08/2022  04:41 PM            20,334 8) Module and Import.ipynb
22/08/2022  02:11 PM            25,214 8.1) OOPS concept.ipynb
02/09/2022  09:26 PM            53,704 8.2) OOPS with Module_Packages.ipynb
08/09/2022  08:41 PM            44,042 8.3) OOPs with Polymorphism.ipynb
06/09/2022  05:32 PM            99,929 9) SQL.ipynb
09/09/2022  03:15 PM           448,402 9.1) SQL Day2.ipynb
06/09/2022  08:42 PM            51,867 car.data
07/09/2022  10:10 AM             3,097 car.names
16/09/2022  08:35 PM           628,633 carbon_nanotubes.csv
12/07/2021  09:41 AM           147,652 file1.pdf
06/09/2022  02:41 PM            11,903 glass.data
10/08/2022  06:16 AM             2,332 google.txt
27/11/2021  10:00 AM       239,419,577 IMG_7526.MOV
18/09/2022  02:12 PM             8,192 ineuron.db
20/09/2022  07:19 PM            12,288 joindb.db
21/08/2022  07:28 PM                62 list.log
17/08/2022  05:48 PM               230 my_module.py
21/08/2022  04:27 PM             3,146 mydict.py
13/08/2022  10:45 AM            26,187 mywordfile.docx
13/08/2022  02:24 PM             3,649 mywordfile.pdf
26/09/2022  10:57 PM            81,552 NBA.csv
13/08/2022  02:28 PM                 0 new.pdf
13/08/2022  02:29 PM           146,057 newPDF.pdf
18/09/2022  02:11 PM             8,192 person.db
23/09/2022  05:45 PM    <DIR>          sample csv files
17/08/2022  05:05 PM             1,519 test
16/08/2022  07:51 PM             1,193 test.log
17/08/2022  05:08 PM                 0 test1.py
21/08/2022  07:34 PM                22 test1.txt
16/08/2022  08:13 PM             4,042 test2.log
17/08/2022  05:25 PM               262 test2.py
22/08/2022  02:08 PM             4,512 test3.log
14/08/2022  11:21 PM                 6 text1.txt
15/02/2018  08:15 PM           161,227 WIN_20180215_20_15_41_Pro.jpg
              46 File(s)    243,921,956 bytes
               5 Dir(s)  197,547,810,816 bytes free

In [43]:
l = pd.read_html('https://stats.espncricinfo.com/ci/engine/records/averages/batting.html?class=3;id=6;type=team')

In [44]:
l

[               Player       Span  Mat Inns NO  Runs   HS    Ave   BF      SR  \
 0          AB Agarkar  2006-2007    4    2  0    15   14   7.50   11  136.36
 1            KK Ahmed  2018-2019   14    1  1     1   1*      -    1  100.00
 2           S Aravind  2015-2015    1    -  -     -    -      -    -       -
 3      Arshdeep Singh  2022-2022   11    3  3     4   2*      -    3  133.33
 4            R Ashwin  2010-2022   56   14  9   161  31*  32.20  138  116.66
 ..                ...        ...  ...  ... ..   ...  ...    ...  ...     ...
 94      R Vinay Kumar  2010-2013    9    1  1     2   2*      -    4   50.00
 95  Washington Sundar  2017-2021   31   11  4    47  14*   6.71   32  146.87
 96           SA Yadav  2021-2022   31   29  4   926  117  37.04  530  174.71
 97           UT Yadav  2012-2022    8    1  0     2    2   2.00    4   50.00
 98       Yuvraj Singh  2007-2017   58   51  9  1177  77*  28.02  863  136.38

    100 50  0  4s  6s
 0    0  0  0   2   0
 1    0  0  0   0   0
 2    -  -  -   -   -
 3    0  0  0   0   0
 4    0  0  0  16   3
 ..  .. .. ..  ..  ..
 94   0  0  0   0   0
 95   0  0  3   4   3
 96   1  7  3  83  54
 97   0  0  0   0   0
 98   0  8  1  77  74

 [99 rows x 15 columns],
                                                    0
 0  By default, the shading indicates records from...
 1  Adjust:  most recent  | past week  | past mont...,
                                                    0
 0  Records includes the following current or rece...
 1  India v Australia at Hyderabad (Deccan), 3rd T...
 2  India v Australia at Nagpur, 2nd T20I, Sep 23,...
 3  India v Australia at Mohali, 1st T20I, Sep 20,...]

In [45]:
#how many tables in the website
len(l)

3

In [46]:
l[0]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,AB Agarkar,2006-2007,4,2,0,15,14,7.50,11,136.36,0,0,0,2,0
1,KK Ahmed,2018-2019,14,1,1,1,1*,-,1,100.00,0,0,0,0,0
2,S Aravind,2015-2015,1,-,-,-,-,-,-,-,-,-,-,-,-
3,Arshdeep Singh,2022-2022,11,3,3,4,2*,-,3,133.33,0,0,0,0,0
4,R Ashwin,2010-2022,56,14,9,161,31*,32.20,138,116.66,0,0,0,16,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,R Vinay Kumar,2010-2013,9,1,1,2,2*,-,4,50.00,0,0,0,0,0
95,Washington Sundar,2017-2021,31,11,4,47,14*,6.71,32,146.87,0,0,3,4,3
96,SA Yadav,2021-2022,31,29,4,926,117,37.04,530,174.71,1,7,3,83,54
97,UT Yadav,2012-2022,8,1,0,2,2,2.00,4,50.00,0,0,0,0,0
98,Yuvraj Singh,2007-2017,58,51,9,1177,77*,28.02,863,136.38,0,8,1,77,74

In [47]:
l[1]

                                                   0
0  By default, the shading indicates records from...
1  Adjust:  most recent  | past week  | past mont...

In [48]:
l[2]

                                                   0
0  Records includes the following current or rece...
1  India v Australia at Hyderabad (Deccan), 3rd T...
2  India v Australia at Nagpur, 2nd T20I, Sep 23,...
3  India v Australia at Mohali, 1st T20I, Sep 20,...

In [49]:
l[0].to_csv("cricket.csv", index = False)

In [3]:
# """this is a multi line comment or docstring"""

d ="""{"name" : "Sudhanshu kumar" , 
"email id " : "sskumar@gmail.com",
"tech" : ["ML" , "DL" , "CV" ],
"plateform" : ["techneuron" , "kidsneuron" , "ineuron"]
}"""

In [52]:
#convert the d into datatype format / tabular format
pd.DataFrame(d)

ValueError: DataFrame constructor not properly called!

In [8]:
type(d)

str

In [2]:
#cannot convert directly, first convert into JSON format>document format
import json

Online JSON viewer:
http://jsonviewer.stack.hu/#http://

when you have the data, need to validate before use (check for any error) json file system

In [5]:
#before convert to json format, type of d is str
result = json.loads(d)

In [6]:
result

{'name': 'Sudhanshu kumar',
 'email id ': 'sskumar@gmail.com',
 'tech': ['ML', 'DL', 'CV'],
 'plateform': ['techneuron', 'kidsneuron', 'ineuron']}

In [7]:
type(result)

dict

In [9]:
pd.DataFrame(result)

#key treated as column and Value treated as data(ROW)

              name          email id  tech   plateform
0  Sudhanshu kumar  sskumar@gmail.com   ML  techneuron
1  Sudhanshu kumar  sskumar@gmail.com   DL  kidsneuron
2  Sudhanshu kumar  sskumar@gmail.com   CV     ineuron

In [10]:
pd.DataFrame(result['name'])
#why is it not working? reason: name is a str format and convert to dataframe format is not possible
# name is a str type (sudhanshu)

ValueError: DataFrame constructor not properly called!

In [11]:
pd.DataFrame(result['tech'])

#why is it working? reason: tech is a list format and seay to convert to dataframe format
# tech is a list type ['ML', 'DL', 'CV']

    0
0  ML
1  DL
2  CV

In [12]:
result['tech'] # tech is the key when called value will be output

['ML', 'DL', 'CV']

In [13]:
#this is dict with nested dict
d = {"packetType":"D","data":{"checkEngineLightFlag":"F","batteryVoltageStableTime":0,"batteryVoltageStable":"0","batteryVoltageOff":"12.42","batteryCrankParamTN":"-0.08","batteryCrankParamVN":"0.00","batteryCrankParamTP":"-0.08","batteryCrankParamVP":"0.00","batteryCrankParamTT":"-0.00008","batteryCrankParamV0":"0.00","batteryVoltageMaxOn":"13.05","batteryVoltageMinOn":"12.97","batteryVoltageMaxOff":"12.46","batteryVoltageMinOff":"12.36","batteryVoltageOnAverage":"13.02","engineLoadMax":"84","engineLoadAverage":"39.98","rpmMax":"3487","rpmAverage":"1431.29","gpsSpeedAverage":"21.99","vssMax":"53.44","vssAverage":"23.06","tcuTemperatureMin":"82.40","tcuTemperatureMax":"109.40","tcuTemperatureAverage":"104.87","coolantMin":"158.00","coolantMax":"188.60","coolantAverage":"180.20","packetStartLocal":1508143346000,"tripStartLocal":1508143346000,"milIndicator":"F","monitorsNotReady":0,"imei":"60DF5417","gatewayTs":1515613306592,"diagnosticTroubleCodeData":[],"diagnosticPidData":[[64768,47,100],[64768,1,517376],[64800,1,262144],[64768,5,125]]},"header":{"iwrapVer":"1.9.20","sourceSystem":"CDP","configVer":"1.1","oemName":"HUM","unitType":0,"cpVer":"7.50.1.9","igpsVer":"1.3.7","messageType":"Notification","pomVer":"1.0","headerVer":"V6","timestamp":0,"deviceType":"InDrive","visorVer":"1.4.35","transactionId":"53098471-7787-4160-94b3-cd69dcc70416","deviceSerialNo":"60DF5417","subOrganization":"HUM","organization":"HUM","imei":"60DF5417","operation":"Notification"}}

In [15]:
pd.DataFrame(d)

,packetType,data,header
checkEngineLightFlag,D,F,NaN
batteryVoltageStableTime,D,0,NaN
batteryVoltageStable,D,0,NaN
batteryVoltageOff,D,12.42,NaN
batteryCrankParamTN,D,-0.08,NaN
batteryCrankParamVN,D,0.00,NaN
batteryCrankParamTP,D,-0.08,NaN
batteryCrankParamVP,D,0.00,NaN
batteryCrankParamTT,D,-0.00008,NaN
batteryCrankParamV0,D,0.00,NaN
batteryVoltageMaxOn,D,13.05,NaN
batteryVoltageMinOn,D,12.97,NaN
batteryVoltageMaxOff,D,12.46,NaN
batteryVoltageMinOff,D,12.36,NaN
batteryVoltageOnAverage,D,13.02,NaN
engineLoadMax,D,84,NaN
engineLoadAverage,D,39.98,NaN
rpmMax,D,3487,NaN
rpmAverage,D,1431.29,NaN
gpsSpeedAverage,D,21.99,NaN
vssMax,D,53.44,NaN
vssAverage,D,23.06,NaN
tcuTemperatureMin,D,82.40,NaN
tcuTemperatureMax,D,109.40,NaN
tcuTemperatureAverage,D,104.87,NaN
coolantMin,D,158.00,NaN
coolantMax,D,188.60,NaN
coolantAverage,D,180.20,NaN
packetStartLocal,D,1508143346000,NaN
tripStartLocal,D,1508143346000,NaN
milIndicator,D,F,NaN
monitorsNotReady,D,0,NaN
imei,D,60DF5417,60DF5417
gatewayTs,D,1515613306592,NaN
diagnosticTroubleCodeData,D,[],NaN
diagnosticPidData,D,"[[64768, 47, 100], [64768, 1, 517376], [64800,...",NaN
iwrapVer,D,NaN,1.9.20
sourceSystem,D,NaN,CDP
configVer,D,NaN,1.1
oemName,D,NaN,HUM
unitType,D,NaN,0
cpVer,D,NaN,7.50.1.9
igpsVer,D,NaN,1.3.7
messageType,D,NaN,Notification
pomVer,D,NaN,1.0
headerVer,D,NaN,V6
timestamp,D,NaN,0
deviceType,D,NaN,InDrive
visorVer,D,NaN,1.4.35
transactionId,D,NaN,53098471-7787-4160-94b3-cd69dcc70416
deviceSerialNo,D,NaN,60DF5417
subOrganization,D,NaN,HUM
organization,D,NaN,HUM
operation,D,NaN,Notification

In [16]:
#To see the dict of nested dict
d['data'] # data is a dict in a d

{'checkEngineLightFlag': 'F',
 'batteryVoltageStableTime': 0,
 'batteryVoltageStable': '0',
 'batteryVoltageOff': '12.42',
 'batteryCrankParamTN': '-0.08',
 'batteryCrankParamVN': '0.00',
 'batteryCrankParamTP': '-0.08',
 'batteryCrankParamVP': '0.00',
 'batteryCrankParamTT': '-0.00008',
 'batteryCrankParamV0': '0.00',
 'batteryVoltageMaxOn': '13.05',
 'batteryVoltageMinOn': '12.97',
 'batteryVoltageMaxOff': '12.46',
 'batteryVoltageMinOff': '12.36',
 'batteryVoltageOnAverage': '13.02',
 'engineLoadMax': '84',
 'engineLoadAverage': '39.98',
 'rpmMax': '3487',
 'rpmAverage': '1431.29',
 'gpsSpeedAverage': '21.99',
 'vssMax': '53.44',
 'vssAverage': '23.06',
 'tcuTemperatureMin': '82.40',
 'tcuTemperatureMax': '109.40',
 'tcuTemperatureAverage': '104.87',
 'coolantMin': '158.00',
 'coolantMax': '188.60',
 'coolantAverage': '180.20',
 'packetStartLocal': 1508143346000,
 'tripStartLocal': 1508143346000,
 'milIndicator': 'F',
 'monitorsNotReady': 0,
 'imei': '60DF5417',
 'gatewayTs': 1515613306592,
 'diagnosticTroubleCodeData': [],
 'diagnosticPidData': [[64768, 47, 100],
  [64768, 1, 517376],
  [64800, 1, 262144],
  [64768, 5, 125]]}

In [17]:
pd.DataFrame(d['data'])

ValueError: arrays must all be same length

#is it possible to convert dict into a dataframe? Yes it is possible 

then why there is a ValueError: arrays must all be same length, some of the arrays are different length or not equal

Below is the data which are not equal?
diagnosticTroubleCodeData': []
contains the empty list, because we need same length

What can we do now? del or drop the data
diagnosticTroubleCodeData': []

In [19]:
d1 = d['data']

In [20]:
d1

{'checkEngineLightFlag': 'F',
 'batteryVoltageStableTime': 0,
 'batteryVoltageStable': '0',
 'batteryVoltageOff': '12.42',
 'batteryCrankParamTN': '-0.08',
 'batteryCrankParamVN': '0.00',
 'batteryCrankParamTP': '-0.08',
 'batteryCrankParamVP': '0.00',
 'batteryCrankParamTT': '-0.00008',
 'batteryCrankParamV0': '0.00',
 'batteryVoltageMaxOn': '13.05',
 'batteryVoltageMinOn': '12.97',
 'batteryVoltageMaxOff': '12.46',
 'batteryVoltageMinOff': '12.36',
 'batteryVoltageOnAverage': '13.02',
 'engineLoadMax': '84',
 'engineLoadAverage': '39.98',
 'rpmMax': '3487',
 'rpmAverage': '1431.29',
 'gpsSpeedAverage': '21.99',
 'vssMax': '53.44',
 'vssAverage': '23.06',
 'tcuTemperatureMin': '82.40',
 'tcuTemperatureMax': '109.40',
 'tcuTemperatureAverage': '104.87',
 'coolantMin': '158.00',
 'coolantMax': '188.60',
 'coolantAverage': '180.20',
 'packetStartLocal': 1508143346000,
 'tripStartLocal': 1508143346000,
 'milIndicator': 'F',
 'monitorsNotReady': 0,
 'imei': '60DF5417',
 'gatewayTs': 1515613306592,
 'diagnosticTroubleCodeData': [],
 'diagnosticPidData': [[64768, 47, 100],
  [64768, 1, 517376],
  [64800, 1, 262144],
  [64768, 5, 125]]}

In [21]:
#cannot assign the delete operation
d1 = del d1['diagnosticTroubleCodeData']

SyntaxError: invalid syntax (<ipython-input-21-a322fcf59a3b>, line 1)

In [22]:
#delete the key and value
del d1['diagnosticTroubleCodeData']

In [23]:
d1

{'checkEngineLightFlag': 'F',
 'batteryVoltageStableTime': 0,
 'batteryVoltageStable': '0',
 'batteryVoltageOff': '12.42',
 'batteryCrankParamTN': '-0.08',
 'batteryCrankParamVN': '0.00',
 'batteryCrankParamTP': '-0.08',
 'batteryCrankParamVP': '0.00',
 'batteryCrankParamTT': '-0.00008',
 'batteryCrankParamV0': '0.00',
 'batteryVoltageMaxOn': '13.05',
 'batteryVoltageMinOn': '12.97',
 'batteryVoltageMaxOff': '12.46',
 'batteryVoltageMinOff': '12.36',
 'batteryVoltageOnAverage': '13.02',
 'engineLoadMax': '84',
 'engineLoadAverage': '39.98',
 'rpmMax': '3487',
 'rpmAverage': '1431.29',
 'gpsSpeedAverage': '21.99',
 'vssMax': '53.44',
 'vssAverage': '23.06',
 'tcuTemperatureMin': '82.40',
 'tcuTemperatureMax': '109.40',
 'tcuTemperatureAverage': '104.87',
 'coolantMin': '158.00',
 'coolantMax': '188.60',
 'coolantAverage': '180.20',
 'packetStartLocal': 1508143346000,
 'tripStartLocal': 1508143346000,
 'milIndicator': 'F',
 'monitorsNotReady': 0,
 'imei': '60DF5417',
 'gatewayTs': 1515613306592,
 'diagnosticPidData': [[64768, 47, 100],
  [64768, 1, 517376],
  [64800, 1, 262144],
  [64768, 5, 125]]}

In [24]:
pd.DataFrame(d1)

,checkEngineLightFlag,batteryVoltageStableTime,batteryVoltageStable,batteryVoltageOff,batteryCrankParamTN,batteryCrankParamVN,batteryCrankParamTP,batteryCrankParamVP,batteryCrankParamTT,batteryCrankParamV0,...,coolantMin,coolantMax,coolantAverage,packetStartLocal,tripStartLocal,milIndicator,monitorsNotReady,imei,gatewayTs,diagnosticPidData
0,F,0,0,12.42,-0.08,0.00,-0.08,0.00,-0.00008,0.00,...,158.00,188.60,180.20,1508143346000,1508143346000,F,0,60DF5417,1515613306592,"[64768, 47, 100]"
1,F,0,0,12.42,-0.08,0.00,-0.08,0.00,-0.00008,0.00,...,158.00,188.60,180.20,1508143346000,1508143346000,F,0,60DF5417,1515613306592,"[64768, 1, 517376]"
2,F,0,0,12.42,-0.08,0.00,-0.08,0.00,-0.00008,0.00,...,158.00,188.60,180.20,1508143346000,1508143346000,F,0,60DF5417,1515613306592,"[64800, 1, 262144]"
3,F,0,0,12.42,-0.08,0.00,-0.08,0.00,-0.00008,0.00,...,158.00,188.60,180.20,1508143346000,1508143346000,F,0,60DF5417,1515613306592,"[64768, 5, 125]"

Nested json and nested json inside: structured format

url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [25]:
#convert this url into dataframe format
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [26]:
#read json file (url repositories)
pd.read_json(url)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48805,1387090446,PR_kwDOAA0YD84_qPpH,48805,Added padding and fixed columns for sponsor lo...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Added padding and fixed columns for sponsor lo...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48804,1387017557,PR_kwDOAA0YD84_qAIu,48804,TST: Suppress Series constructor warning,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48803,1386980560,I_kwDOAA0YD85Sq6TQ,48803,DOC: Remove unsupported parameters in `Resampl...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48802,1386976936,I_kwDOAA0YD85Sq5ao,48802,ENH: support negative axis,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48800,1386839371,PR_kwDOAA0YD84_pawM,48800,Backport PR #48608 on branch 1.5.x (REGR: asse...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #48608: REGR: assert_index_equal r...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48797,1386822624,PR_kwDOAA0YD84_pXHI,48797,REGR: fix df.apply with keyword non-zero axis,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Fixes #48656. Builds on top of #48693.\r\n\r\n...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48796,1386797027,I_kwDOAA0YD85SqNfj,48796,BUG: `pd.to_timedelta()` does not accept nulla...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48795,1386771887,PR_kwDOAA0YD84_pL-F,48795,Backport PR #48693 on branch 1.5.x (ENH: Make ...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #48693: ENH: Make deprecate_nonkey...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48794,1386724781,I_kwDOAA0YD85Sp72t,48794,BUG: pandas 1.5 fails to groupby on (nullable)...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48792,1386687508,I_kwDOAA0YD85SpywU,48792,DEPR: inplace in DataFrameGroupBy.fillna and S...,...,NaT,MEMBER,NaN,NaN,NaN,Specifying `inplace` returns an empty frame or...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48791,1386627554,I_kwDOAA0YD85SpkHi,48791,BUG: convert_dtypes() leaves int + pd.NA Serie...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48790,1386567749,PR_kwDOAA0YD84_ofDY,48790,Created icons for dark theme,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #48762\r\n\r\nFor the `svg` image...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48789,1386511481,PR_kwDOAA0YD84_oS6G,48789,DOC: Add example for `Series.get()`,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Add an example of `Series.get()` to `NDFrame`....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48788,1386504540,I_kwDOAA0YD85SpGFc,48788,BUG: `pd.Series.duplicated`/`pd.core.algorithm...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48787,1386471404,I_kwDOAA0YD85So9_s,48787,BUG: `from_dummies` can't round trip when `spa...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48785,1386192284,PR_kwDOAA0YD84_nNnC,48785,BUG: still emitting unnecessary FutureWarning ...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #48784 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48784,1386174765,I_kwDOAA0YD85Sn1kt,48784,BUG: still emitting unnecessary FutureWarning ...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48781,1385771189,I_kwDOAA0YD85SmTC1,48781,ENH:,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48780,1385750265,I_kwDOAA0YD85SmN75,48780,BUG: ExcelWriter.book - attribute not accessib...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48779,1385660723,I_kwDOAA0YD85Sl4Ez,48779,BUG: pd.offsets.MonthEnd() delevers wrong month,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48776,1385159645,PR_kwDOAA0YD84_j82V,48776,ENH: Add option to use nullable dtypes in read...,...,NaT,MEMBER,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #36712 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48774,1385125103,PR_kwDOAA0YD84_j2tY,48774,ENH: Raise ParserError instead of IndexError w...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,\r\n- [x] closes #16393 (Replace xxxx with the...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48772,1385027203,PR_kwDOAA0YD84_jmv1,48772,BUG: Bug fix for GH48567,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Groupby for Series fails if an entry of the in...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48770,1384968001,PR_kwDOAA0YD84_jcsk,48770,added sytle in stylesheet for <blockquote>,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Closes #48758\r\n\r\nadded styles for styleshe...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48767,1384934606,I_kwDOAA0YD85SjGzO,48767,BUG: `pd.to_datetime()` fails to parse nanosec...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48766,1384856275,I_kwDOAA0YD85SizrT,48766,ENH: find categorical code against categorical...,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48765,1384814175,I_kwDOAA0YD85SipZf,48765,BUG: df.plot(subplots=False) not drawing as ex...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48764,1384800999,PR_kwDOAA0YD84_jAYU,48764,SAS7BDAT parser: Drop unused instance variables,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,I'm suggesting this as an alternative to https...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48763,1384789416,I_kwDOAA0YD85SijWo,48763,BUG: pd.Series.unstack with mixed names types,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48762,1384767079,I_kwDOAA0YD85Sid5n,48762,DOC: Update color of icons for dark theme,...,NaT,MEMBER,NaN,NaN,NaN,The color of our icons in the docs don't look ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

question: get the user ID from the json file? json in a json format
now current json file(url), having data inside in another data (kind of nested json in nested json)
but listing as url links, what we need is raw data from the url links instead of links

1) Just load into raw json data > to do that request method, will get the url data
2) pass the url
3) data.json()

How many unique dict available or key? len(data1) > 30

how do we get the user from unique dict?

In [27]:
import requests
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [28]:
data = requests.get(url)

In [29]:
data

In [30]:
data1 = data.json()

In [31]:
data1

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48805',
  'id': 1387090446,
  'node_id': 'PR_kwDOAA0YD84_qPpH',
  'number': 48805,
  'title': 'Added padding and fixed columns for sponsor logos in mobile view',
  'user': {'login': 'amay-patel',
   'id': 92037532,
   'node_id': 'U_kgDOBXxhnA',
   'avatar_url': 'https://avatars.githubusercontent.com/u/92037532?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/amay-patel',
   'html_url': 'https://github.com/amay-patel',
   'followers_url': 'https://api.github.com/users/amay-patel/followers',
   'following_url': 'https://api.github.com/users/amay-patel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/amay-patel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/amay-patel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/amay-patel/subscriptions',
   'organizations_url': 'https://api.github.com/users/amay-patel/orgs',
   'repos_url': 'https://api.github.com/users/amay-patel/repos',
   'events_url': 'https://api.github.com/users/amay-patel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/amay-patel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-09-27T04:54:17Z',
  'updated_at': '2022-09-27T04:54:17Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/48805',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/48805',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/48805.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/48805.patch',
   'merged_at': None},
  'body': 'Added padding and fixed columns for sponsor logos in mobile view\r\n\r\n- [ ] closes #48519  (Replace xxxx with the Github issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48804',
  'id': 1387017557,
  'node_id': 'PR_kwDOAA0YD84_qAIu',
  'number': 48804,
  'title': 'TST: Suppress Series constructor warning',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'},
   {'id': 1628184320,
    'node_id': 'MDU6TGFiZWwxNjI4MTg0MzIw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Warnings',
    'name': 'Warnings',
    'color': 'f2f074',
    'default': False,
    'description': 'Warnings that appear or should be added to pandas'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-09-27T03:24:19Z',
  'updated_at': '2022-09-27T03:24:19Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/48804',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/48804',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/48804.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/48804.patch',
   'merged_at': None},
  'body': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/48803',
  'id': 1386980560,
  'node_id': 'I_kwDOAA0YD85Sq6TQ',
  'number': 48803,
  'title': 'DOC: Remove unsupported parameters in `Resampler.mean`',
  'user': {'login': 'donghyyun',
   'id': 31753237,
   'node_id': 'MDQ6VXNlcjMxNzUzMjM3',
   'avatar_url': 'https://avatars.githubusercontent.com/u/31753237?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/donghyyun',
   'html_url': 'https://github.com/donghyyun',
   'followers_url': 'https://api.github.com/users/donghyyun/followers',
   'following_url': 'https://api.github.com/users/donghyyun/following{/other_user}',
   'gists_url': 'https://api.github.com/users/donghyyun/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/donghyyun/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/donghyyun/subscriptions',
   'organizations_url': 'https://api.github.com/users/donghyyun/orgs',
   'repos_url': 'https://api.github.com/users/donghyyun/repos',
   'events_url': 'https://api.github.com/users/donghyyun/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/donghyyun/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-09-27T02:31:28Z',
  'updated_at': '2022-09-27T03:08:31Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': "### Pandas version checks\n\n- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)\n\n\n### Location of the documentation\n\nhttps://pandas.pydata.org/docs/reference/api/pandas.core.resample.Resampler.mean.html\n\n### Documentation problem\n\nAccording to the [comment](https://github.com/pandas-dev/pandas/issues/48675#issuecomment-1255369994), numba engine hasn't be implemented for `resample`.\r\n\r\nHowever, the reference document says that they are supporting the numba engine.\n\n### Suggested fix for documentation\n\nPlease remove 'engine', 'engine_kwargs' in `parameters` section.",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/reactions',
   'total_count': 1,
   '+1': 1,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/48802',
  'id': 1386976936,
  'node_id': 'I_kwDOAA0YD85Sq5ao',
  'number': 48802,
  'title': 'ENH: support negative axis',
  'user': {'login': 'auderson',
   'id': 48577571,
   'node_id': 'MDQ6VXNlcjQ4NTc3NTcx',
   'avatar_url': 'https://avatars.githubusercontent.com/u/48577571?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/auderson',
   'html_url': 'https://github.com/auderson',
   'followers_url': 'https://api.github.com/users/auderson/followers',
   'following_url': 'https://api.github.com/users/auderson/following{/other_user}',
   'gists_url': 'https://api.github.com/users/auderson/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/auderson/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/auderson/subscriptions',
   'organizations_url': 'https://api.github.com/users/auderson/orgs',
   'repos_url': 'https://api.github.com/users/auderson/repos',
   'events_url': 'https://api.github.com/users/auderson/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/auderson/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2022-09-27T02:25:21Z',
  'updated_at': '2022-09-27T04:30:36Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': '### Feature Type\n\n- [X] Adding new functionality to pandas\n\n- [ ] Changing existing functionality in pandas\n\n- [ ] Removing existing functionality in pandas\n\n\n### Problem Description\n\nIt would be nice if pandas supports negative axis:\r\n```python\r\npd.DataFrame(np.arange(5)).mean(axis=-1)\r\n```\n\n### Feature Description\n\nThis should be easy, only need to extend current `_AXIS_TO_AXIS_NUMBER` with {-1:1, -2:0}\n\n### Alternative Solutions\n\n.\n\n### Additional Context\n\n_No response_',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48800',
  'id': 1386839371,
  'node_id': 'PR_kwDOAA0YD84_pawM',
  'number': 48800,
  'title': 'Backport PR #48608 on branch 1.5.x (REGR: assert_index_equal raising with non matching pd.NA)',
  'user': {'login': 'meeseeksmachine',
   'id': 39504233,
   'node_id': 'MDQ6VXNlcjM5NTA0MjMz',
   'avatar_url': 'https://avatars.githubusercontent.com/u/39504233?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/meeseeksmachine',
   'html_url': 'https://github.com/meeseeksmachine',
   'followers_url': 'https://api.github.com/users/meeseeksmachine/followers',
   'following_url': 'https://api.github.com/users/meeseeksmachine/following{/other_user}',
   'gists_url': 'https://api.github.com/users/meeseeksmachine/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/meeseeksmachine/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/meeseeksmachine/subscriptions',
   'organizations_url': 'https://api.github.com/users/meeseeksmachine/orgs',
   'repos_url': 'https://api.github.com/users/meeseeksmachine/repos',
   'events_url': 'https://api.github.com/users/meeseeksmachine/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/meeseeksmachine/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'},
   {'id': 1817503692,
    'node_id': 'MDU6TGFiZWwxODE3NTAzNjky',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/NA%20-%20MaskedArrays',
    'name': 'NA - MaskedArrays',
    'color': '8cc645',
    'default': False,
    'description': 'Related to pd.NA and nullable extension arrays'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/98',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/98',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/98/labels',
   'id': 8438761,
   'node_id': 'MI_kwDOAA0YD84AgMPp',
   'number': 98,
   'title': '1.5.1',
   'description': 'on-merge: backport to 1.5.x',
   'creator': {'login': 'datapythonista',
    'id': 10058240,
    'node_id': 'MDQ6VXNlcjEwMDU4MjQw',
    'avatar_url': 'https://avatars.githubusercontent.com/u/10058240?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/datapythonista',
    'html_url': 'https://github.com/datapythonista',
    'followers_url': 'https://api.github.com/users/datapythonista/followers',
    'following_url': 'https://api.github.com/users/datapythonista/following{/other_user}',
    'gists_url': 'https://api.github.com/users/datapythonista/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/datapythonista/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/datapythonista/subscriptions',
    'organizations_url': 'https://api.github.com/users/datapythonista/orgs',
    'repos_url': 'https://api.github.com/users/datapythonista/repos',
    'events_url': 'https://api.github.com/users/datapythonista/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/datapythonista/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 19,
   'closed_issues': 45,
   'state': 'open',
   'created_at': '2022-09-19T20:12:38Z',
   'updated_at': '2022-09-27T07:53:55Z',
   'due_on': None,
   'closed_at': None},
  'comments': 0,
  'created_at': '2022-09-26T23:00:51Z',
  'updated_at': '2022-09-26T23:00:52Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/48800',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/48800',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/48800.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/48800.patch',
   'merged_at': None},
  'body': 'Backport PR #48608: REGR: assert_index_equal raising with non matching pd.NA',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48797',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48797/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48797/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48797/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48797',
  'id': 1386822624,
  'node_id': 'PR_kwDOAA0YD84_pXHI',
  'number': 48797,
  'title': 'REGR: fix df.apply with keyword non-zero axis',
  'user': {'login': 'hauntsaninja',
   'id': 12621235,
   'node_id': 'MDQ6VXNlcjEyNjIxMjM1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/12621235?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/hauntsaninja',
   'html_url': 'https://github.com/hauntsaninja',
   'followers_url': 'https://api.github.com/users/hauntsaninja/followers',
   'following_url': 'https://api.github.com/users/hauntsaninja/following{/other_user}',
   'gists_url': 'https://api.github.com/users/hauntsaninja/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/hauntsaninja/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/hauntsaninja/subscriptions',
   'organizations_url': 'https://api.github.com/users/hauntsaninja/orgs',

In [32]:
len(data1)

30

In [33]:
#filter out 1 unique data, 1st data
data1[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/48805',
 'id': 1387090446,
 'node_id': 'PR_kwDOAA0YD84_qPpH',
 'number': 48805,
 'title': 'Added padding and fixed columns for sponsor logos in mobile view',
 'user': {'login': 'amay-patel',
  'id': 92037532,
  'node_id': 'U_kgDOBXxhnA',
  'avatar_url': 'https://avatars.githubusercontent.com/u/92037532?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/amay-patel',
  'html_url': 'https://github.com/amay-patel',
  'followers_url': 'https://api.github.com/users/amay-patel/followers',
  'following_url': 'https://api.github.com/users/amay-patel/following{/other_user}',
  'gists_url': 'https://api.github.com/users/amay-patel/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/amay-patel/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/amay-patel/subscriptions',
  'organizations_url': 'https://api.github.com/users/amay-patel/orgs',
  'repos_url': 'https://api.github.com/users/amay-patel/repos',
  'events_url': 'https://api.github.com/users/amay-patel/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/amay-patel/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2022-09-27T04:54:17Z',
 'updated_at': '2022-09-27T04:54:17Z',
 'closed_at': None,
 'author_association': 'NONE',
 'active_lock_reason': None,
 'draft': False,
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/48805',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48805',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/48805.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/48805.patch',
  'merged_at': None},
 'body': 'Added padding and fixed columns for sponsor logos in mobile view\r\n\r\n- [ ] closes #48519  (Replace xxxx with the Github issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/timeline',
 'performed_via_github_app': None,
 'state_reason': None}

In [34]:
#filter out 1 unique data, 1st data
data1[29]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48762',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48762/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48762/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48762/events',
 'html_url': 'https://github.com/pandas-dev/pandas/issues/48762',
 'id': 1384767079,
 'node_id': 'I_kwDOAA0YD85Sid5n',
 'number': 48762,
 'title': 'DOC: Update color of icons for dark theme',
 'user': {'login': 'datapythonista',
  'id': 10058240,
  'node_id': 'MDQ6VXNlcjEwMDU4MjQw',
  'avatar_url': 'https://avatars.githubusercontent.com/u/10058240?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/datapythonista',
  'html_url': 'https://github.com/datapythonista',
  'followers_url': 'https://api.github.com/users/datapythonista/followers',
  'following_url': 'https://api.github.com/users/datapythonista/following{/other_user}',
  'gists_url': 'https://api.github.com/users/datapythonista/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/datapythonista/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/datapythonista/subscriptions',
  'organizations_url': 'https://api.github.com/users/datapythonista/orgs',
  'repos_url': 'https://api.github.com/users/datapythonista/repos',
  'events_url': 'https://api.github.com/users/datapythonista/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/datapythonista/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [{'id': 134699,
   'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
   'name': 'Docs',
   'color': '3465A4',
   'default': False,
   'description': None},
  {'id': 717120670,
   'node_id': 'MDU6TGFiZWw3MTcxMjA2NzA=',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/good%20first%20issue',
   'name': 'good first issue',
   'color': '0e8a16',
   'default': True,
   'description': None}],
 'state': 'open',
 'locked': False,
 'assignee': {'login': 'lorenzovngl',
  'id': 13767301,
  'node_id': 'MDQ6VXNlcjEzNzY3MzAx',
  'avatar_url': 'https://avatars.githubusercontent.com/u/13767301?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/lorenzovngl',
  'html_url': 'https://github.com/lorenzovngl',
  'followers_url': 'https://api.github.com/users/lorenzovngl/followers',
  'following_url': 'https://api.github.com/users/lorenzovngl/following{/other_user}',
  'gists_url': 'https://api.github.com/users/lorenzovngl/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/lorenzovngl/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/lorenzovngl/subscriptions',
  'organizations_url': 'https://api.github.com/users/lorenzovngl/orgs',
  'repos_url': 'https://api.github.com/users/lorenzovngl/repos',
  'events_url': 'https://api.github.com/users/lorenzovngl/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/lorenzovngl/received_events',
  'type': 'User',
  'site_admin': False},
 'assignees': [{'login': 'lorenzovngl',
   'id': 13767301,
   'node_id': 'MDQ6VXNlcjEzNzY3MzAx',
   'avatar_url': 'https://avatars.githubusercontent.com/u/13767301?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/lorenzovngl',
   'html_url': 'https://github.com/lorenzovngl',
   'followers_url': 'https://api.github.com/users/lorenzovngl/followers',
   'following_url': 'https://api.github.com/users/lorenzovngl/following{/other_user}',
   'gists_url': 'https://api.github.com/users/lorenzovngl/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/lorenzovngl/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/lorenzovngl/subscriptions',
   'organizations_url': 'https://api.github.com/users/lorenzovngl/orgs',
   'repos_url': 'https://api.github.com/users/lorenzovngl/repos',
   'events_url': 'https://api.github.com/users/lorenzovngl/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/lorenzovngl/received_events',
   'type': 'User',
   'site_admin': False}],
 'milestone': None,
 'comments': 2,
 'created_at': '2022-09-24T18:09:41Z',
 'updated_at': '2022-09-24T19:21:51Z',
 'closed_at': None,
 'author_association': 'MEMBER',
 'active_lock_reason': None,
 'body': "The color of our icons in the docs don't look good with the dark theme:\r\n\r\n![dark_theme_icons](https://user-images.githubusercontent.com/10058240/192112344-b8625171-cfb1-42a6-890a-8d62d05f134e.png)\r\n\r\nIt'd be good to edit the svg files and make the color the same as the titles for example, rgb(69, 157, 185).\r\n\r\nIn the [Getting started](https://pandas.pydata.org/docs/getting_started/index.html) there are couple of icons that don't look good either. For the sql, we could pick a gray that looks good with both the bright and dark themes. For the SAS we may need two images, one with black letters and one with white (the pydata sphinx theme supports having different images for each theme).\r\n\r\nNot sure if there is any other part of the docs where images need to be updated, but would be good that docs look good with dark theme everywhere.",
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48762/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48762/timeline',
 'performed_via_github_app': None,
 'state_reason': None}

In [37]:
data1[0]['user']['id']

92037532

In [38]:
#fetch all the user ID 
for i in range(len(data1)):
    print(data1[i]['user']['id'])

92037532
10647082
31753237
48577571
39504233
12621235
1804856
39504233
516999
45562402
596279
13767301
22385371
7980666
5585221
33491632
33491632
28426758
51007145
114391084
61934744
5946712
12532395
76431630
4675524
33796896
113800322
175722
1675613
10058240

In [42]:
#how to fetch few columns from the data
df2 = pd.DataFrame(data1, columns=['url','repository_url', 'labels_url', 'user'])

In [43]:
df2.to_csv('json.csv')

In [44]:
pd.DataFrame(data1)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48805,1387090446,PR_kwDOAA0YD84_qPpH,48805,Added padding and fixed columns for sponsor lo...,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Added padding and fixed columns for sponsor lo...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48804,1387017557,PR_kwDOAA0YD84_qAIu,48804,TST: Suppress Series constructor warning,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48803,1386980560,I_kwDOAA0YD85Sq6TQ,48803,DOC: Remove unsupported parameters in `Resampl...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48802,1386976936,I_kwDOAA0YD85Sq5ao,48802,ENH: support negative axis,...,None,CONTRIBUTOR,None,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48800,1386839371,PR_kwDOAA0YD84_pawM,48800,Backport PR #48608 on branch 1.5.x (REGR: asse...,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #48608: REGR: assert_index_equal r...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48797,1386822624,PR_kwDOAA0YD84_pXHI,48797,REGR: fix df.apply with keyword non-zero axis,...,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Fixes #48656. Builds on top of #48693.\r\n\r\n...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48796,1386797027,I_kwDOAA0YD85SqNfj,48796,BUG: `pd.to_timedelta()` does not accept nulla...,...,None,CONTRIBUTOR,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48795,1386771887,PR_kwDOAA0YD84_pL-F,48795,Backport PR #48693 on branch 1.5.x (ENH: Make ...,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #48693: ENH: Make deprecate_nonkey...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48794,1386724781,I_kwDOAA0YD85Sp72t,48794,BUG: pandas 1.5 fails to groupby on (nullable)...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48792,1386687508,I_kwDOAA0YD85SpywU,48792,DEPR: inplace in DataFrameGroupBy.fillna and S...,...,None,MEMBER,None,NaN,NaN,Specifying `inplace` returns an empty frame or...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48791,1386627554,I_kwDOAA0YD85SpkHi,48791,BUG: convert_dtypes() leaves int + pd.NA Serie...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48790,1386567749,PR_kwDOAA0YD84_ofDY,48790,Created icons for dark theme,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #48762\r\n\r\nFor the `svg` image...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48789,1386511481,PR_kwDOAA0YD84_oS6G,48789,DOC: Add example for `Series.get()`,...,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Add an example of `Series.get()` to `NDFrame`....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48788,1386504540,I_kwDOAA0YD85SpGFc,48788,BUG: `pd.Series.duplicated`/`pd.core.algorithm...,...,None,CONTRIBUTOR,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48787,1386471404,I_kwDOAA0YD85So9_s,48787,BUG: `from_dummies` can't round trip when `spa...,...,None,CONTRIBUTOR,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48785,1386192284,PR_kwDOAA0YD84_nNnC,48785,BUG: still emitting unnecessary FutureWarning ...,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #48784 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48784,1386174765,I_kwDOAA0YD85Sn1kt,48784,BUG: still emitting unnecessary FutureWarning ...,...,None,MEMBER,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48781,1385771189,I_kwDOAA0YD85SmTC1,48781,ENH:,...,None,CONTRIBUTOR,None,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48780,1385750265,I_kwDOAA0YD85SmN75,48780,BUG: ExcelWriter.book - attribute not accessib...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48779,1385660723,I_kwDOAA0YD85Sl4Ez,48779,BUG: pd.offsets.MonthEnd() delevers wrong month,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48776,1385159645,PR_kwDOAA0YD84_j82V,48776,ENH: Add option to use nullable dtypes in read...,...,None,MEMBER,None,True,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #36712 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48774,1385125103,PR_kwDOAA0YD84_j2tY,48774,ENH: Raise ParserError instead of IndexError w...,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,\r\n- [x] closes #16393 (Replace xxxx with the...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48772,1385027203,PR_kwDOAA0YD84_jmv1,48772,BUG: Bug fix for GH48567,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Groupby for Series fails if an entry of the in...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48770,1384968001,PR_kwDOAA0YD84_jcsk,48770,added sytle in stylesheet for <blockquote>,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Closes #48758\r\n\r\nadded styles for styleshe...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48767,1384934606,I_kwDOAA0YD85SjGzO,48767,BUG: `pd.to_datetime()` fails to parse nanosec...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48766,1384856275,I_kwDOAA0YD85SizrT,48766,ENH: find categorical code against categorical...,...,None,NONE,None,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48765,1384814175,I_kwDOAA0YD85SipZf,48765,BUG: df.plot(subplots=False) not drawing as ex...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48764,1384800999,PR_kwDOAA0YD84_jAYU,48764,SAS7BDAT parser: Drop unused instance variables,...,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,I'm suggesting this as an alternative to https...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48763,1384789416,I_kwDOAA0YD85SijWo,48763,BUG: pd.Series.unstack with mixed names types,...,None,NONE,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48762,1384767079,I_kwDOAA0YD85Sid5n,48762,DOC: Update color of icons for dark theme,...,None,MEMBER,None,NaN,NaN,The color of our icons in the docs don't look ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None

In [45]:
#split the user column data into individual columns and fill in the values
def usersplit(data1[user]):
    if data1[user]== list or data1[user]==dict:

SyntaxError: invalid syntax (<ipython-input-45-137ef13cbaf9>, line 1)

In [46]:
pd.DataFrame(data1, )

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48805,1387090446,PR_kwDOAA0YD84_qPpH,48805,Added padding and fixed columns for sponsor lo...,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Added padding and fixed columns for sponsor lo...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48804,1387017557,PR_kwDOAA0YD84_qAIu,48804,TST: Suppress Series constructor warning,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48803,1386980560,I_kwDOAA0YD85Sq6TQ,48803,DOC: Remove unsupported parameters in `Resampl...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48802,1386976936,I_kwDOAA0YD85Sq5ao,48802,ENH: support negative axis,...,None,CONTRIBUTOR,None,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48800,1386839371,PR_kwDOAA0YD84_pawM,48800,Backport PR #48608 on branch 1.5.x (REGR: asse...,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #48608: REGR: assert_index_equal r...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48797,1386822624,PR_kwDOAA0YD84_pXHI,48797,REGR: fix df.apply with keyword non-zero axis,...,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Fixes #48656. Builds on top of #48693.\r\n\r\n...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48796,1386797027,I_kwDOAA0YD85SqNfj,48796,BUG: `pd.to_timedelta()` does not accept nulla...,...,None,CONTRIBUTOR,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48795,1386771887,PR_kwDOAA0YD84_pL-F,48795,Backport PR #48693 on branch 1.5.x (ENH: Make ...,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #48693: ENH: Make deprecate_nonkey...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48794,1386724781,I_kwDOAA0YD85Sp72t,48794,BUG: pandas 1.5 fails to groupby on (nullable)...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48792,1386687508,I_kwDOAA0YD85SpywU,48792,DEPR: inplace in DataFrameGroupBy.fillna and S...,...,None,MEMBER,None,NaN,NaN,Specifying `inplace` returns an empty frame or...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48791,1386627554,I_kwDOAA0YD85SpkHi,48791,BUG: convert_dtypes() leaves int + pd.NA Serie...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48790,1386567749,PR_kwDOAA0YD84_ofDY,48790,Created icons for dark theme,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #48762\r\n\r\nFor the `svg` image...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48789,1386511481,PR_kwDOAA0YD84_oS6G,48789,DOC: Add example for `Series.get()`,...,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Add an example of `Series.get()` to `NDFrame`....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48788,1386504540,I_kwDOAA0YD85SpGFc,48788,BUG: `pd.Series.duplicated`/`pd.core.algorithm...,...,None,CONTRIBUTOR,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48787,1386471404,I_kwDOAA0YD85So9_s,48787,BUG: `from_dummies` can't round trip when `spa...,...,None,CONTRIBUTOR,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48785,1386192284,PR_kwDOAA0YD84_nNnC,48785,BUG: still emitting unnecessary FutureWarning ...,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #48784 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48784,1386174765,I_kwDOAA0YD85Sn1kt,48784,BUG: still emitting unnecessary FutureWarning ...,...,None,MEMBER,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48781,1385771189,I_kwDOAA0YD85SmTC1,48781,ENH:,...,None,CONTRIBUTOR,None,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48780,1385750265,I_kwDOAA0YD85SmN75,48780,BUG: ExcelWriter.book - attribute not accessib...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48779,1385660723,I_kwDOAA0YD85Sl4Ez,48779,BUG: pd.offsets.MonthEnd() delevers wrong month,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48776,1385159645,PR_kwDOAA0YD84_j82V,48776,ENH: Add option to use nullable dtypes in read...,...,None,MEMBER,None,True,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #36712 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48774,1385125103,PR_kwDOAA0YD84_j2tY,48774,ENH: Raise ParserError instead of IndexError w...,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,\r\n- [x] closes #16393 (Replace xxxx with the...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48772,1385027203,PR_kwDOAA0YD84_jmv1,48772,BUG: Bug fix for GH48567,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Groupby for Series fails if an entry of the in...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48770,1384968001,PR_kwDOAA0YD84_jcsk,48770,added sytle in stylesheet for <blockquote>,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Closes #48758\r\n\r\nadded styles for styleshe...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48767,1384934606,I_kwDOAA0YD85SjGzO,48767,BUG: `pd.to_datetime()` fails to parse nanosec...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48766,1384856275,I_kwDOAA0YD85SizrT,48766,ENH: find categorical code against categorical...,...,None,NONE,None,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48765,1384814175,I_kwDOAA0YD85SipZf,48765,BUG: df.plot(subplots=False) not drawing as ex...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48764,1384800999,PR_kwDOAA0YD84_jAYU,48764,SAS7BDAT parser: Drop unused instance variables,...,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,I'm suggesting this as an alternative to https...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48763,1384789416,I_kwDOAA0YD85SijWo,48763,BUG: pd.Series.unstack with mixed names types,...,None,NONE,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48762,1384767079,I_kwDOAA0YD85Sid5n,48762,DOC: Update color of icons for dark theme,...,None,MEMBER,None,NaN,NaN,The color of our icons in the docs don't look ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None

# Day3: 5th Mar 2022 - Dataframe Analysis

In [273]:
import pandas as pd

In [274]:
#read the github titanic data
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [275]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [50]:
type(df)

pandas.core.frame.DataFrame

In [51]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [52]:
df.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [53]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

1) try to find out what is the meaning of the database, attributes and do the required actions like statistics
2) understand the database first
3) df.info(), by looking the data find out there is a null values compared to other columns
4) Pre-processing the data EDA: null values / missing value need to handle either exclude, give data value
5) describe the database (Statistics)
    Standard deviation : dispersion from mean value
    ex: mean is $50, STD is $2, now the $2 is the difference between train and flight ticket. In this case which ticket, will you book? Flight ticket because the dispersion from mean is only $2, so $50+$2 = $52 for flight.
    
    Variance: bike speed(0 10, 80, 100, 20, 40)
    what is the variance of the speed is 0-100
    
    what is 25%, 50%, 75% percentile?
    ex: 1,2,4,6,8,10,11,12,16,8,3,1
    arrange in ascending order
    1,1,2,3,4,6,8,8,10,11,12,16
    min=1(0th percentile is index 0), max=16(100th percentile)
    what is 25%? total 12 data, 25th percentile in this data is index 3
    50% is 6th index
    75% is 9th index

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [57]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [72]:
l= [1,2,4,6,8,10,11,12,16,8,3,1]
c= pd.Series(l)

In [73]:
c.sort_values()

0      1
11     1
1      2
10     3
2      4
3      6
4      8
9      8
5     10
6     11
7     12
8     16
dtype: int64

In [62]:
c

0      1
1      2
2      4
3      6
4      8
5     10
6     11
7     12
8     16
9      8
10     3
11     1
dtype: int64

In [64]:
c.describe()

count    12.000000
mean      6.833333
std       4.821040
min       1.000000
25%       2.750000
50%       7.000000
75%      10.250000
max      16.000000
dtype: float64

In [69]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

How to find out the describe for object type?
1. select only the data types which is Object
2. use this as a filter to filter out from the entire df
3. then find the describe

In [78]:
df.dtypes =='object'

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [80]:
df.dtypes[df.dtypes=='object']

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [85]:
col_name = df.dtypes[df.dtypes=='object'].index

In [86]:
col_name

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [87]:
df[col_name]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [88]:
df[col_name].describe()

                               Name   Sex    Ticket    Cabin Embarked
count                           891   891       891      204      889
unique                          891     2       681      147        3
top     Goodwin, Mr. Charles Edward  male  CA. 2343  B96 B98        S
freq                              1   577         7        4      644

By looking the categories describe info
1. name is unique and all different
2. sex is male and female
3. ticket, 681 are unique and few are travelled in 1 ticket
4. cabin, 147 is unique ..

In [89]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [90]:
#add new column
df['ineuron'] = "mohan"

In [91]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,mohan
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,mohan
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,mohan
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,mohan
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,mohan

In [93]:
#list only the 15 name
df['Name'].head(15)

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
11                             Bonnell, Miss. Elizabeth
12                       Saundercock, Mr. William Henry
13                          Andersson, Mr. Anders Johan
14                 Vestrom, Miss. Hulda Amanda Adolfina
Name: Name, dtype: object

In [97]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [96]:
df['Name'][0:15:2]

0                               Braund, Mr. Owen Harris
2                                Heikkinen, Miss. Laina
4                              Allen, Mr. William Henry
6                               McCarthy, Mr. Timothy J
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                      Sandstrom, Miss. Marguerite Rut
12                       Saundercock, Mr. William Henry
14                 Vestrom, Miss. Hulda Amanda Adolfina
Name: Name, dtype: object

In [98]:
df['Name'][::-1]

890                                  Dooley, Mr. Patrick
889                                Behr, Mr. Karl Howell
888             Johnston, Miss. Catherine Helen "Carrie"
887                         Graham, Miss. Margaret Edith
886                                Montvila, Rev. Juozas
                             ...
4                               Allen, Mr. William Henry
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
2                                 Heikkinen, Miss. Laina
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
0                                Braund, Mr. Owen Harris
Name: Name, Length: 891, dtype: object

In [104]:
#find null records are not? filter out the index number
df['Age'].isnull()==True

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [105]:
df[df['Age'].isnull()==True].index

Int64Index([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,
            ...
            832, 837, 839, 846, 849, 859, 863, 868, 878, 888],
           dtype='int64', length=177)

In [106]:
len(df[df['Age'].isnull()==True].index)

177

In [110]:
#select only the null value indexes
ind = df[df['Age'].isnull()==True].index

In [113]:
df.loc[ind]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,mohan
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,mohan
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,mohan
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,mohan
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,mohan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,mohan
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,mohan
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,mohan
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,mohan
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,mohan

In [112]:
df[df['Age'].isnull()==True]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,mohan
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,mohan
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,mohan
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,mohan
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,mohan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,mohan
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,mohan
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,mohan
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,mohan
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,mohan

In [119]:
#find out person name, who has paid highest fair
df['Fare'].max()

512.3292

In [120]:
max(df['Fare'])

512.3292

In [123]:
df[df['Fare']==max(df['Fare'])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,mohan
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,mohan
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,mohan

In [124]:
df[df['Fare']==max(df['Fare'])]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

1. Find out how many male and female boarded?
2. How many have survived?
3. how many causuality we have?
4. what is the name of a passenger who is eldest one.
5. how many person do we have in 1st, 2nd or 3rd class
6. How many person we have hose name start with 's'
7. try to create a new column which is a summation of "sibsp" and 'Parch'
8 . how many person do we have below age of 25 .
9 . how many person died whose age was less then 40 
10 . from a  cabin column seperate text and numeric value .

In [276]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [136]:
# 1. Find out how many male and female boarded?
m = len(df[df['Sex']=='male'])

f = len(df[df['Sex']=='female'])
print("male: ", m, "female: ", f)

male:  577 female:  314

In [198]:
print("Number of male %s and female %s" %(m, f,) )

Number of male 577 and female 314

In [215]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [279]:
df.groupby('Sex')['Sex'].count()

Sex
female    314
male      577
Name: Sex, dtype: int64

In [290]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [288]:
df.groupby('Survived').count()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Survived,,,,,,,,,,,
0,549,549,549,549,424,549,549,549,549,68,549
1,342,342,342,342,290,342,342,342,342,136,340

In [138]:
# 2. How many have survived?
s = len(df[df['Survived']==1])
print("survived: ", s)

survived:  342

In [139]:
# 3. how many causuality we have?
c = len(df[df['Survived']==0])
print("survived: ", c)

survived:  549

In [291]:
# 4. what is the name of a passenger who is eldest one.
df[df['Age']==max(df['Age'])]['Name']

630    Barkworth, Mr. Algernon Henry Wilson
Name: Name, dtype: object

In [295]:
# 4. what is the name of a passenger who is eldest one.
# df['Age'].max() we know the Age =80 use this as filter
# df['Age'] == df['Age'].max() this will do true or false in the whole dataframe, substitude this in the dataframe
# df[df['Age'] == df['Age'].max()] with this filter out the name only.
df[df['Age'] == df['Age'].max()]['Name']

630    Barkworth, Mr. Algernon Henry Wilson
Name: Name, dtype: object

In [149]:
# 5. how many person do we have in 1st, 2nd or 3rd class
print("1st class:", len(df[df['Pclass']==1]), "2nd class:", len(df[df['Pclass']==2]),"3rd class:", len(df[df['Pclass']==3]))

1st class: 216 2nd class: 184 3rd class: 491

In [297]:
df.groupby(['Pclass']).size()

Pclass
1    216
2    184
3    491
dtype: int64

In [302]:
df.groupby('Pclass')['Pclass'].count()

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64

In [214]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [308]:
# 6. How many person we have those name start with 's'
n = []
for i in df["Name"]:
    if(i[0] == 'S'):
        n.append(i)

print("name of the person start with 's'", n)

name of the person start with 's' ['Sandstrom, Miss. Marguerite Rut', 'Saundercock, Mr. William Henry', 'Sloper, Mr. William Thompson', 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'Samaan, Mr. Youssef', 'Sirayanian, Mr. Orsen', 'Skoog, Master. Harald', 'Stewart, Mr. Albert A', 'Staneff, Mr. Ivan', 'Sheerlinck, Mr. Jan Baptist', 'Slocovski, Mr. Selman Francis', 'Shorney, Mr. Charles Joseph', 'Salkjelsvik, Miss. Anna Kristine', 'Sobey, Mr. Samuel James Hayden', 'Smiljanic, Mr. Mile', 'Sage, Master. Thomas Henry', 'Skoog, Mrs. William (Anna Bernhardina Karlsson)', 'Sivola, Mr. Antti Wilhelm', 'Smith, Mr. James Clinch', 'Sage, Miss. Constance Gladys', 'Sage, Mr. Frederick', 'Strom, Miss. Telma Matilda', 'Sunderland, Mr. Victor Francis', 'Sjostedt, Mr. Ernst Adolf', 'Strom, Mrs. Wilhelm (Elna Matilda Persson)', 'Stead, Mr. William Thomas', 'Smith, Mr. Thomas', 'Smith, Mr. Richard William', 'Stankovic, Mr. Ivan', 'Saalfeld, Mr. Adolphe', 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)', 'Slayter, Miss. Hilda Mary', 'Sage, Mr. George John Jr', 'Sedgwick, Mr. Charles Frederick Waddington', 'Smith, Miss. Marion Elsie', 'Skoog, Mr. Wilhelm', 'Sadlier, Mr. Matthew', 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)', 'Sdycoff, Mr. Todor', 'Sundman, Mr. Johan Julian', 'Silven, Miss. Lyyli Karoliina', 'Silvey, Mr. William Baird', 'Seward, Mr. Frederic Kimber', 'Smart, Mr. John Montgomery', 'Scanlan, Mr. James', 'Strandberg, Miss. Ida Sofia', 'Somerton, Mr. Francis William', 'Stanley, Mr. Edward Roland', 'Shellard, Mr. Frederick William', 'Svensson, Mr. Olof', 'Salonen, Mr. Johan Werner', 'Sharp, Mr. Percival James R', 'Sivic, Mr. Husein', 'Simmons, Mr. John', 'Stoytcheff, Mr. Ilia', 'Silvey, Mrs. William Baird (Alice Munger)', 'Stephenson, Mrs. Walter Bertram (Martha Eustis)', 'Slabenoff, Mr. Petco', 'Shutes, Miss. Elizabeth W', 'Sutton, Mr. Frederick', 'Stahelin-Maeglin, Dr. Max', 'Skoog, Miss. Mabel', 'Sagesser, Mlle. Emma', 'Skoog, Miss. Margit Elizabeth', 'Simonius-Blumer, Col. Oberst Alfons', 'Stanley, Miss. Amy Zillah Elsie', 'Sawyer, Mr. Frederick Charles', 'Saad, Mr. Khalil', 'Silverthorne, Mr. Spencer Victor', 'Soholt, Mr. Peter Andreas Lauritz Andersen', 'Stranden, Mr. Juho', 'Sinkkonen, Miss. Anna', 'Sjoblom, Miss. Anna Sofia', 'Sage, Miss. Stella Anna', 'Slemen, Mr. Richard James', 'Skoog, Master. Karl Thorsten', 'Stone, Mrs. George Nelson (Martha Evelyn)', 'Saad, Mr. Amin', 'Sirota, Mr. Maurice', 'Serepeca, Miss. Augusta', 'Sage, Mr. Douglas Bullen', 'Svensson, Mr. Johan', 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)', 'Sage, Miss. Dorothy Edith "Dolly"', 'Shelley, Mrs. William (Imanita Parrish Hall)', 'Sutehall, Mr. Henry Jr']

In [325]:
s=df[df['Name'].str.startswith('S')]['Name'] #.str is convert the series to string format

In [326]:
s.to_csv('Sname')

In [328]:
len(s)

86

In [311]:
type(df['Name']) #it is a series

pandas.core.series.Series

In [213]:
len(df['Name'][(df['Name'].str.startswith('S') | df['Name'].str.startswith('s'))])

86

In [157]:
# 7. try to create a new column which is a summation of "sibsp" and 'Parch'
df["sib+Par"] = df["SibSp"]+df["Parch"]

In [159]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sib+Par
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1

In [163]:
# 8 . how many person do we have below age of 25 .
l = len(df[df['Age']<25])
print("age less than 25: ", l)

age less than 25:  278

In [178]:
# 9 . how many person died whose age was less then 40 
l40 = df[df['Age']<40]

In [180]:
l40 # database filtered with <40 age

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sib+Par
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,5
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [183]:
le40 = len(l40[l40['Survived']==0])
print("Those who died less than 40: ", le40)

Those who died less than 40:  322

In [187]:
# 10 . from a  cabin column seperate text and numeric value . 
len(df[df['Cabin'].isnull()])

687

In [190]:
import re

In [329]:
# help(re)

In [196]:
expression = re.compile("([a-zA-Z]+)") #expression defined as "a-z then A-Z +(other object)"

df['Cabin_string'] = df['Cabin'].str.extract(expression) # str extract with expression
df['Cabin_number'] = df['Cabin'].str.replace(expression, "") #str replace with expression and assign null value

In [330]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [345]:
df2 = pd.DataFrame(df['Cabin'].str.split('([a-zA-z]+)([^a-zA-z]+)')) # ^ is a not function

df2.columns
df2

            Cabin
0             NaN
1     [, C, 85, ]
2             NaN
3    [, C, 123, ]
4             NaN
..            ...
886           NaN
887   [, B, 42, ]
888           NaN
889  [, C, 148, ]
890           NaN

[891 rows x 1 columns]

In [347]:
df['cabinNum'] = df['Cabin'].str.replace('([a-zA-z]+)', '')
df['cabinLet'] = df['Cabin'].str.extract('([a-zA-z]+)')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,cabinNum,cabinLet
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN

regular expression

Resumes in iNeuron:
    https://github.com/iNeuronai
        
        download
        read out all data in resume
        check email or name or github or not

Task:

read all the resume from github in pdf, in word, and try to create a dataframe with resume name
as a index value, and in column. I am expecting email ID, linkedin ID, skills as a result

Need to write 3 regular expression to filter out the email, github and linkedin column.

there are many pythonic code for reading pdf, docx..

In [426]:
import pandas as pd

# Banking Task

In [427]:
#dataset link - https://archive.ics.uci.edu/ml/datasets/Bank+Marketing

import pandas as pd
df = pd.read_csv('C:\\2022\\Personnal\\Learning\\iNeuron\\Pandas_Exercisefile\\bank\\bank.csv', sep=";")

In [349]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

1 . how many campaign available in this dataset . 
2 . how many users do we have with housing and personal loan . 
3. how many person do we have whose age is 60+ . 
4 . in which month we have trageted most of the customer . 
5 . which mode of call is giving you more result
6 . how many enterpeures do we have in this list  
7 . how many customers do we have with negative balance 
8. prepare a group of data based on education level .

In [222]:
# 1 . how many campaign available in this dataset . 
len(df['campaign'].unique())

32

other ways are
# df['campaign'] # as list
list(df['campaign']) then convert to set (is for unique no)
then find the len of it

In [223]:
number_of_campaigns = df['campaign'].unique().size
print('Number of campaigns available:', number_of_campaigns)

Number of campaigns available: 32

In [228]:
# 2 . how many users do we have with housing and personal loan . 
userwithloans = len(df[(df['housing']=='yes') & (df['loan']=='yes')])
print('users with personal and housing loan: ', userwithloans)

users with personal and housing loan:  406

In [352]:
# for example filter out those who dont have any loan? with that loan we can see what are th options to approach them for sancation loan for car, investment et.
userwithoutloans = df[(df['housing']!='yes') & (df['loan']!='yes')]
userwithoutloans

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
16,56,technician,married,secondary,no,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no

In [231]:
# 3. how many person do we have whose age is 60+ . 
age60 = len(df[df['age']>60])
print('age more than 60: ', age60)

age more than 60:  127

In [244]:
# 4 . in which month we have trageted most of the customer .
df['month'].value_counts().head(1)

may    1398
Name: month, dtype: int64

In [239]:
df.groupby(df['month']).size().sort_values(ascending=False).head(1)

month
may    1398
dtype: int64

In [358]:
df['month'].value_counts().sort_values(ascending=False).head(1)

may    1398
Name: month, dtype: int64

In [240]:
#5 . which mode of call is giving you more result
df.groupby(df['contact']).size().sort_values(ascending=False).head(1)

contact
cellular    2896
dtype: int64

In [246]:
df['contact'].value_counts().head(1)

cellular    2896
Name: contact, dtype: int64

In [361]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [369]:
df4 = df.groupby(['contact', 'y']).size()

In [430]:
#groupby list down how many have grouped based on list of columns
df.groupby(['contact', 'y']).count()

                age   job  marital  education  default  balance  housing  \
contact   y
cellular  no   2480  2480     2480       2480     2480     2480     2480
          yes   416   416      416        416      416      416      416
telephone no    257   257      257        257      257      257      257
          yes    44    44       44         44       44       44       44
unknown   no   1263  1263     1263       1263     1263     1263     1263
          yes    61    61       61         61       61       61       61

               loan   day  month  duration  campaign  pdays  previous  \
contact   y
cellular  no   2480  2480   2480      2480      2480   2480      2480
          yes   416   416    416       416       416    416       416
telephone no    257   257    257       257       257    257       257
          yes    44    44     44        44        44     44        44
unknown   no   1263  1263   1263      1263      1263   1263      1263
          yes    61    61     61        61        61     61        61

               poutcome
contact   y
cellular  no       2480
          yes       416
telephone no        257
          yes        44
unknown   no       1263
          yes        61

In [432]:
#groups give you the index no of group by columns
df.groupby(['contact', 'y']).groups

{('cellular',
  'no'): Int64Index([   0,    1,    2,    5,    6,    7,    9,   11,   12,   14,
             ...
             4506, 4507, 4509, 4513, 4514, 4515, 4516, 4518, 4519, 4520],
            dtype='int64', length=2480),
 ('cellular',
  'yes'): Int64Index([  13,   33,   34,   37,   38,   49,   53,   70,   80,   84,
             ...
             4407, 4416, 4423, 4433, 4447, 4458, 4465, 4484, 4503, 4504],
            dtype='int64', length=416),
 ('telephone',
  'no'): Int64Index([  27,   46,   55,   56,   60,  102,  103,  111,  128,  166,
             ...
             4359, 4383, 4435, 4437, 4439, 4443, 4446, 4468, 4474, 4495],
            dtype='int64', length=257),
 ('telephone',
  'yes'): Int64Index([  30,   36,   83,  114,  199,  204,  382,  443,  477,  492, 1025,
             1056, 1312, 1349, 1435, 1534, 1739, 1889, 1952, 2032, 2148, 2499,
             2773, 2821, 2827, 3176, 3202, 3333, 3360, 3491, 3540, 3658, 3743,
             3786, 3881, 3889, 4040, 4108, 4160, 4224, 4225, 4337, 4342, 4388],
            dtype='int64'),
 ('unknown',
  'no'): Int64Index([   3,    4,    8,   10,   18,   22,   26,   35,   39,   40,
             ...
             4472, 4475, 4486, 4490, 4493, 4498, 4508, 4510, 4512, 4517],
            dtype='int64', length=1263),
 ('unknown',
  'yes'): Int64Index([  50,  297,  634,  639,  643,  704,  705,  794,  831,  862,  886,
              980, 1007, 1021, 1135, 1168, 1190, 1269, 1334, 1343, 1431, 1440,
             1446, 1454, 1501, 1638, 1663, 1755, 2051, 2114, 2129, 2140, 2195,
             2202, 2321, 2376, 2464, 2512, 2705, 2911, 2972, 2973, 2980, 3029,
             3248, 3271, 3422, 3652, 3673, 3681, 3730, 4061, 4123, 4176, 4220,
             4236, 4328, 4366, 4494, 4505, 4511],
            dtype='int64')}

In [434]:
#cellular contact: NO from index 1
df.iloc[1]

age                 33
job           services
marital        married
education    secondary
default             no
balance           4789
housing            yes
loan               yes
contact       cellular
day                 11
month              may
duration           220
campaign             1
pdays              339
previous             4
poutcome       failure
y                   no
Name: 1, dtype: object

In [435]:
#cellular contact: YES from index 13
df.iloc[13]

age                 20
job            student
marital         single
education    secondary
default             no
balance            502
housing             no
loan                no
contact       cellular
day                 30
month              apr
duration           261
campaign             1
pdays               -1
previous             0
poutcome       unknown
y                  yes
Name: 13, dtype: object

In [378]:
type(df4)

pandas.core.series.Series

In [383]:
df4

contact    y
cellular   no     2480
           yes     416
telephone  no      257
           yes      44
unknown    no     1263
           yes      61
dtype: int64

In [385]:
df4.loc['cellular', 'yes']

416

In [388]:
df4.loc['telephone', 'yes']

44

In [390]:
max(df4.loc['cellular', 'yes'],df4.loc['telephone', 'yes'],df4.loc['unknown', 'yes'])

416

In [382]:
#6 . how many enterpeures do we have in this list  
len(df.groupby(df['job']).get_group("entrepreneur"))

168

In [392]:
len(df[df['job']=='entrepreneur'])

168

In [258]:
e = df['job'].value_counts()

In [259]:
e

management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64

In [257]:
e['entrepreneur']

168

In [242]:
#7 . how many customers do we have with negative balance 
len(df[df['balance']<0])

366

In [262]:
neg_bal = len(df[df['balance']<0])
print("no. of customer with negative balance:", neg_bal)

no. of customer with negative balance: 366

In [243]:
#8. prepare a group of data based on education level .
df.groupby(df['education']).size()

education
primary       678
secondary    2306
tertiary     1350
unknown       187
dtype: int64

In [264]:
df['education'].value_counts()

secondary    2306
tertiary     1350
primary       678
unknown       187
Name: education, dtype: int64

In [266]:
g = df.groupby(df['education'])

In [268]:
g.size()

education
primary       678
secondary    2306
tertiary     1350
unknown       187
dtype: int64

In [269]:
import pandas as pd
import numpy as np

In [271]:
print("pandas version:", pd.__version__)
print("numpy version: ", np.__version__)

pandas version: 1.0.1
numpy version:  1.18.1

In [393]:
df['education'].unique()

array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object)

In [420]:
#8. prepare a group of dataase based on education level.
edu = []
for i in df['education'].unique():
    edu.append(df[df['education']==i])

In [422]:
edu[0]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4480,23,blue-collar,married,primary,no,1158,yes,no,cellular,16,apr,743,1,-1,0,unknown,no
4485,53,blue-collar,married,primary,no,238,yes,no,cellular,11,may,238,2,361,5,failure,no
4486,37,blue-collar,married,primary,no,378,yes,no,unknown,9,may,514,1,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes

In [424]:
edu[1]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no

In [425]:
edu[2]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4501,34,management,married,tertiary,no,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no