# Tuple, SET, Dictionary

#Tuple is different from list, how is it different (Tuples are immutable)
#different 1 is tuple (), where list is []
#different 2 is tuple and string variable is immutable(cannot assign variable), where list is mutable

List of items in the Notebook:
1) Key board shortcuts
2) tuple () functions, slicings
3) Set function, [], bring out unique element
4) Dictionary function, unordered element, cannot use ind

# Keyboard Shortcuts
# control-/ : comment the line
# tab : bulk indent a set of lines (shift-tab does the reverse, un-indenting)
# control-b : jump to the definition of selected word in PyCharm.
# control-a : Move the cursor to the start of the line

# control-e : Move the cursor to the end of the line
# control-k : Delete (kill) all the text through the end of the line. 
#         Do it a second time to delete the next line.
# control-d : delete the char to the right of the cursor

In [2]:
#tuples is a collection of variable
t = (1,2,3,4,6)

In [3]:
type(t)

tuple

In [4]:
t1 = (12, 123.34, 4+5j, False)

In [6]:
t1

(12, 123.34, (4+5j), False)

In [7]:
l = [12, 123.34, 4+5j, False]

In [9]:
type(l)

list

In [13]:
#slicing in Tuples

In [14]:
t1[0:2]

(12, 123.34)

In [15]:
t1[::-1]

(False, (4+5j), 123.34, 12)

In [17]:
l[0]

12

In [18]:
l[0]="mohan" #in a list can assign a variable to indexed varaible.

In [19]:
l

['mohan', 123.34, (4+5j), False]

In [24]:
t1[0] = "kaila" # in tuple assignment operation is not possible

TypeError: 'tuple' object does not support item assignment

In [26]:
t2 = ("123", True, 3+4j)
t1 + t2 #append operation

(12, 123.34, (4+5j), False, '123', True, (3+4j))

In [27]:
t1 * t2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [28]:
t1*2

(12, 123.34, (4+5j), False, 12, 123.34, (4+5j), False)

In [30]:
#tuple only have 2 function (count, index)
t1.count(12)

1

In [31]:
t1.index(False)

3

#where can we use tuples? something like paswword which others cannot change, store data and less changeable
#data based operation(each and every element has stored as tuples), fixed size of a collection

In [33]:
t = (12, 32.12, (345, True, 9+9j))

In [36]:
t

(12, 32.12, (345, True, (9+9j)))

In [3]:
#tuple with list and tuple
t1 = ("1123", "asd", [12, 34, 545+44j], ("ert", 45.45))

In [41]:
t1

('1123', 'asd', [12, 34, (545+44j)], ('ert', 45.45))

In [43]:
t1[2]

[12, 34, (545+44j)]

In [44]:
t1[2][1] = 45 # ASSIGNMENT IS WORKING IN LIST INSIDE THE TUPLE

In [45]:
t1

('1123', 'asd', [12, 45, (545+44j)], ('ert', 45.45))

In [48]:
t1[3][1] = 45 # ASSIGNMENT IS NOT WORKING IN TUPLE INSIDE THE TUPLE

TypeError: 'tuple' object does not support item assignment

In [50]:
t1[0] = "mohan" # if index 0 is a list in the tuple is possible to assign the value.
# in this t1, index 0 is int value.

TypeError: 'tuple' object does not support item assignment

In [51]:
t1[2][2] = "surya" # note here, the assignment is in the list in the tuple. List is mutable and it is possible to change it.

In [4]:
t1

('1123', 'asd', [12, 34, (545+44j)], ('ert', 45.45))

#why we cant add tuple and list? it is a heterogeneous element and not possible to concatenate in the python.
ex: (str+int) is not possible, int + int or str + str is possible.

#Homogeneous means "of the same or a similar kind or nature" - List.
# Tuples are heterogeneous data structures (i.e., their entries have different meanings), while lists are homogeneous sequences. 
# Tuples have structure, lists have order.

Difference between list and tuple:

Literal

someTuple = (1,2)
someList  = [1,2] 
Size

a = tuple(range(1000))
b = list(range(1000))

a.__sizeof__() # 8024
b.__sizeof__() # 9088
Due to the smaller size of a tuple operation, it becomes a bit faster, but not that much to mention about until you have a huge number of elements.

Permitted operations

b    = [1,2]   
b[0] = 3       # [3, 2]

a    = (1,2)
a[0] = 3       # Error
That also means that you can't delete an element or sort a tuple. However, you could add a new element to both list and tuple with the only difference that since the tuple is immutable, you are not really adding an element but you are creating a new tuple, so the id of will change

a     = (1,2)
b     = [1,2]  

id(a)          # 140230916716520
id(b)          # 748527696

a   += (3,)    # (1, 2, 3)
b   += [3]     # [1, 2, 3]

id(a)          # 140230916878160
id(b)          # 748527696
Usage

As a list is mutable, it can't be used as a key in a dictionary, whereas a tuple can be used.

a    = (1,2)
b    = [1,2] 

c = {a: 1}     # OK
c = {b: 1}     # Error

In [54]:
id(t1) #identity of an object

2279388989864

In [5]:
t1

('1123', 'asd', [12, 34, (545+44j)], ('ert', 45.45))

In [6]:
t1 += ("kalai") #here is the issue is not tuple, defined string in tuple quote. Single element inside the tuple

TypeError: can only concatenate tuple (not "str") to tuple

In [59]:
t1 += ("kalai", ) # multiple element in the tuple

In [60]:
t1

('1123', 'asd', [12, 45, 'surya'], ('ert', 45.45), 'kalai', 'kalai')

In [61]:
id(t1) #look at the 2 id(t1) in above and below, the identity is changed ie: new index is created, that is called heterogenous element.

2279387195528

In [63]:
 #convert tuples and list
l = [1,23,4,5,6]
t=(34,235,3245)

In [64]:
tuple(l)

(1, 23, 4, 5, 6)

In [65]:
list(t)

[34, 235, 3245]

# SET

In [7]:
#Set: set bring out the unque value from the list
#Example: 
l = [11,222,11,222,3,3,3,3,5,6,76,76]

set(l) #set will hold all unique element and quoted with in {} curly brackets, 
#remove the duplicates and display it as ordered from small to big no. it doesnt mean, it is ordered. it is unordered element. We cannot retrieve the element by index.

In [68]:
type(set(l))

set

In [11]:
s = set(l)
s

{3, 5, 6, 11, 76, 222}

In [15]:
for i in s:
    print(i, s.index(i)) #so, set is not having the index, we cannot retrieve by index no.

AttributeError: 'set' object has no attribute 'index'

In [19]:
s1 = {1,2,3}

In [70]:
type(s1)

set

In [72]:
#can access the element using slicing operation in the set? No
s1[2]

TypeError: 'set' object is not subscriptable

In [20]:
s1.add(123)

In [21]:
s1

{1, 2, 3, 123}

In [75]:
id(s1)

2279396443752

In [23]:
s1.add("kalai")

In [24]:
s1

{1, 123, 2, 3, 'kalai'}

In [78]:
id(s1) # after add operation in the SET, ID is not changed

2279396443752

In [25]:
#is it possible to have list in the set? NO, reason list hold ordered collection where as SET stores unordered element.
s1.add([12,3,4])

TypeError: unhashable type: 'list'

In [81]:
{[1,2,4], 12,23,23,23,12} # list is a immutable and ordered.

TypeError: unhashable type: 'list'

In Python, you have heard that lists, strings and tuples are ordered collection of objects and sets and dictionaries are unordered collection of objects.

So, do you understand what are ordered and unordered collection of objects in Python? If you don't then following example helps you to understand concept ordered vs unordered:

Let's analyze this concept using ASCII letters as:


letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

string_letters = str(letters)
lists_letters = list(letters)
tuples_letters = tuple(letters)
sets_letters = set(letters)


print("String: ", string_letters)
print() # for new line
print("Lists: ", lists_letters)
print() # for new line
print("Tuples: ", tuples_letters)
print() # for new line
print("Sets: ", sets_letters)
Output

String:  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

Lists:  [
'a', 'b', 'c', 'd', 'e', 'f', 'g', 
'h', 'i', 'j', 'k', 'l', 'm', 'n', 
'o', 'p', 'q', 'r', 's', 't', 'u', 
'v', 'w', 'x', 'y', 'z', 'A', 'B', 
'C', 'D', 'E', 'F', 'G', 'H', 'I', 
'J', 'K', 'L', 'M', 'N', 'O', 'P', 
'Q', 'R', 'S', 'T', 'U', 'V', 'W', 
'X', 'Y', 'Z'
]

Tuples:  (
'a', 'b', 'c', 'd', 'e', 'f', 'g', 
'h', 'i', 'j', 'k', 'l', 'm', 'n', 
'o', 'p', 'q', 'r', 's', 't', 'u', 
'v', 'w', 'x', 'y', 'z', 'A', 'B', 
'C', 'D', 'E', 'F', 'G', 'H', 'I', 
'J', 'K', 'L', 'M', 'N', 'O', 'P', 
'Q', 'R', 'S', 'T', 'U', 'V', 'W', 
'X', 'Y', 'Z'
)

Sets:  {
'G', 'U', 'P', 'K', 'Q', 'w', 'I', 
'Z', 'N', 'l', 'm', 'h', 'J', 'D', 
'k', 'C', 'r', 'B', 'A', 'F', 'y', 
'c', 'V', 'i', 'E', 'a', 'o', 'R', 
'T', 'e', 'g', 'b', 'L', 'f', 'X', 
'x', 'O', 'S', 'j', 'v', 'p', 'Y', 
'H', 'u', 'n', 'z', 't', 'M', 'd', 
'W', 's', 'q'
}
If we look at the output for strings, lists and tuples, they are in same order as they are specified intially. And these data structures guarantee this order. So strings, lists and tuples are ordered collections of objects.

If we look at the result of sets and dictionary, initial order, the order in which we specified the elements, is not maintained. So sets and dictionaries are unordered collections of objects.

In [84]:
{(1,2,4), 12,23,23,23,12} #tuple inside tuple also immutable so it hold the data in the set.

{(1, 2, 4), 12, 23}

In [86]:
{(1,2,4), 12,23,23,23,12,(1,2,4)} #holds the unique elements, removes the duplicates

{(1, 2, 4), 12, 23}

In [17]:
{(1,2,4), 12,23,23,23,12,(1,2,5)} # different in one of the tuple

{(1, 2, 4), (1, 2, 5), 12, 23}

In [26]:
s1

{1, 123, 2, 3, 'kalai'}

In [27]:
s1[0] #SET is unordered, no index no to retrieve the element

TypeError: 'set' object is not subscriptable

In [88]:
s1.remove('kalai')

In [89]:
s1

{1, 2, 3, 123}

In [90]:
s1.pop() #normal pop()

1

In [91]:
s1

{2, 3, 123}

In [92]:
s1.remove("45") #no 45 in the tuples

KeyError: '45'

In [93]:
s1.discard(45) #even there is no element, no error

In [94]:
s1

{2, 3, 123}

#is Set a immutable or mutable collection?
# SET is a unordered collection, cannot get the element using the indexing, so it is immutable.
String, Tuples(), List[] can access with indexing (ordered collection)
SET{}, Dict is unordered collection

In [96]:
{"mohan", "mohan"}

{'mohan'}

# Dictionary

In [101]:
d = {}

In [102]:
type(d)

dict

In [103]:
d = {"key1": 123, "key2": 3454}

In [104]:
d

{'key1': 123, 'key2': 3454}

In [105]:
d[key1]

NameError: name 'key1' is not defined

In [106]:
d["key1"]

123

In [107]:
d["key2"]

3454

In [108]:
d.keys()

dict_keys(['key1', 'key2'])

In [109]:
d.values()

dict_values([123, 3454])

In [113]:
d1 ={"k1": 2134, "k2":"mohan", 34:[12,34,6,4+5j, (23,4,6,7)]}

In [114]:
d1

{'k1': 2134, 'k2': 'mohan', 34: [12, 34, 6, (4+5j), (23, 4, 6, 7)]}

In [115]:
d1[34][3].real

4.0

In [116]:
d1[34][4][2]

6

In [118]:
d2 = {"k1":[12,4,65], "k2":"mohan", "k1":45}

In [120]:
d2 # reason for print out only the K1 as 45 because it only track the last key value of repeated Keys

{'k1': 45, 'k2': 'mohan'}

In [121]:
d1

{'k1': 2134, 'k2': 'mohan', 34: [12, 34, 6, (4+5j), (23, 4, 6, 7)]}

In [122]:
d1['k1'] = 2345

In [123]:
d1 #assigned the value to K1

{'k1': 2345, 'k2': 'mohan', 34: [12, 34, 6, (4+5j), (23, 4, 6, 7)]}

In [124]:
d1[34][4][2] = "mohan" #tuple inside dict still cant assign the value

TypeError: 'tuple' object does not support item assignment

In [144]:
d3={"name": "mohan", "age": 40, "email": "asdjoa@asdi.com", "k1":[23,456,4+5j] }

In [145]:
d3

{'name': 'mohan',
 'age': 40,
 'email': 'asdjoa@asdi.com',
 'k1': [23, 456, (4+5j)]}

#any type of data may be your value in the key

In [146]:
d3.items() # this function gives out the key and value as tuples in the list

dict_items([('name', 'mohan'), ('age', 40), ('email', 'asdjoa@asdi.com'), ('k1', [23, 456, (4+5j)])])

In [148]:
#to update the existing dict
d3['key2'] = (12,34,56,7)

In [149]:
d3 #if the key is available will update, if not available will create as new key & value

{'name': 'mohan',
 'age': 40,
 'email': 'asdjoa@asdi.com',
 'k1': [23, 456, (4+5j)],
 'key2': (12, 34, 56, 7)}

In [150]:
#is the key name change? No, cannot change but can delete and create again
del d3['age'] #specific key is deleted.

In [151]:
d3

{'name': 'mohan',
 'email': 'asdjoa@asdi.com',
 'k1': [23, 456, (4+5j)],
 'key2': (12, 34, 56, 7)}

In [152]:
d3['age'] = 41

In [153]:
d3

{'name': 'mohan',
 'email': 'asdjoa@asdi.com',
 'k1': [23, 456, (4+5j)],
 'key2': (12, 34, 56, 7),
 'age': 41}

In [154]:
d3.get('name')

'mohan'

In [155]:
d2

{'k1': 45, 'k2': 'mohan'}

In [156]:
d3.update(d2)

In [157]:
d3

{'name': 'mohan',
 'email': 'asdjoa@asdi.com',
 'k1': 45,
 'key2': (12, 34, 56, 7),
 'age': 41,
 'k2': 'mohan'}

In [158]:
d2 + d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [160]:
d2

{'k1': 45, 'k2': 'mohan'}

In [161]:
#fromkeys function
key = ("name", "age", "email")
value = "kalai"

In [162]:
d4 = d3.fromkeys(key, value)

In [163]:
d3

{'name': 'mohan',
 'email': 'asdjoa@asdi.com',
 'k1': 45,
 'key2': (12, 34, 56, 7),
 'age': 41,
 'k2': 'mohan'}

In [164]:
d4

{'name': 'kalai', 'age': 'kalai', 'email': 'kalai'}

In [168]:
t = (1,3,5,6, True)

In [171]:
t.index(5)

2

In [172]:
t.index(True) #why index of True is zero, reason: True is 1, where the tuple as value 1 in it, and at index 0
#thats why it appears the 0 in the out.

0

In [178]:
t1 = (4,2,5,6, True, False) #note here index of True is came out correct, as there is no value 1 in the tuple list
t1.index(True)

4

In [177]:
t1.index(False)

5