List of Functions in the Notebook
1) Modular coding
    *args
    **kwargs
2) Lambda function
3) List comprehension
4) Iterable vs iterator
    Iter() function, to convert the iterable into iterator
    next() function to check the object is iterator or not
5) String, List and Tuples are iterable function

Sudhanshu@ineuron.ai
1. You have to write a fun which will take string and return a len of it without using a inbuilt fun len
2. write a fun which will be able to print an index of all premitive element which you will pass.
3. Write a fun which will take input as a dict and give me out as a list of all the values even in case of 2 level nesting it should work.
4. write a fun which will take another function as an input and return me an output.
5. Write a fun which will take multiple list as a input and give me concatenation of all element as an output.
6. Write a fun which will be able to take a list as an input return an index of each element like a inbuilt index function but even if we have repeatative element it should return index.
7. write a function which will would retun list of all the file name from a directory.
8. write a function which will be able to show date and time.
9. write a function which will be able to show your system configuration.
10. write a fun which will be able to read a image file and show it to you.
11. write a fun which can be able to read video file and play for you.
12. write a fun which can move a file from one directory to another directory.
13. write a fun which will be able to shutdown your system.
14. write a fun which will be able to access your mail.
15. write a fun by which i can send a mail to anyone.
16. write a fun to read a complete PDF file.
17. write a fun to read a word file.
18. write a fun which can help you to filter only word file from a directory.
19. write a fun by which you can print an IP address of your system.
20. write a fun by which you will be able to append two PDF files.

In [1]:
# 1. You have to write a fun which will take string and return a len of it without using a inbuilt fun len
def stri(a):
    count=0
    for i in a:
        count+=1
    return count

In [2]:
stri("mohan")

5

In [3]:
stri("mohana Kalaiyarasan")

19

# Modular Coding

In [4]:
#def is a definition of a function
#create a muliplte argument for a function
def test(a,b,c,d,e):
    return a,b,c,d,e

In [5]:
test(2,3,4,5,6)

(2, 3, 4, 5, 6)

In [6]:
#Let's say for any no. of argument by *args (Astric arguments)
def test1(*args): #static variable
    return args

In [7]:
test1(23,3.4,3.3,[1,23,54])

(23, 3.4, 3.3, [1, 23, 54])

In [8]:
#it is not necessary to indicate as *args not a reserved word/standard keys, any name can be defined like *mohan
def test2(*mohan):
    return mohan

In [9]:
test2(34,56,7,8,3+4j, "kalai")

(34, 56, 7, 8, (3+4j), 'kalai')

In [10]:
#we also can assign a specific variable
def test3(*args, a):
    return args, a

In [11]:
test3(23,4,45,3)
#error: missing 1 argument a, given list didnt tell which variable is belong to "a" argument.

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [12]:
test3(23,4,45,a=3) #define in this way

((23, 4, 45), 3)

In [13]:
#for many n number of argument and individual argument
def test4(*args, a,d,f,g):
    return args, a,d,f,g

In [14]:
test4(1,2,3,4,5, a=234, d=23, f="mohan", g="email")

((1, 2, 3, 4, 5), 234, 23, 'mohan', 'email')

In [15]:
#what happen if *args is defined in last in the assignment
def test3(a, *args): 
    return a, args

In [16]:
test3(a=1234,1,2,34,56) #defined "a" then "n" no of argument, here it didnt understand where the "n" of argument starting.

SyntaxError: positional argument follows keyword argument (<ipython-input-16-efc2f0468006>, line 1)

In [52]:
def test3(a, *args):
    return args, a

In [17]:
test3( 1,2,34,56, a=1234) #it is always looking for 1st argument "a" first, then "n" of argument

TypeError: test3() got multiple values for argument 'a'

In [36]:
test3(1234,1,2,34,56) #even without assigning "a" variable(notation), it is execute the output

(1234, (1, 2, 34, 56))

In [37]:
#by default, the very first dataset as values for variable "a"
def test5(a, *mohan, b , c):
    return a, mohan, b ,c

In [38]:

test5("mohana", [2,3,4,5], 234,4534, 234,4,5)

TypeError: test5() missing 2 required keyword-only arguments: 'b' and 'c'

In [39]:
test5("mohana", [2,3,4,5], 234,4534, 234,b=4,c=5)

('mohana', ([2, 3, 4, 5], 234, 4534, 234), 4, 5)

In [41]:
#My function should retun only list, by default def will return the output in tuple.
def test6(*args):
    for i in args:
        if type(i) == list:
            return i

In [42]:
test6(12,3,4,5,[123,34,5,6]) #it works fine for 1 list given in the test func

[123, 34, 5, 6]

In [43]:
test6([1,2,4], [34,4,6,5], 3,3,4,5,6) #by having 2 list, it gives out only the 1st list

[1, 2, 4]

In [44]:
#solution of above issue
def test6(*args):
    l=[]
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [45]:
test6([1,2,4], [34,4,6,5], 3,3,4,5,6)

[[1, 2, 4], [34, 4, 6, 5]]

In [46]:
#Takes n no of data and stores at Key values (from Dict)
d = {"a": [2,3,4,5], "b":[4,5,6,7,7]}
d

{'a': [2, 3, 4, 5], 'b': [4, 5, 6, 7, 7]}

In [47]:
d["a"]

[2, 3, 4, 5]

In [48]:
def test7(**kwargs):
    
        """#"*" is for n no of argument as values, where "**" (kwargs = Key word arguments)is for any no of argument as a form of key values of data
        kwargs is not a reserved keyword, can use any name of it.
    """
        return kwargs

In [49]:
test7(2,3,4,5,6)
#why is it not working? reason, we didnt give the arguments as Key and values

TypeError: test7() takes 0 positional arguments but 5 were given

In [53]:
test7(a=34, b=[1,2,4,5,4]) 
#here we have given as assigning value,it still takes as Dict (key and values format)
#by default, can return as Dictionary

{'a': 34, 'b': [1, 2, 4, 5, 4]}

In [54]:
def test8(**mohn):
    return mohn

In [55]:
test8(c=[1,3], d=(2,3,4,5), e=4+5j, g="kalai")

{'c': [1, 3], 'd': (2, 3, 4, 5), 'e': (4+5j), 'g': 'kalai'}

In [56]:
test8("a"="mohana") #both also variable, must be no quote in Key value.

SyntaxError: keyword can't be an expression (<ipython-input-56-e781fad526a3>, line 1)

In [57]:
test8(a ="mohana")

{'a': 'mohana'}

In [60]:
def test9(**moha):
    return moha

In [61]:
test9(name = "mohana", lastname="Kalaiyarasan", age=42)

{'name': 'mohana', 'lastname': 'Kalaiyarasan', 'age': 42}

In [62]:
def test10(a, **moh):
    return moh, a

In [63]:
test10(3,4,5,6,7)

TypeError: test10() takes 1 positional argument but 5 were given

In [67]:
test10(3,a=4,b=5,c=6,d=7)#by default "a" takes the value of 3, but there is a conflict of another "a"=4

TypeError: test10() got multiple values for argument 'a'

In [68]:
test10(3,z=4,b=5,c=6,d=7) #replaced "a =4 to z=4"

({'z': 4, 'b': 5, 'c': 6, 'd': 7}, 3)

In [69]:
def test10(a, **moh):
    return a, moh

test10(3,z=4,b=5,c=6,d=7) 
#it exactly follow the order that the return request the output. ("a", then **moh)

(3, {'z': 4, 'b': 5, 'c': 6, 'd': 7})

In [70]:
def test11(a,**moh, *args):
    return a, moh, args
#by default, cannot use Double ** then * Single Asteric in Def function

SyntaxError: invalid syntax (<ipython-input-70-cb2563b6b68c>, line 1)

In [71]:
def test12(a, *args, **kwargs):
    return a, args, kwargs
#it works for *single then **double -NO issue
#even args before variable "a" it still works

In [72]:
test12(123, 1,2,3,4,5,6, g=4+5j)
#here a=123, args-tuple and g=4+5j

(123, (1, 2, 3, 4, 5, 6), {'g': (4+5j)})

In [73]:
#create a function without a name to the function
#lambda function, function without a name
def test13(a,b):
    return a*b

In [74]:
test13(23, 45)

1035

In [75]:
#lambda function, lambda is a reserved keyword
lambda a, b:a*b

In [76]:
#how do we give a variable to Lambda funciton, there is no name in it?
# SO, we assign a variable to lambda function

x=lambda a, b:a*b

In [77]:
x(20, 30) #function called > lambda

600

In [78]:
#how to give multiple operation in lambda
x=lambda a, b:(a*b, a+b) #whatever given behind the Colon is considered as return statement

In [79]:
x(20,30)

(600, 50)

In [80]:
x=lambda *a:a #n no of arguments
x(23,3,4,5,6)

(23, 3, 4, 5, 6)

If lets say, if the function is only 1 line use lambda function 
if use complex function, then use DEF function

In [81]:
x=lambda *a:a*a

In [82]:
x(2,3,4) #reason: tuple x tuple is not possible, *args will return as tuple

TypeError: can't multiply sequence by non-int of type 'tuple'

In [84]:
x = lambda x:[i for i in x]

In [85]:
x([2,3,4,5])

[2, 3, 4, 5]

In [86]:
x=5
for i in range(x):
    if x>=0:
        x-=1
        print("mohan")

mohan
mohan
mohan
mohan
mohan

In [87]:
x=5
while x>=0:
    x-=1
    print("mohan")

mohan
mohan
mohan
mohan
mohan
mohan

In [93]:
a= lambda **kwargs: kwargs

In [94]:
a(a=45, b=34)

{'a': 45, 'b': 34}

In [97]:
a=10 #"a" is defined already, global variable
def test16(c,d):
    a=5 #local variable
    return c*d

In [99]:
test16(a,50)

500

a=10 #"a" is defined already, global variable
def test16(c,d):
    a=5 #local variable
    return c*d
    
test16(a,50)
then test16 assign variable a=10 and d=50, return c*d, 10*50=500
eventhough local variable assign a=5

if lets say,
c=10 #"c" is defined already, global variable
def test16(c,d):
    c=5 #local variable
    return c*d
    
test16(c,50) > test16(10,50) when it execute the function variable "C" variable changed as per
local variable assigned inside the function which is c=5, then the return will be 5*50=250

Rule:
If global variable and Local variable is same character, it takes the local variable
if global and local variable is not same, then it takes the global variable.

In [100]:
c=10 #"c" is defined already, global variable
def test16(c,d):
    c=5 #local variable
    return c*d
    
test16(c,50)

250

In [103]:
#list comprehension
l=[1,2,3,4,5,6]
l1 =[]
for i in l:
    l1.append(i+2)
    
print(l1)

[3, 4, 5, 6, 7, 8]

In [106]:
t=(1,22,3,4,5,6)
t1 =[]
for i in t:
    t1.append(i+2)
    
print(t1)

[3, 24, 5, 6, 7, 8]

In [107]:
def test17(a):
    l1=[]
    for i in a:
        l1.append(i+2)
    return l1

In [108]:
test17([1,2,4,5])

[3, 4, 6, 7]

In [109]:
#write the function 17 in lambda
x=lambda a: [i+2 for i in a]

In [110]:
x([1,2,3,5])

[3, 4, 5, 7]

In [112]:
x(l) #l is defined as global variable

[3, 4, 5, 6, 7, 8]

In [114]:
#list comprehension, return function is written first in this FOR loop
[i+2 for i in l]

[3, 4, 5, 6, 7, 8]

In [117]:
[(i**2,i+i) for i in l] #2 return statement

[(1, 2), (4, 4), (9, 6), (16, 8), (25, 10), (36, 12)]

In [118]:
[(i**2,i+i) for i in l if i<4]

[(1, 2), (4, 4), (9, 6)]

In [124]:
#create a function where the key will be a number and value will be a square of it.
#list comprehension
#d={1:1, 2:4, 3:9}
{i:i**2 for i in range(10)} #i:i**2 is Key:value notation

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [125]:
d1={}
for i in range(10):
    d1[i]=i**2

In [127]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [128]:
(i for i in range(10))

In [129]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [130]:
x=10
for i in x:
    print(i)
#here, integer is not a iterable object

TypeError: 'int' object is not iterable

In [132]:
x = "mohan"
for i in x:
    print(i, end="")
    
#here, string is iterable object

mohan

In [133]:
next(x) #here x="mohan"
#what is the meaning of iterator? Why string is not iterator object?

TypeError: 'str' object is not an iterator

# What is Iterable, iterator object?

Iterable: String is an iterable object
Iterator: String is not a iterator object
if an object is holding a values with indexes, and can access with indexes (one by one) is called iterable object by default. but it doesnt mean that it will be an iterator.

then when will able to extract that?
after converted the string(iterable object) into iterator object by the function called iter().

FOR loop is something trying to create string as an iterator
For example:
next() is a function, extract one element at a time, it will give you a object one by one, if an object is a iterator.

In [134]:
x

'mohan'

In [137]:
b = iter(x) #iterator function, will convert your iterable into iterator

In [136]:
b

In [138]:
next(b)

'm'

In [139]:
next(b)

'o'

In [140]:
s = "mohana"
for i in s:
    print(i) 
#inside the FOR loop, it first convert iterable object into iter() iterator object then use next() function to
#access the elements

m
o
h
a
n
a

In [143]:
x

'mohan'

In [141]:
s = iter(x)

In [142]:
next(s)

'm'

In [144]:
next(s)

'o'

In [145]:
next(s)

'h'

In [146]:
next(s)

'a'

In [147]:
next(s)

'n'

In [148]:
next(s)

StopIteration:

In [149]:
l = [1,2,34,34,4]
#list is a iterable element

In [150]:
next(l)

TypeError: 'list' object is not an iterator

In [151]:
l[2] #can access by indexing

34

In [156]:
iter(l)

In [152]:
#need to convert it to iter()
l=iter(l)

In [153]:
next(l)

1

In [155]:
iter(34) #interger is not a iterable object, so cannot convert into iterator object

TypeError: 'int' object is not iterable

String, List and Tuples are iterable function

In [7]:
def test18(d,e):
    c=5
    d=10
    return c*d
#here the return c*d only called and both are local variable

In [8]:
test18(50,20)
#test18(d=50, e=20), return c*d (5*10 = 50)

50

In [9]:
l3=[1,2,[3,4,5,'t', 't','t','t']]
for i in l3:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                i.remove(j)
                continue

#here there is no output return, reason it is updating the temporary variable "i"

In [1]:
l3=[1,2,[3,4,5,'t1', 't2','t3','t4']]
l1=[]
for i in l3:
    if type(i)==list:
        for j in i:
            l1.append(j)
            print(l1)
            if type(j)==str:
                l1.remove(j)
                continue
print(l1)

[3]
[3, 4]
[3, 4, 5]
[3, 4, 5, 't1']
[3, 4, 5, 't2']
[3, 4, 5, 't3']
[3, 4, 5, 't4']
[3, 4, 5]

In [13]:
d = lambda *a,b: [i+b for i in a]

In [15]:
d(1,2,3, b=3)

[4, 5, 6]

In [27]:
def test():
    i=0
    while i<4:
        print(i)
        i=i+1

In [28]:
test()

0
1
2
3

In [24]:
#lambda fun for above
[i for i in test()]

[0, 1, 2, 3]

In [29]:
def test():
    i=0
    while i<4:
        yield i
        i=i+1

In [30]:
test()