# Live Python Class By IIT Bombay Alumin
# String Lesson 1
Free Live Python Classes by IIT BOMBAY Alumnus.
Complete Strings MasterClass this weekend:
1. Strings Lesson 1 : 5th, June, Saturday, 2pm IST. Link: https://youtu.be/-b_JY1FWBdU
2. Strings Lesson 2 : 5th, June, Saturday, 4pm IST. Link: https://youtu.be/Nd-bgOaRTag
3. Strings Lesson 3 : 6th, June, Sunday, 2pm IST. Link: https://youtu.be/uLUObeYgRRc
4. Strings Lesson 4 : 6th, June, Sunday, 4pm IST. Link: https://youtu.be/QVTFTyF7XEU

In [2]:
# What are strings? group of characters
# represented in single ' ' or double quotes " "
# single line or multiline ''' ''', """  """

In [2]:
x ='thatascience'
y = "thatascience"

In [3]:
## Index in Slicing, keep index in range
## characters at index can be fetched by string[index]
name ="thatascience"

In [4]:
print(name[5])

s

### Looping over a String

In [5]:
# enumerate is used to get index and characters
for i, ch in enumerate(name):
    print(i, ch)

0 t
1 h
2 a
3 t
4 a
5 s
6 c
7 i
8 e
9 n
10 c
11 e

## String Slicing

In [17]:
pc = 'computer is  known as pc'
## getting some portion of it from PC
## string_var[start:end]
## string_var[start:end:step]

In [18]:
pc[0:8]

'computer'

In [19]:
pc[0:11:2]

'cmue s'

## Reverse Slicing

In [20]:
#use negative slicing for reverse slicing, index from last start with -1, -2, -3...
# with negative step

In [21]:
pc[-1:-10:-1]

'cp sa nwo'

## Adding string / concatenation

In [6]:
name = 'thatascience'
age = '3 years'

In [7]:
name + ' ' + age

'thatascience 3 years'

    # name + 3

In [26]:
name +str(3) #cannot add the int and str type (concatenate)

'thatascience3'

## Multiplying string with a numbers

In [27]:
name*3

'thatasciencethatasciencethatascience'

In [28]:
# problem1: create a simple string variables

In [30]:
x ='i am mohan'
x

'i am mohan'

In [31]:
# problem2: create a string and access the 1st 3 elements from the characters
x ='i am mohan'
x[0:3]

'i a'

In [32]:
# problem 3: loop over a string and print its characters
x ='i am mohan'
for i in x:
    print(i)

i

a
m

m
o
h
a
n

In [33]:
# problem 4: print characters and their indices a string
x ='i am mohan'
for i, a in enumerate(x):
    print(i, a)

0 i
1
2 a
3 m
4
5 m
6 o
7 h
8 a
9 n

In [34]:
# problem 5: Add 2 string
x = 'i am mohan'
y = 'learning'
x + ' ' + y

'i am mohan learning'

In [10]:
## Tips and Tricks by the Master
## 1) List to string
## List() function converts string into characters

In [44]:
name = 'i am a great coder'
list(name)

['i',
 ' ',
 'a',
 'm',
 ' ',
 'a',
 ' ',
 'g',
 'r',
 'e',
 'a',
 't',
 ' ',
 'c',
 'o',
 'd',
 'e',
 'r']

In [45]:
#2) Check presence of a string in another string
x = 'i am mohan'
y = 'mohan'
## 'in' keyword

In [46]:
y in x

True

In [13]:
## Take Home Assignment
##1) Create two strings and print the characters index by index together
# make the string into tuples and list of strings by zip.
# to get the output of zip, need to be a list
x = "i am learning"
y = "and developed"

# z = list(zip(x,y)) #zip will do tuples of list as [(x[0], y[0]), (x[1], y[1])...], accessed by index 0 and 1 for 1st tuples
z = list(zip(x,y))
for i, ch in enumerate(z):
    print(ch[0], ch[1], i)

i a 0
  n 1
a d 2
m   3
  d 4
l e 5
e v 6
a e 7
r l 8
n o 9
i p 10
n e 11
g d 12

In [54]:
## Take Home Assignment
##2) Show String Slicing
x = " mohana kalaiyarasan"
x[0:17:2]

' oaakliaa'

In [55]:
x[-1:-14:-3]

'nayl '

In [57]:
# Let's creat a string
str1 = 'We will learn Data Science'
str2 = 'Data Science'
str3 = 'I will'

# We want to check if str1 contains str2
if str2 in str1:
    print('Yes str1 contains str2')

# Now let's check if str1 contains str3
if str3 in str1:
    print('Yes str1 contains str3')
else:
    print('No str1 does not contain str3')
# Yes str1 contains str2
# No str1 does not contain str3

Yes str1 contains str2
No str1 does not contain str3

## Lesson 2 String

In [15]:
# Strings are immutable (cannot change, it doesnt support item assignment)
name = 'mohan'
name[3] = 's'

TypeError: 'str' object does not support item assignment

In [19]:
# Multiline strings
# Strings which span accross multiple lines can be created using triple quote or triple double quote

about = """ thatascience is determined ti orovide quality edu to all youngsters aaa 
asdas
asd
sdsad
asda
asdand that they can achieve greatness in their life """
print(about)

 thatascience is determined ti orovide quality edu to all youngsters aaa
asdas
asd
sdsad
asda
asdand that they can achieve greatness in their life

In [20]:
# Delete a string
age = '3 years'
del age

In [21]:
print(age)

NameError: name 'age' is not defined

In [22]:
# length of string, len()
prof = "Data science"
len(prof)

12

In [23]:
# String Function, str(), used to get the string representation of python object
str([1,2,3,4,5])

'[1, 2, 3, 4, 5]'

In [24]:
# Given a list of name, print all names in which a given string is present
ls =['sameer', 'rahul', 'mohan', 'preeti']
key = 'sam'

for name in ls:
    if key in name:
        print(name)

sameer

In [25]:
#reverse a string, start and end will be taken automatically
name ="thatascience"
name[::-1]

'ecneicsataht'

In [28]:
# check absence of string in another string
x = "i am mohan"
y = "mohan"
z = "san"
print(y in x)
print(z in x)

True
False

## Lesson 3

In [ ]:
# String Formatting
# one can create formatted strings in multiple manners in python

In [ ]:
# # Placeholder Old String Formatting
# %s - string (any object with a string representation, like numbers)
# %d - Integers
# %f = Floating point number
# %.<2> = Floating decimal point number

In [6]:
# placeholder %s string
name = "my name is mohan"
format_str = 'Hello everyone, %s' %name
print(format_str)

# 1st argument in the bracket takes the 1st place
name = "my name is mohan"
prog = "my deal is to learn"
format_str = 'Hello everyone, %s and %s' %(name, prog)
print(format_str)

# here, Float decimal representation %.2f, and decimal %d
name = "my name is mohan"
prog = "my deal is to learn"
score = 98.3456
age = 39
format_str = 'Hello everyone, %s and %s and get score of %.2f at age %d' %(name, prog, score, age)
print(format_str)

#list of string representation, %ls
ls = [1,2,3,4]
format_str = 'my list is: %s'%ls
print(format_str)

# dictionary
dic = {'name': 'apple', 'age': 6}
format_str = 'my name is %s' %dic
print(format_str)

# By reference by Dictionary keys {key: value}, indicating the key to get the value in the print out 
dic = {'name': 'apple', 'age': 6}
format_str = 'my name is %(name)s and age is %(age)s' %dic
print(format_str)

Hello everyone, my name is mohan
Hello everyone, my name is mohan and my deal is to learn
Hello everyone, my name is mohan and my deal is to learn and get score of 98.35 at age 39
my list is: [1, 2, 3, 4]
my name is {'name': 'apple', 'age': 6}
my name is apple and age is 6

In [24]:
#Format Method: Use the format() method to format strings
print('my name is {}'.format('appleberry'))

# mistake: at format, variable should not represented as string
name = 'robot'
print('my name is {}'.format('name'))

name = 'robot'
print('my name is {}'.format(name))

# multiple inputs
name = 'rock'
f1 = 'sand'
f2 = 'water'
f3 = 'stone'
print('my name is {} and my friends are {}, {}, and {}'.format(name, f1, f2, f3))

# multiple inputs represented by indexing
name = 'rock'
f1 = 'sand'
f2 = 'water'
f3 = 'stone'
print('my name is {1} and my friends are {0}, {3}, and {2}'.format(name, f1, f2, f3))

# with reference
print('my name is {f3} and my friends are {f2}, {f1}, and {name}'.format(name = 'rock', f1 = 'sand', f2 = 'water', f3 = 'stone'))

#list at format method
ls =[1,2,3]
#print('my list is {ls[::1]}'.format(ls = ls)) #list indices must be integers or slices, not str, i have represented as string

print('my list is {ls[2]}'.format(ls = ls))

my name is appleberry
my name is name
my name is robot
my name is rock and my friends are sand, water, and stone
my name is sand and my friends are rock, stone, and water
my name is stone and my friends are water, sand, and rock
my list is 3

In [42]:
#Align (right, left and center) with format method
#left align
print('{:<20}'.format('robot'))
print('{:*<20}'.format('robot'))
print('{:$<20}'.format('robot'))
print( end='\n')
#right align
print('{:>20}'.format('robot'))
print('{:*>20}'.format('robot'))
print('{:$<20}'.format('robot'))
print( end='\n')
#center align
print('{:^20}'.format('robot'))
print('{:*^20}'.format('robot'))
print('{:$^20}'.format('robot'))
print( end='\n')

robot
robot***************
robot$$$$$$$$$$$$$$$

               robot
***************robot
robot$$$$$$$$$$$$$$$

       robot
*******robot********
$$$$$$$robot$$$$$$$$

In [45]:
#loop over a list and pint its content using a format string
ls = [1,2,3,4]
for i in ls:
    print('{} is the element of list'. format(i))

1 is the element of list
2 is the element of list
3 is the element of list
4 is the element of list

In [47]:
#print all the contents of the list as left aligned
ls = [1,2,3,4]
for i in ls:
    print('{:$<5}'. format(i))

1$$$$
2$$$$
3$$$$
4$$$$

In [5]:
# print  a right aligned tabular structure data using format method
form = '{:>20}{:>20}{:>20}'
ls = [('mohan', 40, 'male'), ('surya', 37, 'female'), ('Raksha', 6, 'female'),
     ('shavesh', 2, 'male')]
print(form.format('Name', 'Age', "Sex"))

for i in ls:
    print(form.format(i[0], i[1], i[2]))

                Name                 Age                 Sex
               mohan                  40                male
               surya                  37              female
              Raksha                   6              female
             shavesh                   2                male

In [4]:
# Tips and Trick by master
# create a table like structure with format

form = '{:<20} {:<20}{:<20}'
ls = [('mohan', 40, 'male'), ('surya', 37, 'female'), ('Raksha', 6, 'female'),
     ('shavesh', 2, 'male')]
print(form.format('Name', 'Age', "Sex"))

for i in ls:
    print(form.format(i[0], i[1], i[2]))

Name                 Age                 Sex
mohan                40                  male
surya                37                  female
Raksha               6                   female
shavesh              2                   male

In [6]:
#print  a right aligned tabular structure data using format method with dic reference
form = '{:>20}{:>20}{:>20}'
dic = {'entry1': ['mohan', 40, 'male'], 
       'entry2': ['surya', 37, 'female'], 
       'entry3': ['Raksha', 6, 'female'],
     'entry4': ['shavesh', 2, 'male']}
print(form.format('Name', 'Age', "Sex"))

for key in dic:
    val = dic[key]
    print(form.format(val[0], val[1], val[2]))

                Name                 Age                 Sex
               mohan                  40                male
               surya                  37              female
              Raksha                   6              female
             shavesh                   2                male

In [13]:
#String Lesson 4:
# String formatting

#Escaping Characters:
# Double Quote
print('I'll be going home')
      # it didnt understand where to stop the line, represent in double quote

SyntaxError: invalid syntax (<ipython-input-13-b302d573a53a>, line 6)

In [18]:
print("I'll be going home", end='\n\n')
print('I\'ll be going home') # with backlash in front of apostrophe, next word will be avoided

I'll be going home

I'll be going home

In [21]:
# Raw string, will avoid all escaping characters in the string
print ("I will win the \n you can't beat me", end ='\n\n') # it execute the sentence in 2 line
print (r"I will win the \n you can't beat me") # r in front exclude all escaping characters

I will win the
 you can't beat me

I will win the \n you can't beat me

In [24]:
# for string 
name = 'winner'
print('my name is {}'.format(name)) # old sytle of string formatting
print(f'my name is {name}') # New format string with f

my name is winner
my name is winner

In [31]:
# multiple input
name ='rak'
age= 3.5
print(f'my name is {name} and i am {age} years old')
print(f'my name is {name.upper()} and i am {age:.2f} years old')

my name is rak and i am 3.5 years old
my name is RAK and i am 3.50 years old

In [32]:
#multi line strings
print(f""" {name} is awesome)
{age} is good
""")

 rak is awesome)
3.5 is good

In [34]:
#alignment in f string
# left align
f'{name:*<20} is my name'

'rak***************** is my name'

In [39]:
#print tabular structire using f format string
ls = [('a', 'b', 'c'), ('d', 'e', 'f'), ('g', 'h', 'i')]
print(f"{'header1':<20}{'header2':<20}{'header3':<20}")
for i in ls:
    print(f"{i[0]:<20}{i[1]:<20}{i[2]:<20}")

header1             header2             header3
a                   b                   c
d                   e                   f
g                   h                   i

In [52]:
# Tips and Tricks
# using f string and format method together
x= 10
size = 20
f"{{0:>{size}}}".format(x)

'                  10'

In [16]:
def cube(x,y,z):
    return x**3
    return 
cube(3,4,5)

27

In [10]:
no = 3
no**3

27